<template>
    <div class="colorPicker__wrapper" v-click-outside="closePicker">
        <LabelComponent
            v-if="label"
            :label="label"
            :labelWithoutColon="labelWithoutColon"/>
        <div class="colorPicker__activator" :style="activatorColor" @click="showPicker"></div>
        <div class="colorPicker">
            <ColorPicker
                v-if="pickerIsVisible"
                :color="formattedColor"
                :onChange="onChange"
                :onStartChange="onChange"
                :onEndChange="onChange"
            />
        </div>
    </div>
</template>

<script lang="ts">
    import {DEFAULT_RGBA_COLOR} from './constants';
    import {FormattedRGBAColor, RGBAColor} from '../../../utils/colors/types/RGBAColor';
    import RGBAColorParser from '../../../../utils/colors/RGBAColorParser';
    import colorPickerMixin from '../../../../components/pickers/color/mixins/colorPickerMixin';
    import mixins from 'vue-typed-mixins';
    import LabelComponent from '../../../../components/forms/inputTemplate/labelComponent/LabelComponent.vue';

    export default mixins(colorPickerMixin).extend({
        components: {LabelComponent},
        props: {
            value: {
                type: Object,
                default: () => DEFAULT_RGBA_COLOR as RGBAColor,
            },
        },
        mixins: [colorPickerMixin],
        data() {
            return {
                colorParser: new RGBAColorParser(),
            };
        },
        computed: {
            formattedColor(): FormattedRGBAColor {
                return {
                    red: parseInt(this.value.r),
                    green: parseInt(this.value.g),
                    blue: parseInt(this.value.b),
                    alpha: parseFloat(this.value.a),
                };
            },
            activatorColor(): string {
                return `background:${this.colorParser.parse(this.value) || 'transparent'}`;
            },
        },
        watch: {},
        methods: {
            nonFormattedRGBAColor(color: FormattedRGBAColor): RGBAColor {
                return {
                    r: color.red,
                    g: color.green,
                    b: color.blue,
                    a: color.alpha,
                };
            },
            onChange(color: FormattedRGBAColor): void {
                this.$emit('input', this.nonFormattedRGBAColor(color));
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "../colorPicker";
</style>
