<template>
    <div class="cardLabel__wrapper" :style="orderStyle">
        <div :class="labelClass">
            {{ text }}
        </div>
        <CardTailIconRed v-if="color === CARD_LABEL_COLORS.RED" inheritIconColor/>
        <CardTailIconGreen v-if="color === CARD_LABEL_COLORS.GREEN" inheritIconColor/>
        <CardTailIconBlue v-if="color === CARD_LABEL_COLORS.BLUE" inheritIconColor/>
        <CardTailIconDark v-if="color === CARD_LABEL_COLORS.DARK" inheritIconColor/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {CARD_LABEL_COLORS, CARD_LABEL_POSITIONS, DEFAULT_LABEL_CLASS} from '../constants';
    import CardTailIconRed from '../../icons/cardIcons/CardTailIconRed.vue';
    import CardTailIconGreen from '../../icons/cardIcons/CardTailIconGreen.vue';
    import CardTailIconBlue from '../../icons/cardIcons/CardTailIconBlue.vue';
    import CardTailIconDark from '../../icons/cardIcons/CardTailIconDark.vue';
    import _ from 'lodash';

    export default Vue.extend({
        components: {
            CardTailIconDark,
            CardTailIconBlue,
            CardTailIconGreen,
            CardTailIconRed,
        },
        props: {
            text: String,
            color: {
                type: String,
                default: CARD_LABEL_COLORS.RED,
            },
        },
        data() {
            return {
                CARD_LABEL_COLORS: CARD_LABEL_COLORS,
            };
        },
        computed: {
            labelClass(): any {
                return {
                    [DEFAULT_LABEL_CLASS]: true,
                    [this.color]: true,
                };
            },
            orderStyle(): string {
                return `order: ${this.getOrder}`;
            },
            getOrder(): number {
                let labelColor = _.find(CARD_LABEL_COLORS, (color: any) => {
                    return color == this.color;
                });

                return labelColor ? CARD_LABEL_POSITIONS[labelColor] : 0;
            },
        },
        watch: {},
        methods: {},
    });
</script>

<style scoped lang="scss">
    @import "cardLabel";
</style>
