@import "../../../assets/scss/main";

.cardLabel {
  display: block;
  position: relative;
  border-radius: 4px 8px 0 4px;
  padding: 4px 8px;
  @include captionOne;
  font-weight: $medium;
  color: $white;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;

  &.red {
    background: $red400;
  }

  &.green {
    background: $green400;

  }

  &.blue {
    background: $blue400;

  }

  &.dark {
    background: $gray700;

  }

  &__wrapper {
    display: flex;
    position: relative;
    margin-top: 16px;
    flex-direction: column;
    align-items: flex-end;
    max-width: calc(100% - 20px);
  }
}
