@import "../../../assets/scss/main.scss";

.arrowTop {
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background: $gray20;
  cursor: pointer;
  transform: rotateZ(-90deg);
  border-radius: 100px;
  opacity: 0.8;
  z-index: 2;
  transition: 0.2s;

  &:hover {
    opacity: 1;
    background: $gray30;
    transition: 0.2s;
  }
}
