<template>
    <div class="arrowTop" @click="scrollToTop">
        <SvgIcon name="arrowRight_24"/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {SvgIcon} from 'mlh-ui-icons';

    export default Vue.extend({
        components: {SvgIcon},
        props: {},
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {
            scrollToTop(): void {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth',
                });
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "scrollArrowTop";
</style>
