<template>
    <form class="formComponent" @submit.prevent="submit">
        <slot></slot>
    </form>
</template>

<script lang="ts">
    import Vue from 'vue';

    export type Input = {
        errorMessage?: string;
        validate(): boolean;
        focusElement(): void;
        reset(): void;
    };

    export default Vue.extend({
        data() {
            return {
                inputs: [] as Input[],
            };
        },
        computed: {},
        watch: {},
        methods: {
            reset() {
                this.refreshInputs();
                for (let input of this.inputs) {
                    input.reset();
                }
            },
            submit() {
                if (this.validate()) {
                    this.$emit('submit');
                }
            },
            validate(): boolean {
                let value = true;
                this.refreshInputs();
                for (let input of this.inputs) {
                    if (!input.validate() || !!input.errorMessage) {
                        value = false;
                        input.focusElement();
                    }
                }

                return value;
            },
            refreshInputs(): void {
                this.inputs = [];
                if (this.$slots.default) {
                    this.setInputs(this.$slots.default);
                }
            },
            setInputs(children: any[]): void {
                for (let i = 0, length = children.length; i < length; i++) {
                    if (children[i].validate) {
                        this.inputs.push(children[i]);
                    } else if (children[i].componentInstance && children[i].componentInstance.validate) {
                        this.inputs.push(children[i].componentInstance);
                    } else if (children[i].componentInstance && !children[i].componentInstance.validate && children[i].componentInstance.$children) {
                        this.setInputs(children[i].componentInstance.$children);
                    } else if (!children[i].componentInstance && children[i].children) {
                        this.setInputs(children[i].children);
                    }
                }
            },
        },
    });
</script>

<style scoped>

</style>
