<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.01186 10.995C8.82439 11.1825 8.71907 11.4368 8.71907 11.702C8.71907 11.9672 8.82439 12.2215 9.01186 12.409L13.6049 17.002C13.7911 17.1846 14.042 17.2862 14.3028 17.2849C14.5636 17.2836 14.8134 17.1794 14.9978 16.995C15.1823 16.8105 15.2865 16.5608 15.2878 16.2999C15.2891 16.0391 15.1874 15.7883 15.0049 15.602L11.1049 11.702L15.0049 7.80201C15.1874 7.61572 15.2891 7.36491 15.2878 7.10408C15.2865 6.84325 15.1823 6.59348 14.9978 6.40904C14.8134 6.22461 14.5636 6.12041 14.3028 6.11909C14.042 6.11777 13.7911 6.21944 13.6049 6.40201L9.01186 10.995Z"
                  fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../../../components/icons/SvgIcon.vue';

    export default {
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    };
</script>

<style scoped>

</style>
