<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M14.995 10.995C15.1825 11.1825 15.2878 11.4368 15.2878 11.702C15.2878 11.9672 15.1825 12.2215 14.995 12.409L10.402 17.002C10.2157 17.1846 9.9649 17.2862 9.70407 17.2849C9.44324 17.2836 9.19347 17.1794 9.00903 16.995C8.8246 16.8105 8.7204 16.5608 8.71908 16.2999C8.71777 16.0391 8.81944 15.7883 9.002 15.602L12.902 11.702L9.002 7.80201C8.81944 7.61572 8.71777 7.36491 8.71908 7.10408C8.7204 6.84325 8.8246 6.59348 9.00903 6.40904C9.19347 6.22461 9.44324 6.12041 9.70407 6.11909C9.9649 6.11777 10.2157 6.21944 10.402 6.40201L14.995 10.995Z"
                  fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../../../components/icons/SvgIcon.vue';

    export default {
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    };
</script>

<style scoped lang="scss">
</style>
