@import "../../assets/scss/main";

.rating {
  &__text {
    @include titleFour;
    font-weight: $bold;
    color: $yellow100;
    margin-right: 2px;
  }

  &__icon {
    padding-left: 6px;
    padding-right: 4px;
    cursor: pointer;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__count {
    margin-left: 4px;
    @include textTwo;
    color: $gray1000;
  }
}
