<template>
    <div class="rating__wrapper">
        <div class="rating__text">
            {{ formattedRating }}
        </div>
        <div class="rating__icon" :key="starRating" v-for="starRating in starsCount">
            <RatingStar :filled="starIsFilled(starRating)"/>
        </div>
        <div class="rating__count">
            ({{ ratesCount }})
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    // @ts-ignore
    import themeVariables from '../../assets/scss/colors.module.scss';
    import RatingStar from '../../components/rating/RatingStar.vue';
    import {DEFAULT_STARS_COUNT} from './RatingSelect.vue';

    export default Vue.extend({
        components: {
            RatingStar,
        },
        props: {
            rating: {
                required: true,
                type: Number,
            },
            ratesCount: {
                type: Number,
                default: 0,
            },
            starsCount: {
                type: Number,
                default: DEFAULT_STARS_COUNT,
            },
        },
        data() {
            return {
                themeVariables: themeVariables,
            };
        },
        computed: {
            formattedRating(): number {
                return +this.rating.toFixed(1);
            },
            roundedRating(): number {
                return +Math.round(this.formattedRating);
            },
        },
        watch: {},
        methods: {
            starIsFilled(order: number): boolean {
                return order <= this.roundedRating;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "rating";
</style>
