<template>
    <div class="rating__wrapper">
        <div class="rating__icon"
             :key="index"
             v-for="(star, index) in starsCount"
             @click="setRating(index +1)"
             @mouseenter="hoverRating(index +1)"
             @mouseleave="hoverRating(0)">
            <RatingStar :filled="starIsFilled(index+1)"/>
        </div>
    </div>
</template>

<script lang="ts">
    import RatingStar from '../../components/rating/RatingStar.vue';
    import Vue from 'vue';

    export const DEFAULT_STARS_COUNT = 5;

    export default Vue.extend({
        components: {
            RatingStar,
        },
        props: {
            starsCount: {
                type: Number,
                default: DEFAULT_STARS_COUNT,
            },
            value: {
                type: Number,
                default: 0,
            },
        },
        data() {
            return {
                rating: 0,
                hoveredRating: 0,
            };
        },
        methods: {
            hoverRating(order: number) {
                this.hoveredRating = order;
            },
            starIsFilled(order: number): boolean {
                return this.hoveredRating ? order <= this.hoveredRating : order <= this.value;
            },
            setRating(order: number): void {
                this.rating = order;
                this.$emit('input', order);
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "rating";
</style>
