<template>
    <RatingIcon
        :iconColor="filled ? themeVariables.yellow100 : themeVariables.gray30"
        noHover
    />
</template>

<script lang="ts">
    import Vue from 'vue';
    import RatingIcon from '../icons/RatingIcon.vue';
    // @ts-ignore
    import themeVariables from '../../assets/scss/colors.module.scss';

    export default Vue.extend({
        components: {
            RatingIcon,
        },
        props: {
            filled: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                themeVariables: themeVariables,
            };
        },
    });
</script>

<style scoped lang="scss">
    @import "rating";
</style>
