<template>
    <div class="rating__wrapper">
        <Tooltip :position="POSITION.BOTTOM_LEFT"
                 :key="index"
                 v-for="(rating, index) in starsCount">
            <template slot="activator">
                <div class="rating__icon"
                     @click="setRating(index +1)"
                     @mouseenter="hoverRating(index +1)"
                     @mouseleave="hoverRating(0)">
                    <RatingStar :filled="starIsFilled(index+1)"/>
                </div>
            </template>
            {{ ratingTooltips[index] }}
        </Tooltip>
    </div>
</template>

<script lang="ts">
    import Tooltip from '../../components/popupElements/tooltip/Tooltip.vue';
    import RatingComponent_new from './RatingSelect.vue';
    import mixins from 'vue-typed-mixins';
    import {POSITION} from '../../components/popupElements/constants';

    export default mixins(RatingComponent_new).extend({
        components: {
            Tooltip,
        },
        props: {
            ratingTooltips: {
                type: Array as () => string[],
                required: true,
            },
        },
        data() {
            return {
                POSITION: POSITION,
            };
        },
        watch: {
            $props: {
                immediate: true,
                handler() {
                    this.validateProps();
                },
            },
        },
        methods: {
            validateProps(): void {
                if (this.ratingTooltips.length !== this.starsCount || this.starsCount !== this.ratingTooltips.length) {
                    throw new Error('tooltips length must be equal stars count');
                }
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "rating";
</style>
