
.accordion {
  &__wrapper {
    display: flex;
    align-items: center;

    .accordion {
      width: 100%;

      .card {
        .filter__icon {
          transition: 0.2s;
          transform: rotateX(0);
        }

        &-active {
          .filter__icon {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;
    white-space: nowrap;
  }

  &__title {
    @include headline;
    font-weight: $bold;
    color: $gray1000;
    padding-right: 8px;
  }

  &__icon {
    margin-left: auto;

    &.up {
      transform: rotateZ(180deg);
    }
  }

  &::v-deep {
    .card {
      overflow: hidden;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
      }

      &-footer {
        display: none !important;
        height: 0 !important;
      }
    }

    .accordion {
      &-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 0;
      }

      .filter__options {
        max-height: 308px;
        overflow: auto;
        overflow-x: hidden;
      }
    }
  }
}
