.actionList {
  white-space: nowrap;

  &__item {
    padding: 8px 12px;
    transition: 0.2s;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: $gray10;
      transition: 0.2s;
    }

    &.active {
      background: $gray20;
    }
  }

  &__link {
    @include headline;
    color: $gray1000;
    font-weight: $regular;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 8px;
  }
}
