$cardItemMargin: 8px;

.card {
  &__labels {
    position: absolute;
    left: 0;
    right: -8px;
    bottom: 0;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.fixedPopup__content {
  .card {
    &__popover {
      &__header {
        margin-bottom: 12px;
      }
    }
  }
}

.card {
  &__popover {
    &__header {
      @include titleFour_one;
      font-weight: $bold;
      color: $gray1000;
    }

    &__description {
      @include textTwo;
      font-weight: $regular;
      color: $gray700;
      margin-bottom: 16px;
    }

    &__rating {
      margin: 16px 0;
      display: flex;
      align-items: center;

      &__count {
        @include textTwo;
        font-weight: $regular;
        color: $gray1000;
        margin-left: 8px;
      }
    }

    &__actions {
      margin-top: 4px;

      &.twoButtons {
        display: flex;
        align-self: center;
        margin-top: 0;
        width: 100%;
        @include small-block {
          flex-wrap: wrap;
        }

        .buttonComponent__wrapper {
          width: calc(50% - 6px);

          &:not(:last-child) {
            margin-right: 12px;
          }

          @include small-block {
            width: 100%;
            margin-right: 0;
            &:not(:last-child) {
              margin-right: 0;
              margin-bottom: 12px;
            }
          }
        }
      }
    }

    &__info {
      display: flex;
      align-self: flex-start;
      margin-top: 2px;
      width: 100%;

      &__item {
        display: flex;
        align-self: flex-start;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
      }

      &__icon {
        margin-right: 4px;
      }

      &__title {
        @include textTwo;
        font-weight: $bold;
        color: $gray1000;
        word-break: break-word;
      }

      &__text {
        display: block;
        @include textTwo;
        font-weight: $regular;
        color: $gray1000;
        word-break: break-word;
        width: 100%;

        &-bold {
          float: left;
          font-weight: $bold;
          margin-right: 4px;
        }
      }
    }
  }
}

.cards {
  &__wrapper {
    margin-top: 32px;
    @include row-flex();
    flex: 1 0 auto;
    @include small-block {
      margin-top: 24px;
    }

    > {
      .card__wrapper {
        @include col();
        @include size(2.4);
        @include size-extraLarge(3);
        @include size-large(3);
        @include size-medium(4);
        @include size-small(12);
        margin-bottom: 32px;
        @include small-block {
          margin-bottom: 24px;
        }
      }
    }

    &.small {
      > {
        .card__wrapper {
          @include col();
          @include size(3);
          @include size-extraLarge(4);
          @include size-large(4);
          @include size-medium(4);
          @include size-small(12);
        }
      }
    }
  }
}

.card {
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
      display: flex;
      align-items: center;
      padding: $cardItemMargin 12px;
      border-radius: 4px;
      width: 100%;
      transition: 0.2s;

      &:hover {
        background: $gray10;
        transition: 0.2s;
      }

      &.main {
        padding-bottom: $cardItemMargin;
        margin-bottom: $cardItemMargin * 2;
        position: relative;

        &:before {
          position: absolute;
          content: '';
          width: calc(100% + #{$cardItemMargin} * 2);
          left: -$cardItemMargin;
          right: -$cardItemMargin;
          bottom: -$cardItemMargin;
          height: 1px;
          background: $gray20;
        }
      }
    }

    &__icon {
      margin-right: $cardItemMargin;
    }

    &__text {
      @include headline;
      color: $gray1000;
      font-weight: $regular;
    }
  }
}

.card {
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
      display: flex;
      align-items: center;
      padding: $cardItemMargin 12px;
      border-radius: 4px;
      width: 100%;
      transition: 0.2s;

      &:hover {
        background: $gray10;
        transition: 0.2s;
      }

      &.main {
        padding-bottom: $cardItemMargin;
        margin-bottom: $cardItemMargin * 2;
        position: relative;

        &:before {
          position: absolute;
          content: '';
          width: calc(100% + #{$cardItemMargin} * 2);
          left: -$cardItemMargin;
          right: -$cardItemMargin;
          bottom: -$cardItemMargin;
          height: 1px;
          background: $gray20;
        }
      }
    }

    &__icon {
      margin-right: $cardItemMargin;
    }

    &__text {
      @include headline;
      color: $gray1000;
      font-weight: $regular;
    }
  }
}

