@mixin chips {
  @include headline;
  color: $gray700;
  border: 1px solid $gray30;
  border-radius: 100px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  max-height: 40px;
  margin-bottom: 8px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}
