$primary: var(--color-primary, #5062FE);
$secondary: var(--color-secondary, #FFFFFF);
$subPrimary: var(--color-subPrimary, #283AD6);
$info: var(--color-info, #5D66BF);

$gray1000: #0B1125;
$gray900: #141A2E;
$gray800: #20263B;
$gray700: #2D3448;
$gray600: #383F52;
$gray500: #444B5F;
$gray400: #4F5568;
$gray300: #5C6274;
$gray200: #6A7081;
$gray100: #787E8D;
$gray90: #868C9A;
$gray80: #9599A6;
$gray70: #A2A5B0;
$gray60: #B0B4BC;
$gray50: #CDD0D5;
$gray40: #DADBE0;
$gray30: #E3E5E7;
$gray20: #F0F0F0;
$gray10: #F8F8F8;
$white: #FFFFFf;

$blue500: #283AD6;
$blue400: #005FF9;
$blue300: #5062FE;
$blue200: #283AD6;
$blue100: #8CA5FF;
$blue80: #BED4FF;
$blue40: #DEECFD;
$blue20: #EFF6FC;

$red500: #E60311;
$red400: #ED0A34;
$red300: #FC525D;
$red200: #FF818D;
$red100: #FEB7BB;
$red80: #FED8DB;
$red40: #FFE9EA;
$red20: #FFEFEF;

$green500: #006644;
$green400: #0DC268;
$green300: #36B37E;
$green200: #57D9A3;
$green100: #79F2C0;
$green80: #ABF5D1;
$green40: #D2F6EC;
$green20: #E3FCEF;

$yellow500: #E16D00;
$yellow400: #FF8B00;
$yellow300: #FF991F;
$yellow200: #FFAB00;
$yellow100: #FFC400;
$yellow80: #FFE380;
$yellow40: #FFF0B3;
$yellow20: #FFFAE6;

$purple500: #4C2888;
$purple400: #5A32A3;
$purple300: #6F42C1;
$purple200: #8A63D2;
$purple100: #B392F0;
$purple80: #D1BCF9;
$purple40: #E6DCFD;
$purple20: #F5F0FF;

:export {
  primary: $primary;
  secondary: $secondary;
  subPrimary: $subPrimary;
  info: $info;
  gray1000: $gray1000;
  gray900: $gray900;
  gray800: $gray800;
  gray700: $gray700;
  gray600: $gray600;
  gray500: $gray500;
  gray400: $gray400;
  gray300: $gray300;
  gray200: $gray200;
  gray100: $gray100;
  gray90: $gray90;
  gray80: $gray80;
  gray70: $gray70;
  gray60: $gray60;
  gray50: $gray50;
  gray40: $gray40;
  gray30: $gray30;
  gray20: $gray20;
  gray10: $gray10;

  blue500: $blue500;
  blue400: $blue400;
  blue300: $blue300;
  blue200: $blue200;
  blue100: $blue100;
  blue80: $blue80;
  blue40: $blue40;
  blue20: $blue20;

  red500: $red500;
  red400: $red400;
  red300: $red300;
  red200: $red200;
  red100: $red100;
  red80: $red80;
  red40: $red40;
  red20: $red20;

  green500: $green500;
  green400: $green400;
  green300: $green300;
  green200: $green200;
  green100: $green100;
  green80: $green80;
  green40: $green40;
  green20: $green20;

  yellow500: $yellow500;
  yellow400: $yellow400;
  yellow300: $yellow300;
  yellow200: $yellow200;
  yellow100: $yellow100;
  yellow80: $yellow80;
  yellow40: $yellow40;
  yellow20: $yellow20;

  purple500: $purple500;
  purple400: $purple400;
  purple300: $purple300;
  purple200: $purple200;
  purple100: $purple100;
  purple80: $purple80;
  purple40: $purple40;
  purple20: $purple20;

  white: $white;
}
