@import "../../components/forms/assets/dropdown";
@import "../../components/forms/assets/input";

$dialogPadding: 24px;
$dialogPaddingMobile: 16px;

.vue-portal-target {
  .v-easy-dialog--content-container {
    border-radius: $borderRadius;
    @include small-block {
      max-width: 100% !important;
      padding: 0 10px;
      width: 100% !important;
    }
  }

  .v-easy-dialog--backdrop {
    background-color: rgba($gray1000, 0.5) !important;

    > button {
      padding: 0;
      line-height: inherit;
      color: inherit;
      background-color: transparent;
      margin: 0;
      box-sizing: border-box;
      border: none;
      box-shadow: none;
    }
  }

  .v-easy-dialog--content-grow *:first-child {
    flex-grow: 0 !important;
  }

  .v-easy-dialog--content-grow > .dialog__container {
    flex-grow: 1 !important;
  }
}

//styles for dropdown (fixed)
.vs {
  &__dropdown-menu {
    min-width: 72px;
    @include dropdown;
    position: fixed;
    z-index: 9999;
    width: 100%;
    transform: translateY(8px +1px);
  }

  &__dropdown-option {
    @include dropdownOption;
  }
}

.dialog__body {
  .scrolledBlock {
    height: 100%;
    overflow: auto;
    margin: 0 -#{$dialogPadding};
    padding: 0 #{$dialogPadding};
    @include small-block {
      margin: 0 -#{$dialogPaddingMobile};
      padding: 0 #{$dialogPaddingMobile};
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 100%;
    }
  }

  .notScrolledBlock {
    height: 100%;
    overflow: hidden;
    margin: 0 -#{$dialogPadding};
    padding: 0 #{$dialogPadding};
    @include small-block {
      margin: 0 -#{$dialogPaddingMobile};
      padding: 0 #{$dialogPaddingMobile};
    }

    .tabs {
      &__wrapper {
        height: 100%;
      }

      &__content {
        overflow: hidden;
        margin-top: #{$dialogPadding};
        @include small-block {
          margin-top: $dialogPaddingMobile;
        }

        .tab {
          &.active {
            height: 100%;

            .tab {
              &__content {
                overflow: hidden;
                height: 100%;
              }
            }
          }
        }
      }
    }

    .tabs__nav {
      padding: 0 #{$dialogPadding};
      margin: 0 -#{$dialogPadding};
      margin-top: -20px;
      @include small-block {
        margin: 0 -#{$dialogPaddingMobile};
        padding: 0 #{$dialogPaddingMobile};
        margin-top: -16px;
      }
    }
  }
}