@import "../../assets/fonts/variables.scss";
@import "../../assets/fonts/mixins.scss";
@import "colors.module";
@import "shadows.module";
@import "smart-grid";
@import "variables";
@import "reset";
@import "dialogStyles";
@import "animations";
@import "toast";
@import "chips";
@import "card";
@import "tag";
@import "actionList";
@import "accordion";
@import "plyr";

* {
  font-family: $ubuntu;
}

$wrapperMargin: 32px;
$tabHeight: 52px;

.loader {
  padding: 0 !important;
  display: flex !important;
  width: 100% !important;
  margin: 16px 0 !important;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.container {
  @include container;
}

.fullWidthBlock {
  width: 100%;
}

.searchComponent {
  margin: $wrapperMargin 0 16px 0;
  @include small-block {
    margin: 24px 0 16px 0;
  }

  &.withFilters {
    margin-bottom: 16px;
  }
}

.tabs {
  width: 100%;
}
