$mainColor: #ffffff;
$hoverColor: #0000006e;

.plyr {
  --plyr-video-control-color-hover: #ffffff;
  --plyr-video-control-background-hover: #0000006e;
  --plyr-range-fill-background: #ffffff;
  --plyr-control-toggle-checked-background: #0000006e;
  --plyr-color-main: #ffffff;

  &__video {
    &-wrapper {
      margin: auto;

      video {
        max-height: 100%;
        height: 100%;
      }
    }
  }
}
