$inset100: inset 0px 1px 4px rgba(162, 165, 176, 0.2);
$inset150: inset 0px 1px 4px rgba(11, 17, 37, 0.1);
$inset200: inset 0px 1px 4px rgba(11, 17, 37, 0.5);

$drop100: 0px 0.3px 0.9px rgba(11, 17, 37, 0.1), 0px 1.6px 3.6px rgba(11, 17, 37, 0.13);
$drop200: 0px 5px 20px rgba(21, 7, 38, 0.08);
$drop300: 0px 1.2px 3.6px rgba(11, 17, 37, 0.1), 0px 6.4px 14.4px rgba(11, 17, 37, 0.13);
$drop400: 0px 4.8px 14.4px rgba(11, 17, 37, 0.18), 0px 25.6px 57.6px rgba(11, 17, 37, 0.22);

:export {
  inset100: $inset100;
  inset150: $inset150;
  inset200: $inset200;

  drop100: $drop100;
  drop200: $drop200;
  drop300: $drop300;
  drop400: $drop400;
}

@mixin border-shadow($size: 1px, $color, $subShadow: false) {
  @if $subShadow {
    box-shadow: inset 0 0 0 $size $color, $subShadow;
  } @else {
    box-shadow: inset 0 0 0 $size $color;
  }
}

@mixin borderShadowOutside($size: 1px, $color, $subShadow: false) {
  @if $subShadow {
    box-shadow: 0 0 0 $size $color, $subShadow;
  } @else {
    box-shadow: 0 0 0 $size $color;
  }
}

@mixin borderShadowTopBottom($size: 1px, $color, $subShadow: false) {
  @if $subShadow {
    box-shadow: inset 0 $size 0 $color, $subShadow;
  } @else {
    box-shadow: inset 0 $size 0 $color;
  }
}
