@import "main.scss";

* {
  outline: none !important;
}

.showCase {
  display: flex;
  min-height: 100vh;

  &__header {
    display: flex;
    width: 100%;
    padding-bottom: 18px;
    border-bottom: 1px solid $gray30;

    h1 {
      @include titleThree;
      font-weight: $bold;
    }
  }

  &__content {
    display: flex;
    flex: 1 0 auto;
    padding: 18px 24px;
    flex-direction: column;
  }

  &__container {
    max-width: 928px;
  }

  &__block {
    margin-bottom: 32px;

    p {
      margin-bottom: 24px;
      font-size: 20px;
      line-height: 24px;
      font-weight: $bold;
      color: $gray1000;
    }
  }
}

.state {
  display: flex;
  flex-wrap: wrap;

  &__item {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 33.33%;

    input {
      &[type="checkbox"] {
        width: 20px;
        height: 20px;
      }
    }

    & > :first-child {
      margin-right: 12px;
    }
  }
}

.iframe {
  &__wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
  }
}
