@use "sass:math";

$columns: 12;
$atom: math.div(100%, $columns);

$break_extraLarge: 1679px;
$break_large: 1279px;
$break_medium: 1023px;
$break_small: 767px;

$offset: 30px;
$offset_extraLarge: $offset;
$offset_large: 20px;
$offset_medium: 20px;
$offset_small: 20px;

$offset_one_side: ($offset * 0.5);
$offset_extraLarge_one_side: ($offset_extraLarge * 0.5);
$offset_large_one_side: ($offset_large * 0.5);
$offset_medium_one_side: ($offset_medium * 0.5);
$offset_small_one_side: ($offset_small * 0.5);

$fields: 24px;

@mixin wrapper-full(){
    padding-left: $fields;
    padding-right: $fields;
}

@mixin row-offsets(){
    margin-left: ($offset_one_side * -1);
    margin-right: ($offset_one_side * -1);

    @include large-block(){
        margin-left: ($offset_large_one_side * -1);
        margin-right: ($offset_large_one_side * -1);
    }

    @include medium-block(){
        margin-left: ($offset_medium_one_side * -1);
        margin-right: ($offset_medium_one_side * -1);
    }

    @include small-block(){
        margin-left: ($offset_small_one_side * -1);
        margin-right: ($offset_small_one_side * -1);
    }
}

@mixin col-offsets($type){
    #{$type}-left: $offset_one_side;
    #{$type}-right: $offset_one_side;

    @include large-block(){
        #{$type}-left: $offset_large_one_side;
        #{$type}-right: $offset_large_one_side;
    }

    @include medium-block(){
        #{$type}-left: $offset_medium_one_side;
        #{$type}-right: $offset_medium_one_side;
    }

    @include small-block(){
        #{$type}-left: $offset_small_one_side;
        #{$type}-right: $offset_small_one_side;
    }
}

@mixin wrapper(){
    max-width: 100%;
    margin: 0 auto;
    @include wrapper-full();
}

@mixin row-flex(){
    display: flex;
    flex-wrap: wrap;
    @include row-offsets();
}

@mixin row-float(){
    @include row-offsets();
    @include clearfix();
}

@mixin row-ib(){
    @include row-offsets();
}

@mixin col(){
    box-sizing: border-box;
    word-wrap: break-word;
    @include col-offsets(margin);
}

@mixin col-float(){
    float: left;
}

@mixin col-ib(){
    display: inline-block;
    vertical-align: top;
}

@mixin col-padding(){
    word-wrap: break-word;
    @include col-offsets(padding);
}

@mixin size($n){
    $val: math.div(100%, $columns) * $n;
    width: #{calc(#{$val} - #{$offset})};
}

@mixin size-extraLarge($n){
    $val: math.div(100%, $columns) * $n;
    @include extraLarge(width, #{calc(#{$val} - #{$offset_extraLarge})});
}

@mixin size-large($n){
    $val: math.div(100%, $columns) * $n;
    @include large(width, #{calc(#{$val} - #{$offset_large})});
}

@mixin size-medium($n){
    $val: math.div(100%, $columns) * $n;
    @include medium(width, #{calc(#{$val} - #{$offset_medium})});
}

@mixin size-small($n){
    $val: math.div(100%, $columns) * $n;
    @include small(width, #{calc(#{$val} - #{$offset_small})});
}

@mixin shift($n){
    $val: math.div(100%, $columns) * $n;
    margin-left: #{calc(#{$val} + #{$offset_one_side})};
    margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-left($n){
    $val: math.div(100%, $columns) * $n;
    margin-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-right($n){
    $val: math.div(100%, $columns) * $n;
    margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding($n){
    $val: math.div(100%, $columns) * $n;
    padding-left: #{calc(#{$val} + #{$offset_one_side})};
    padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-left($n){
    $val: math.div(100%, $columns) * $n;
    padding-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-right($n){
    $val: math.div(100%, $columns) * $n;
    padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-extraLarge($n){
    $val: math.div(100%, $columns) * $n;
    @include extraLarge(margin-left, #{calc(#{$val} + #{$offset_extraLarge_one_side})});
    @include extraLarge(margin-right, #{calc(#{$val} + #{$offset_extraLarge_one_side})});
}

@mixin shift-extraLarge-left($n){
    $val: math.div(100%, $columns) * $n;
    @include extraLarge(margin-left, #{calc(#{$val} + #{$offset_extraLarge_one_side})});
}

@mixin shift-extraLarge-right($n){
    $val: math.div(100%, $columns) * $n;
    @include extraLarge(margin-right, #{calc(#{$val} + #{$offset_extraLarge_one_side})});
}

@mixin shift-extraLarge-padding($n){
    $val: math.div(100%, $columns) * $n;
    @include extraLarge(padding-left, #{calc(#{$val} + #{$offset_extraLarge_one_side})});
    @include extraLarge(padding-right, #{calc(#{$val} + #{$offset_extraLarge_one_side})});
}

@mixin shift-extraLarge-padding-left($n){
    $val: math.div(100%, $columns) * $n;
    @include extraLarge(padding-left, #{calc(#{$val} + #{$offset_extraLarge_one_side})});
}

@mixin shift-extraLarge-padding-right($n){
    $val: math.div(100%, $columns) * $n;
    @include extraLarge(padding-right, #{calc(#{$val} + #{$offset_extraLarge_one_side})});
}

@mixin shift-large($n){
    $val: math.div(100%, $columns) * $n;
    @include large(margin-left, #{calc(#{$val} + #{$offset_large_one_side})});
    @include large(margin-right, #{calc(#{$val} + #{$offset_large_one_side})});
}

@mixin shift-large-left($n){
    $val: math.div(100%, $columns) * $n;
    @include large(margin-left, #{calc(#{$val} + #{$offset_large_one_side})});
}

@mixin shift-large-right($n){
    $val: math.div(100%, $columns) * $n;
    @include large(margin-right, #{calc(#{$val} + #{$offset_large_one_side})});
}

@mixin shift-large-padding($n){
    $val: math.div(100%, $columns) * $n;
    @include large(padding-left, #{calc(#{$val} + #{$offset_large_one_side})});
    @include large(padding-right, #{calc(#{$val} + #{$offset_large_one_side})});
}

@mixin shift-large-padding-left($n){
    $val: math.div(100%, $columns) * $n;
    @include large(padding-left, #{calc(#{$val} + #{$offset_large_one_side})});
}

@mixin shift-large-padding-right($n){
    $val: math.div(100%, $columns) * $n;
    @include large(padding-right, #{calc(#{$val} + #{$offset_large_one_side})});
}

@mixin shift-medium($n){
    $val: math.div(100%, $columns) * $n;
    @include medium(margin-left, #{calc(#{$val} + #{$offset_medium_one_side})});
    @include medium(margin-right, #{calc(#{$val} + #{$offset_medium_one_side})});
}

@mixin shift-medium-left($n){
    $val: math.div(100%, $columns) * $n;
    @include medium(margin-left, #{calc(#{$val} + #{$offset_medium_one_side})});
}

@mixin shift-medium-right($n){
    $val: math.div(100%, $columns) * $n;
    @include medium(margin-right, #{calc(#{$val} + #{$offset_medium_one_side})});
}

@mixin shift-medium-padding($n){
    $val: math.div(100%, $columns) * $n;
    @include medium(padding-left, #{calc(#{$val} + #{$offset_medium_one_side})});
    @include medium(padding-right, #{calc(#{$val} + #{$offset_medium_one_side})});
}

@mixin shift-medium-padding-left($n){
    $val: math.div(100%, $columns) * $n;
    @include medium(padding-left, #{calc(#{$val} + #{$offset_medium_one_side})});
}

@mixin shift-medium-padding-right($n){
    $val: math.div(100%, $columns) * $n;
    @include medium(padding-right, #{calc(#{$val} + #{$offset_medium_one_side})});
}

@mixin shift-small($n){
    $val: math.div(100%, $columns) * $n;
    @include small(margin-left, #{calc(#{$val} + #{$offset_small_one_side})});
    @include small(margin-right, #{calc(#{$val} + #{$offset_small_one_side})});
}

@mixin shift-small-left($n){
    $val: math.div(100%, $columns) * $n;
    @include small(margin-left, #{calc(#{$val} + #{$offset_small_one_side})});
}

@mixin shift-small-right($n){
    $val: math.div(100%, $columns) * $n;
    @include small(margin-right, #{calc(#{$val} + #{$offset_small_one_side})});
}

@mixin shift-small-padding($n){
    $val: math.div(100%, $columns) * $n;
    @include small(padding-left, #{calc(#{$val} + #{$offset_small_one_side})});
    @include small(padding-right, #{calc(#{$val} + #{$offset_small_one_side})});
}

@mixin shift-small-padding-left($n){
    $val: math.div(100%, $columns) * $n;
    @include small(padding-left, #{calc(#{$val} + #{$offset_small_one_side})});
}

@mixin shift-small-padding-right($n){
    $val: math.div(100%, $columns) * $n;
    @include small(padding-right, #{calc(#{$val} + #{$offset_small_one_side})});
}

@mixin extraLarge($name, $value){
    @media screen and (max-width: $break_extraLarge){
        #{$name}: $value;
    }
}

@mixin extraLarge-block(){
    @media screen and (max-width: $break_extraLarge){
        @content;
    }
}

@mixin large($name, $value){
    @media screen and (max-width: $break_large){
        #{$name}: $value;
    }
}

@mixin large-block(){
    @media screen and (max-width: $break_large){
        @content;
    }
}

@mixin medium($name, $value){
    @media screen and (max-width: $break_medium){
        #{$name}: $value;
    }
}

@mixin medium-block(){
    @media screen and (max-width: $break_medium){
        @content;
    }
}

@mixin small($name, $value){
    @media screen and (max-width: $break_small){
        #{$name}: $value;
    }
}

@mixin small-block(){
    @media screen and (max-width: $break_small){
        @content;
    }
}

@mixin from($min_width){
    @media screen and (min-width: $min_width){
        @content;
    }
}

@mixin to($max_width){
    @media screen and (max-width: $max_width){
        @content;
    }
}

@mixin from-to($min_width, $max_width){
    @media screen and (min-width: $min_width) and (max-width: $max_width){
        @content;
    }
}

@mixin u-row-flex($offset){
    display: flex;
    flex-wrap: wrap;
    margin-left: math.div($offset, -2);
    margin-right: math.div($offset, -2);
}

@mixin u-col($offset){
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: ($offset * 0.5);
    margin-right: ($offset * 0.5);
}

@mixin u-size($n, $columns, $offset){
    width: #{calc(100% / #{$columns} * #{$n} - #{$offset})};
}

@mixin reset(){
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 100%;
        font-weight: normal;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    input,textarea,select{
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    legend{
        color: #000;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

@mixin debug($background, $outline){
    height: 100vh;
    position: fixed;
    width: 100%;

    > div{
        height: inherit;
        @include wrapper();

        > div{
            height: inherit;
            @include row-flex();

            > div{
                @include col();
                @include size(1);
                @include size-large(1);
                @include size-medium(1);
                @include size-small(1);
                height: inherit;
                outline: $outline;
                background: $background;
            }
        }
    }
}

@mixin clearfix(){
    &::after{
        display: block;
        content: "";
        clear: both;
    }
}
