.toasted-container {
  & {
    &.bottom-right {
      bottom: 32px !important;
      right: 32px !important;
    }
  }

  & .toasted {
    box-shadow: $elevation !important;
    padding: 18px !important;
    background: $gray700 !important;
    border-radius: $borderRadius !important;
    align-items: start !important;

    .toast {
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      flex-direction: column;
      max-width: 524px;

      &__title {
        @include textTwo;
        color: $gray20;
        font-weight: $bold;
        display: block;
      }

      &__text {
        @include textTwo;
        color: $gray20;
        font-weight: $regular;
      }

      &__cross {
        &__icon {
          position: absolute;
          right: 18px;
          height: 20px;
          z-index: -1;
          display: flex;
          align-items: center;
        }
      }

      &__icon {
        margin-right: 18px;
        height: 20px;
      }
    }

    .action.toast__cross {
      margin: 0 0 0 18px;
      display: flex;
      width: 20px;
      min-width: 20px;
      height: 20px;
      min-height: 20px;

      text-decoration: none;
      font-size: inherit;
      padding: 0;

      border-radius: 0;
      text-transform: none;
      letter-spacing: inherit;
      font-weight: inherit;
      cursor: pointer;
    }
  }
}
