$borderRadius: 8px;
$elevation: $drop200;

$borderColor: $gray30;
$borderColorDisabled: $gray30;
$borderColorHover: $gray50;
$borderColorFocus: $gray60;

$placeholderColor: $gray60;
$placeholderColorDisabled: $gray40;

$hoverEffect: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.12) 100%), var(--background-color) !important;

@mixin container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1600px;

  @include extraLarge-block {
    max-width: 1200px;
  }
  @include large-block {
    max-width: 100%;
    padding: 0 32px;
  }
  @include medium-block {
    padding: 0 24px;
  }
  @include small-block {
    padding: 0 16px;
  }
}