<template>
    <div class="filter__wrapper">
        <div class="filter__options">
            <div :class="['filter__labelItem', {active: !showDate}]"
                 @click="clear">
                {{ allItemsText }}
            </div>

            <div v-line-clamp="1"
                 :class="['filter__labelItem lineClamp', {active: showDate}]"
                 @click="openDatePicker"
            >
                {{ filter.title }}
            </div>

            <div class="filter__label_datepicker" v-show="showDate">
                <DatepickerRange placeholder="From"
                                 placeholderEnd="To"
                                 v-model="internalValue"/>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import DatepickerRange from '../../pickers/datepicker/DatepickerRange.vue';
    import singleFilterMixin from '../mixins/singleFilterMixin';
    import {FilterSelectedOption, FilterUrlValue} from '../types/FilterComponent';
    import _ from 'lodash';

    export default mixins(singleFilterMixin).extend({
        components: {
            DatepickerRange,
        },
        props: {
            placeholderDateFrom: {
                type: String,
                default: 'From',
            },
            placeholderDateTo: {
                type: String,
                default: 'To',
            },
        },
        data() {
            return {
                activeFilter: null,
                showDate: false,
                internalValue: {},
            };
        },
        computed: {
            hasValue(): boolean {
                return this.internalValue.start !== undefined;
            },
        },
        methods: {
            openDatePicker() {
                this.showDate = true;
            },
            getInternalValueFromUrl(searchParams: { [key: string]: string | string[] }): any {
                let indexFrom = `${this.index}_from`;
                let indexTo = `${this.index}_to`;
                let from = (searchParams[indexFrom] ?? '') as string;
                let to = (searchParams[indexTo] ?? '') as string;
                if (from !== '' && to !== '') {
                    return {
                        start: from,
                        end: to,
                    };
                } else {
                    return {};
                }
            },
            getUrlValue(): FilterUrlValue {
                let indexFrom = `${this.index}_from`;
                let indexTo = `${this.index}_to`;

                if (!this.hasValue) {
                    return {
                        [indexFrom]: '',
                        [indexTo]: '',
                    };
                } else {
                    return {
                        [indexFrom]: this.internalValue.start,
                        [indexTo]: this.internalValue.end,
                    };
                }
            },
            getSelectedOptions(): FilterSelectedOption[] {
                if (!this.hasValue) {
                    return [];
                }
                return [
                    {
                        filterIndex: this.index,
                        text: `${this.internalValue!.start} - ${this.internalValue!.end}`,
                        option: this.internalValue,
                    },
                ];
            },
            setSelectedOptionsSilently(options: FilterSelectedOption[]): void {
                let option = _.find(options, (selectedOption) => {
                    return selectedOption.filterIndex === this.index;
                });
                this.internalValue = option ? option.option : {};
            },
            clearSelectedOption(): void {
                this.clear();
            },
            clearInternalValue(): void {
                this.internalValue = {};
                this.showDate = false;
            },
        },
        mounted() {
            this.showDate = this.hasValue;
        },
    });
</script>


<style scoped lang="scss">
    @import "../labelFilter/labelFilter";

    .filter__label_datepicker {
        margin-top: 16px;
    }

    ::v-deep {
        .datepicker__inputs {
            display: flex;
            column-gap: 8px;
            width: 100%;

            .input__content {
                min-width: inherit !important;
                border-radius: 8px !important;
            }
        }

        .input__wrapper {
            width: 50%;
        }
    }
</style>
