<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M14.1199 2.87811C12.9491 1.7073 11.0509 1.7073 9.88005 2.87811L2.87811 9.88005C1.7073 11.0509 1.7073 12.9491 2.87811 14.1199L9.88005 21.1219C11.0509 22.2927 12.9491 22.2927 14.1199 21.1219L21.1219 14.1199C22.2927 12.9491 22.2927 11.0509 21.1219 9.88005L14.1199 2.87811ZM12 7C11.4477 7 11 7.44772 11 8V13C11 13.5523 11.4477 14 12 14C12.5523 14 13 13.5523 13 13V8C13 7.44772 12.5523 7 12 7ZM12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15Z"
                  fill="#FC525D"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../../icons/SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
