<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M14.6488 4.51817C13.4716 2.49394 10.5284 2.49394 9.35115 4.51817L2.41434 16.4455C1.23708 18.4697 2.70866 21 5.06319 21H18.9368C21.2913 21 22.7629 18.4697 21.5857 16.4455L14.6488 4.51817ZM12.0005 8.00073C11.4482 8.00073 11.0005 8.44845 11.0005 9.00073V14.0007C11.0005 14.553 11.4482 15.0007 12.0005 15.0007C12.5528 15.0007 13.0005 14.553 13.0005 14.0007V9.00073C13.0005 8.44845 12.5528 8.00073 12.0005 8.00073ZM12.0005 16.0007C11.4482 16.0007 11.0005 16.4484 11.0005 17.0007C11.0005 17.553 11.4482 18.0007 12.0005 18.0007C12.5528 18.0007 13.0005 17.553 13.0005 17.0007C13.0005 16.4484 12.5528 16.0007 12.0005 16.0007Z"
                  fill="#FF991F"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../../icons/SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
