<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0975 16.741C16.4575 16.0735 16.9861 15.5246 17.5159 14.9744C17.8562 14.6211 18.197 14.2673 18.4939 13.8812C19.4416 12.6487 20 11.1355 20 9.5C20 5.35786 16.4183 2 12 2C7.58172 2 4 5.35786 4 9.5C4 11.1355 4.55837 12.6487 5.50614 13.8812C5.80303 14.2673 6.14379 14.6211 6.48405 14.9744L6.48406 14.9744C7.01389 15.5246 7.54252 16.0735 7.90247 16.741C7.96497 16.8569 8 16.946 8 17H16C16 16.946 16.035 16.8569 16.0975 16.741ZM16 19V20C16 21.1046 15.1046 22 14 22H10C8.89543 22 8 21.1046 8 20V19H16ZM12 5C11.4477 5 11 5.44772 11 6C11 6.55228 11.4477 7 12 7C12.394 7 12.7841 7.0776 13.1481 7.22836C13.512 7.37913 13.8427 7.6001 14.1213 7.87868C14.3999 8.15726 14.6209 8.48797 14.7716 8.85195C14.9224 9.21593 15 9.60603 15 10C15 10.5523 15.4477 11 16 11C16.5523 11 17 10.5523 17 10C17 9.34339 16.8707 8.69321 16.6194 8.08658C16.3681 7.47995 15.9998 6.92876 15.5355 6.46447C15.0712 6.00017 14.52 5.63188 13.9134 5.3806C13.3068 5.12933 12.6566 5 12 5Z" fill="#5C6274"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../../icons/SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
