@import "variables";
@import "../../assets/scss/smart-grid";

@mixin titleOne {
  font-size: $titleOneSize;
  line-height: $titleOneLine;
  @include small-block {
    font-size: $titleOneSize-mobile;
    line-height: $titleOneLine-mobile;
  }
}

@mixin titleTwo {
  font-size: $titleTwoSize;
  line-height: $titleTwoLine;
  @include small-block {
    font-size: $titleTwoSize-mobile;
    line-height: $titleTwoLine-mobile;
  }
}

@mixin titleTwo_one {
  font-size: $titleTwo_oneSize;
  line-height: $titleTwo_oneLine;
  @include small-block {
    font-size: $titleTwo_oneSize-mobile;
    line-height: $titleTwo_oneLine-mobile;
  }
}

@mixin titleThree {
  font-size: $titleThreeSize;
  line-height: $titleThreeLine;
  @include small-block {
    font-size: $titleThreeSize-mobile;
    line-height: $titleThreeLine-mobile;
  }
}

@mixin titleFour {
  font-size: $titleFourSize;
  line-height: $titleFourLine;
  @include small-block {
    font-size: $titleFourSize-mobile;
    line-height: $titleFourLine-mobile;
  }
}

@mixin titleFour_one {
  font-size: $titleFour_oneSize;
  line-height: $titleFour_oneLine;
  @include small-block {
    font-size: $titleFour_oneSize-mobile;
    line-height: $titleFour_oneLine-mobile;
  }
}

@mixin headline {
  font-size: $headlineSize;
  line-height: $headlineLine;
  @include small-block {
    font-size: $headlineSize-mobile;
    line-height: $headlineLine-mobile;
  }
}

@mixin text {
  font-size: $textSize;
  line-height: $textLine;
  @include small-block {
    font-size: $textSize-mobile;
    line-height: $textLine-mobile;
  }
}


@mixin textTwo {
  font-size: $textTwoSize;
  line-height: $textTwoLine;
  @include small-block {
    font-size: $textTwoSize-mobile;
    line-height: $textTwoLine-mobile;
  }
}

@mixin captionOne {
  font-size: $captionOneSize;
  line-height: $captionOneLine;
  @include small-block {
    font-size: $captionOneSize-mobile;
    line-height: $captionOneLine-mobile;
  }
}

@mixin captionTwo {
  font-size: $captionTwoSize;
  line-height: $captionTwoLine;
  @include small-block {
    font-size: $captionOneSize-mobile;
    line-height: $captionOneLine-mobile;
  }
}

@mixin captionThree {
  font-size: $captionThreeSize;
  line-height: $captionThreeLine;
  @include small-block {
    font-size: $captionThreeSize-mobile;
    line-height: $captionThreeLine-mobile;
  }
}

@mixin subtitle {
  font-size: $subtitleSize;
  line-height: $subtitleLine;
  @include small-block {
    font-size: $subtitleSize-mobile;
    line-height: $subtitleLine-mobile;
  }
}
