<template>
    <div class="progressBar" :class="color">
        <div class="progressBar_line_wrap">
            <div class="progressBar_line" :style="lineStyle"></div>
        </div>
        <div class="progressBar_total" v-if="showText">
            {{ progressText }} %
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {PROGRESS_BAR_COLOR} from '../../../components/progress/progressBar/constants';
    import {enumIncludes} from '../../../utils/enums';

    export default Vue.extend({
        props: {
            progress: {
                type: Number,
                default: 0,
                required: true,
                validator(val: number): boolean {
                    return val >= 0 && val <= 100;
                },
            },
            color: {
                type: String,
                default: PROGRESS_BAR_COLOR.GREEN,
                validator(value: string): boolean {
                    return enumIncludes(PROGRESS_BAR_COLOR, value);
                },
            },
            showText: {
                type: Boolean,
                default: true,
            },
        },
        computed: {
            lineStyle(): any {
                return {
                    width: `${this.progress}%`,
                };
            },
            progressText(): string {
                return this.progress.toFixed(0);
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "progressBar";
</style>
