@import "../../../assets/scss/main";

.progressBar {
  display: flex;
  column-gap: 8px;
  align-items: center;
  width: 100%;

  &_total {
    @include textTwo;
    font-weight: $regular;
    font-size: 14px;
    line-height: 20px;
    color: $gray1000;
    flex-shrink: 0;
    min-width: 40px;
    text-align: left;
  }

  &.green {
    .progressBar_line {
      background: linear-gradient(63.45deg, #0DC268 16.66%, #41E393 83.34%), #0DC268;
    }
  }

  &.red {
    .progressBar_line {
      background: linear-gradient(63.47deg, #ED0A34 16.65%, #FE6E89 83.35%), #ED0A34;
    }
  }

  &_line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 8px;

    &_wrap {
      width: 100%;
      display: flex;
      border-radius: 8px;
      position: relative;
      height: 8px;
      background: $gray30;
    }
  }
}
