@import "../../../assets/scss/main.scss";

.animation {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__loader {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spinner .6s linear infinite;

    &::v-deep {
      .svgIcon {
        transform: scale(2);
      }
    }
  }
}
