<template>
    <div class="animation">
        <JsonAnimation
            v-if="animation && !loading"
            ref="animation"
            :loop="loop"
            :animationData="animation"
            :customizationPattern="customizationPattern"
            @completed="$emit('completed')"
            @created="$emit('created')"/>
        <template v-else>
            <slot name="loader">
                <div class="animation__loader">
                    <LoadingIcon :iconColor="themeVariables.primary" ignoreWhite/>
                </div>
            </slot>
        </template>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import _ from 'lodash';
    import axios from 'axios';
    import JsonAnimation from './JsonAnimation.vue';
    import {Animation} from './Animation';
    import LoadingIcon from '../../../components/icons/LoadingIcon.vue';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';

    export default Vue.extend({
        components: {
            LoadingIcon,
            JsonAnimation,
        },
        props: {
            url: {
                type: String,
                required: true,
            },
            loop: {
                type: Boolean,
                default: false,
            },
            customizationPattern: {
                type: Object,
                default: null,
            },
        },
        data() {
            return {
                animation: null as any,
                loading: true,
                themeVariables: themeVariables,
            };
        },
        computed: {
            animationWrapper(): any {
                return this.$refs.animation;
            },
        },
        watch: {
            url(): void {
                this.loadAnimation();
            },
            loop(): void {
                let currentAnimation = _.clone(this.animation);
                this.refreshAnimation(currentAnimation);
            },
        },
        methods: {
            loadAnimation(): void {
                this.loading = true;
                let currentAnimation = _.clone(this.animation);
                axios.get(this.url)
                    .then((response) => {
                        this.refreshAnimation(response.data);
                        this.loading = false;
                    })
                    .catch((e) => {
                        this.animation = currentAnimation;
                        this.loading = false;
                        console.error(e);
                    });
            },
            refreshAnimation(animation: Animation) {
                this.animation = null;
                this.$nextTick(() => {
                    this.animation = animation;
                });
            },
            stop(): void {
                this.animationWrapper.stop();
            },
            play(): void {
                this.animationWrapper.play();
            },
            pause(): void {
                this.animationWrapper.pause();
            },
        },
        mounted() {
            if (this.url) {
                this.loadAnimation();
            }
        },
    });
</script>
<style lang="scss" scoped>
    @import "jsonUrlAnimation";
</style>
