<template>
    <Lottie
        v-if="active"
        v-bind="$attrs"
        :loop="loop"
        :options="options"
        @animCreated="handleAnimation"/>
</template>

<script lang="ts">
    import Vue from 'vue';
    // @ts-ignore
    import Lottie from 'vue-lottie';
    import {Animation} from './Animation';
    import {AnimationCustomizationPattern} from '../../../utils/jsonAnimations/AnimationCustomizationPattern';
    import {AnimationCustomizationApplier} from '../../../utils/jsonAnimations/AnimationCustomizationApplier';

    const customizationApplier = new AnimationCustomizationApplier();

    export default Vue.extend({
        components: {
            Lottie,
        },
        props: {
            animationData: Object,
            loop: {
                type: Boolean,
                default: false,
            },
            customizationPattern: {
                type: Object,
            },
        },
        data() {
            return {
                animation: null as unknown as Animation,
                active: true,
                customizedAnimationData: this.animationData,
            };
        },
        computed: {
            options(): any {
                return {
                    animationData: this.customizedAnimationData,
                    animationSpeed: 1,
                    loop: this.loop,
                };
            },
        },
        watch: {
            customizationPattern(): void {
                if (this.customizationPattern) {
                    this.applyCustomization();
                } else {
                    this.resetCustomization();
                }
            },
        },
        methods: {
            handleAnimation(animation: Animation): void {
                this.animation = animation;
                this.$emit('created');
                animation.addEventListener('complete', () => this.$emit('completed'));
            },
            stop(): void {
                this.animation.stop();
            },
            play(): void {
                this.animation.play();
            },
            pause(): void {
                this.animation.pause();
            },
            applyCustomization(): void {
                this.active = false;
                this.customizedAnimationData = customizationApplier.apply(this.animationData, this.customizationPattern as AnimationCustomizationPattern);
                this.$nextTick(() => {
                    this.active = true;
                });
            },
            resetCustomization(): void {
                this.active = false;
                this.customizedAnimationData = this.animationData;
                this.$nextTick(() => {
                    this.active = true;
                });
            },
        },
    });
</script>
