<template>
    <InputTemplate ref="inputTemplate"
                   :label="label"
                   :rules="rules"
                   :placeholder="placeholder"
                   :required="required"
                   :hint="hint"
                   :disabled="disabled"
                   :small="small"
                   :errorMessage="errorMessage"
                   :validationHint="validationHint"
                   :inputColor="inputColor"
                   :labelWithoutColon="labelWithoutColon"
                   :large="large"
                   :value="inputValue"
                   :withPrependContent="showPrependContent"
                   :readonly="readonly">
        <div class="sliderComponent" :class="color">
            <span class="sliderComponent_text">{{ progressText }} %</span>
            <div class="sliderComponent_wrap" :style="progressCss">
                <input
                    type="range"
                    :min="min"
                    :max="max"
                    :step="step"
                    v-bind="{...$props, ...$attrs}"
                    v-model.number="inputValue"
                    class="sliderComponent_input"
                />
            </div>
        </div>
    </InputTemplate>
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import LabelComponent from '../../../components/forms/inputTemplate/labelComponent/LabelComponent.vue';
    import InputTemplate from '../../../components/forms/inputTemplate/InputTemplate.vue';
    import inputMixin from '../../../components/forms/mixins/inputMixin';
    import {SLIDER_COLORS} from '../../../components/forms/slider/contants';
    import {enumIncludes} from '../../../utils/enums';

    export default mixins(InputTemplate, inputMixin).extend({
        components: {
            LabelComponent,
            InputTemplate,
        },
        props: {
            min: {
                type: Number,
                default: 0,
            },
            max: {
                type: Number,
                default: 100,
            },
            step: {
                type: Number,
                default: 1,
            },
            color: {
                type: String,
                default: SLIDER_COLORS.PRIMARY,
                validator(value: string): boolean {
                    return enumIncludes(SLIDER_COLORS, value);
                },
            },
        },

        computed: {
            progressCss(): any {
                return {
                    '--progress-width': `${100 * (this.value / this.max)}%`,
                };
            },
            progressText(): string | number {
                return (100 * this.value / this.max).toFixed(0);
            },
        },
        methods: {
            focusElement(): void {
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "slider";
</style>
