@import "../../../assets/scss/main";

@mixin thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  border: 8px solid #000;
  background: #ffffff;
  cursor: pointer;
  color: #fff;
  margin-top: -8px;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
}

@mixin track {
  background: $gray30;
  border-radius: 8px;
  height: 8px;
}

.input__wrapper {
  position: relative;
  width: 100%;

  &::v-deep {
    .labelComponent {
      margin-bottom: 0;
      @include headline;
      font-weight: $bold;
    }

    .input__upperElements {
      min-height: 20px;
    }
  }
}

.sliderComponent {
  padding: 4px 0;

  &_text {
    @include headline;
    font-weight: $bold;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.primary {
    .sliderComponent_text {
      color: $primary;
    }

    .sliderComponent_wrap {
      &:after {
        background: $primary;
      }
    }

    .sliderComponent_input {
      &::-webkit-slider-thumb {
        border-color: $primary;
      }

      &::-moz-range-thumb {
        border-color: $primary;
      }

      &::-ms-thumb {
        border-color: $primary;
      }
    }
  }

  &.green {
    .sliderComponent_text {
      color: $green400;
    }

    .sliderComponent_wrap {
      &:after {
        background: linear-gradient(63.45deg, #0DC268 16.66%, #41E393 83.34%), #0DC268;
      }
    }

    .sliderComponent_input {
      &::-webkit-slider-thumb {
        border-color: $green300;
      }

      &::-moz-range-thumb {
        border-color: $green300;
      }

      &::-ms-thumb {
        border-color: $green300;
      }
    }
  }

  &.red {
    .sliderComponent_text {
      color: $red400;
    }

    .sliderComponent_wrap {
      &:after {
        background: linear-gradient(63.47deg, #ED0A34 16.65%, #FE6E89 83.35%), #ED0A34;
      }
    }

    .sliderComponent_input {
      &::-webkit-slider-thumb {
        border-color: $red400;
      }

      &::-moz-range-thumb {
        border-color: $red400;
      }

      &::-ms-thumb {
        border-color: $red400;
      }
    }
  }
}

.input__wrapper__disabled {
  .sliderComponent_text {
    color: $gray60 !important;
  }

  .sliderComponent_wrap {
    &:after {
      background: $gray30 !important;
    }
  }

  .sliderComponent_input {
    &::-webkit-slider-thumb {
      border-color: $gray30 !important;
    }

    &::-moz-range-thumb {
      border-color: $gray30 !important;
    }

    &::-ms-thumb {
      border-color: $gray30 !important;
    }
  }
}

.input__wrapper__withError {
  .sliderComponent_text {
    color: $textColorError !important;
  }

  .sliderComponent_wrap {
    &:after {
      background: $backgroundColorError !important;
    }
  }

  .sliderComponent_input {
    &::-webkit-slider-thumb {
      border-color: $backgroundColorError !important;
    }

    &::-moz-range-thumb {
      border-color: $backgroundColorError !important;
    }

    &::-ms-thumb {
      border-color: $backgroundColorError !important;
    }
  }
}


.sliderComponent {
  width: 100%;

  &_wrap {
    position: relative;
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;

    &:after {
      content: "";
      position: absolute;
      top: 8px;
      border-radius: 8px;
      left: 0;
      width: var(--progress-width);
      height: 8px;
      pointer-events: none;
      min-width: 8px;
    }
  }


  &_input {
    -webkit-appearance: none;
    width: 100%;

    &::-webkit-media-slider-thumb {
      @include thumb;
    }

    &::-webkit-slider-thumb {
      @include thumb;
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    &::-ms-thumb {
      @include thumb;
    }

    &::-moz-range-track {
      @include track;
    }

    &::-ms-track {
      @include track;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }
  }
}
