@import "../../../assets/scss/main.scss";

.emptyBlock {
  max-width: 650px;
  margin: 40px 0;
  @include small-block {
    margin: 32px 0;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include titleOne;
    font-weight: $bold;
    color: $gray1000;
    text-align: center;
    margin-top: 48px;
    @include small-block {
      @include titleTwo;
      margin-top: 24px;
    }
  }

  &__message {
    @include titleFour;
    font-weight: $regular;
    color: $gray700;
    text-align: center;
    margin-top: 20px;
    @include small-block {
      @include headline;
      margin-top: 8px;
    }
  }
}