<template>
    <div class="emptyBlock__wrapper">
        <div class="emptyBlock">
            <JsonUrlAnimation :url="animationUrl" loop/>
            <div class="emptyBlock__title">{{ title }}</div>
            <div class="emptyBlock__message">{{ message }}</div>
        </div>
    </div>
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import mediaQueriesMixin from '../../../mixins/mediaQueriesMixin';
    import JsonUrlAnimation from '../../../components/utils/lottie/JsonUrlAnimation.vue';

    export default mixins(mediaQueriesMixin).extend({
        components: {
            JsonUrlAnimation,
        },
        props: {
            title: {
                type: String,
                required: true,
            },
            message: {
                type: String,
                required: true,
            },
            animation: {
                type: String,
                required: true,
            },
            mobileAnimation: {
                type: String,
                required: true,
            },
        },
        computed: {
            animationUrl(): any {
                if (this.isMobile) {
                    return this.mobileAnimation;
                }
                return this.animation;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "emptyResult";
</style>
