<template>
    <Filters :filters="filters"
             totalItemsText="12 Courses"
             @updated="updatedListener">
        <template #[`item.custom`]="{filter}">
            <SelectFilter index="custom" label="Competency" :filter="filter"/>
        </template>
    </Filters>
</template>

<script lang="ts">
    import {FILTER_TYPE} from '../src/сonstants';
    import mixins from 'vue-typed-mixins';
    import filtersMixin from '../src/components/filters/mixins/filtersMixin';
    import {FiltersPayload} from '../src/components/filters/types/Filters';
    import SelectFilter from './SelectFilter.vue';

    export default mixins(filtersMixin).extend({
        components: {
            SelectFilter,
        },
        data() {
            return {
            };
        },
        computed: {},
        methods: {
            getFilters(): Promise<FiltersPayload> {
                return new Promise((resolve) => {
                    resolve({
                        platform: {
                            type: FILTER_TYPE.LABEL,
                            title: 'Platforms',
                            options: [
                                {
                                    value: 0,
                                    title: 'LMS Learning',
                                },
                                {
                                    value: 1,
                                    title: 'LinkedIn Learning',
                                },
                                {
                                    value: 2,
                                    title: 'Coursera',
                                },
                            ],
                            settings: {
                                isOpened: true,
                                allItemsText: 'All platforms',
                            },
                        },
                        platform2: {
                            type: FILTER_TYPE.CHECKBOX,
                            title: 'Platforms 2',
                            options: [
                                {
                                    value: 0,
                                    title: 'LMS Learning',
                                },
                                {
                                    value: 1,
                                    title: 'LinkedIn Learning',
                                },
                                {
                                    value: 2,
                                    title: 'Coursera',
                                },
                            ],
                            settings: {
                                isOpened: false,
                                isSearchable: true,
                                allItemsText: 'All platforms',
                            },
                        },
                        custom: {
                            type: FILTER_TYPE.CUSTOM,
                            title: 'Custom',
                            options: [
                                {
                                    value: 0,
                                    title: 'LMS Learning',
                                },
                                {
                                    value: 1,
                                    title: 'LinkedIn Learning',
                                },
                                {
                                    value: 2,
                                    title: 'Coursera',
                                },
                            ],
                            settings: {
                                isOpened: true,
                                allItemsText: 'All platforms',
                            },
                        },
                        date: {
                            type: FILTER_TYPE.DATE_RANGE,
                            title: 'Date',
                            options: [],
                            settings: {
                                isOpened: true,
                                labelText: 'Date Range',
                                allItemsText: 'All',
                            },
                        },
                    } as FiltersPayload);
                });
            },
        },
    });
</script>

<style scoped>

</style>
