<template>
    <InlineFilter
        :options="options"
        :urlIndex="getUrlIndex()"
        all-items-text="all items"
        @updated="updatedListener"
    />
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import {FilterOption} from '../src/components/filters/types/Filters';
    import inlineFilterMixin from '../src/components/filters/mixins/inlineFilterMixin';

    export default mixins(inlineFilterMixin).extend({
        methods: {
            getOptions(): Promise<FilterOption[]> {
                return new Promise((resolve) => {
                    resolve([
                        {
                            value: 0,
                            title: 'LMS Learning',
                        },
                        {
                            value: 1,
                            title: 'LinkedIn Learning',
                        },
                        {
                            value: 2,
                            title: 'Coursera',
                        },
                    ]);
                });
            },
            getUrlIndex(): string {
                return 'platform';
            },
        },
    });
</script>

<style scoped>

</style>
