<template>
    <div class="filter__wrapper">
        <div class="filter__options">
            <div :class="['filter__labelItem', {active: !hasValue}]"
                 @click="clear">
                {{ allItemsText }}
            </div>
            <div v-line-clamp="1"
                 :class="['filter__labelItem lineClamp',{active: showSelect}]"
                 @click="showSelect = true">
                {{ label }}
            </div>
        </div>
        <div class="filter__label_select" v-if="showSelect">
            <SingleSelect :options="filter.options"
                          item-text="title"
                          item-value="value"
                          v-model="internalValue"/>
        </div>
    </div>
</template>


<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import SingleSelect from '../src/components/forms/selectComponent/SingleSelect.vue';
    import {FilterOption} from '../src/components/filters/types/Filters';
    import singleFilterWithOptionsMixin from '../src/components/filters/mixins/singleFilterWithOptionsMixin';
    import {FilterSelectedOption, FilterUrlValue} from '../src/components/filters/types/FilterComponent';
    import _ from 'lodash';

    export default mixins(singleFilterWithOptionsMixin).extend({
        components: {
            SingleSelect,
        },
        props: {
            label: {
                type: String,
                required: true,
            },
        },
        data() {
            return {
                showSelect: false,
                internalValue: {} as FilterOption,
            };
        },
        computed: {
            hasValue(): boolean {
                return this.internalValue.value !== undefined;
            },
        },
        watch: {
            internalValue(newValue, oldValue): void {
                if (!_.isEqual(newValue, oldValue)) {
                    this.markFilterAsUnsaved(this.index);
                }

                this.showSelect = this.hasValue;
            },
        },
        methods: {
            getUrlValue(): FilterUrlValue {
                if (!this.hasValue) {
                    return {
                        [this.index]: '',
                    };
                } else {
                    return {
                        [this.index]: this.internalValue.value,
                    };
                }
            },
            getInternalValueFromUrl(searchParams: { [key: string]: string | string[] }): any {
                return this.filter.options.find((option: FilterOption) => {
                    return option.value.toString() === searchParams[this.index] ?? '';
                }) ?? {};
            },
            clear(): void {
                this.internalValue = {};
            },
            getSelectedOptions(): FilterSelectedOption[] {
                if (!this.hasValue) {
                    return [];
                }

                return [
                    {
                        filterIndex: this.index,
                        text: this.internalValue.title,
                        option: this.internalValue,
                    },
                ];
            },
            setSelectedOptionsSilently(options: FilterSelectedOption[]): void {
                let option = _.find(options, (selectedOption) => {
                    return selectedOption.filterIndex === this.index;
                });
                this.internalValue = option ? option.option : {};
            },
        },
        mounted() {
            this.showSelect = this.hasValue;
        },
    });
</script>


<style scoped lang="scss">
    @import "../src/components/filters/labelFilter/labelFilter";

    .filter__label_select {
        margin-top: 16px;
    }
</style>
