<template>
    <div id="app">
        <br/>
        <button @click="toast">TOAST</button>
        <br/>
        <br/>
        <button @click="toastLarge">TOAST LARGE</button>
    </div>
</template>


<script lang="ts">
    import Vue from 'vue';
    import {TOAST_ERROR_ICON} from '../src/types/Toast';

    export default Vue.extend({
        name: 'ServeDev',
        components: {
        },
        data() {
            return {

            };
        },
        computed: {},
        methods: {
            toast() {
                this.$showToast('Bamboo weill delete');
            },
            toastLarge() {
                this.$showLargeToast({
                    type: TOAST_ERROR_ICON,
                    title: 'Warning',
                    message: 'Some of the courses you have chosen have been previously purchased. They have automatically been removed from your shopping cart.',
                });
            }
        },
    });
</script>

<style lang="scss" scoped>

</style>
