<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path
                d="M20.5634 6.29105L21.2991 5.61381V5.61381L20.5634 6.29105ZM23.9431 9.96283L24.6788 9.28559L24.6788 9.28559L23.9431 9.96283ZM17 28C17.5523 28 18 27.5523 18 27C18 26.4477 17.5523 26 17 26V28ZM24 17C24 17.5523 24.4477 18 25 18C25.5523 18 26 17.5523 26 17H24ZM8 23V9H6V23H8ZM11 6H17.6203V4H11V6ZM19.8276 6.96829L23.2073 10.6401L24.6788 9.28559L21.2991 5.61381L19.8276 6.96829ZM17 26H11V28H17V26ZM24 12.6718V17H26V12.6718H24ZM23.2073 10.6401C23.7171 11.1939 24 11.9191 24 12.6718H26C26 11.4173 25.5284 10.2086 24.6788 9.28559L23.2073 10.6401ZM17.6203 6C18.4591 6 19.2595 6.35115 19.8276 6.96829L21.2991 5.61381C20.3524 4.58524 19.0183 4 17.6203 4V6ZM6 23C6 25.7614 8.23858 28 11 28V26C9.34315 26 8 24.6569 8 23H6ZM8 9C8 7.34315 9.34315 6 11 6V4C8.23858 4 6 6.23858 6 9H8Z"
                fill="#0B1125"/>
            <rect x="21" y="24" width="8" height="2" rx="1" fill="#0B1125"/>
            <rect x="24" y="29" width="8" height="2" rx="1" transform="rotate(-90 24 29)" fill="#0B1125"/>
            <path d="M18 5V10C18 11.1046 18.8954 12 20 12H25" stroke="#0B1125" stroke-width="2"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
