@import "../../../assets/scss/main";
@import "../../../assets/scss/dialogStyles";

.dialog {
  &__container {
    position: relative;
    background-color: $white;
    border-radius: $borderRadius;
    @include border-shadow(1px, $gray20, $drop300);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    @include small-block {
      max-width: 100%;
      margin: 0 auto;
    }

    &.left {
      .dialog {
        &__actions {
          justify-content: flex-start;
        }
      }
    }

    &.center {
      .dialog {
        &__actions {
          justify-content: center;
        }
      }
    }

    &.right {
      .dialog {
        &__actions {
          justify-content: flex-end;
        }
      }
    }

    &.simple {
      .dialog {
        &__header {
          padding-bottom: 0;
        }

        &__body {
          padding-top: 12px;
          @include small-block {
            padding-top: 8px;
          }
        }
      }
    }

    &.animation {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .dialog {
        &__header {
          position: static;
          padding: $dialogPadding $dialogPadding 0;
          justify-content: center;
          text-align: center;
          margin: 0;
          @include small-block {
            padding: $dialogPaddingMobile $dialogPaddingMobile 0;
            text-align: left;
            justify-content: flex-start;
          }
        }

        &__body {
          padding-top: 12px;
          @include small-block {
            padding-top: 8px;
            text-align: left;
            justify-content: flex-start;
          }
        }

        &__cross {
          position: absolute;
          top: 12px;
          right: 12px;
          margin-right: 0;
        }
      }
    }

    &.withUnderline {
      .dialog__header {
        border-bottom: 1px solid $gray20;
      }
    }

    &.customPaddings {
      .dialog__body {
        padding: 0 $dialogPadding;
        margin-bottom: 0;
        @include small-block {
          padding: 0 $dialogPaddingMobile;
        }
      }
    }

    &::v-deep {
      hr {
        border: 0;
        height: 0;
        border-bottom: 1px solid $gray20;
        width: calc(100% + #{$dialogPadding} * 2);
        margin: 0 -#{$dialogPadding};
        @include small-block {
          width: calc(100% + #{$dialogPaddingMobile} * 2);
          margin: 0 -#{$dialogPaddingMobile};
        }
      }
    }

    &.fullViewport {
      @include small-block {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        border-radius: 0;
        border: none;
        box-shadow: none;
        padding: 0;
        margin: 0;
        .dialog {
          &__header {
            background: $gray10;
            border-bottom: 1px solid $gray30;
            @include titleThree;
            padding: 16px;
          }

          &__body {
            height: 100%;
            margin-bottom: 0;
            padding-bottom: 16px;
          }

          &__actions {
            border-top: 1px solid $gray20;
            box-shadow: $drop400;
            padding: 16px;
          }
        }
      }
    }
  }

  &__header {
    @include titleFour;
    font-weight: bold;
    text-align: left;
    word-break: break-word;
    padding: 20px $dialogPadding;
    margin-bottom: 0;
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    align-items: self-start;
    color: $gray1000;

    @include small-block {
      padding: #{$dialogPaddingMobile - 4} $dialogPaddingMobile;
    }

    &::v-deep {
      .dialog__header {
        &__wrapper {
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
        }

        &__title {
          @include titleFour;
          font-weight: $bold;
          color: $gray1000;
          margin-bottom: 8px;
        }

        &__description {
          @include headline;
          font-weight: $regular;
          color: $gray100;
        }
      }
    }
  }

  &__body {
    @include headline;
    color: $gray500;
    word-break: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    padding: $dialogPadding $dialogPadding 0 $dialogPadding;
    margin-bottom: $dialogPadding;

    @include small-block {
      padding: $dialogPaddingMobile $dialogPaddingMobile 0 $dialogPaddingMobile;
      margin-bottom: $dialogPaddingMobile;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0 $dialogPadding $dialogPadding $dialogPadding;
    @include small-block {
      flex-wrap: wrap;
      width: 100%;
      padding: 0 $dialogPaddingMobile $dialogPaddingMobile $dialogPaddingMobile;
    }

    &::v-deep {
      .buttonComponent__wrapper {
        @include small-block {
          width: 100%;
          button {
            width: 100%;
          }
        }

        &:not(:last-child) {
          margin-right: 12px;
          @include small-block {
            margin-right: 0;
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  &__cross {
    margin-right: -4px;
    display: flex;
    margin-left: auto;
    flex-shrink: 0;
    cursor: pointer;

    @include small-block {
      margin-right: -8px;
    }
  }

  &__animation {
    background: $gray20;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    margin-bottom: 0;

    @include small-block {
      margin-bottom: 0;
    }
  }
}
