<template>
    <VEasyDialog
        ref="dialog"
        v-model="showDialog"
        :persistent="persistent"
        :width="modalWidth">
        <div :class="dialogClass">
            <div class="dialog__animation" v-if="!!$slots.animation">
                <slot name="animation">
                </slot>
            </div>
            <div class="dialog__header" v-if="!!$slots.header">
                <slot name="header">
                </slot>
                <div class="dialog__cross" @click="onCancel" v-if="withCross">
                    <CrossIcon/>
                </div>
            </div>
            <div class="dialog__body" ref="body">
                <slot name="body">
                </slot>
            </div>
            <div class="dialog__actions" v-if="!withoutActions">
                <slot name="actions">
                    <ButtonComponent @click="onCancel" transparent>
                        {{ defaultCancelButtonText }}
                    </ButtonComponent>
                    <ButtonComponent @click="onSubmit" minWidth :disabled="disableSubmitButton">
                        {{ defaultSubmitButtonText }}
                    </ButtonComponent>
                </slot>
            </div>
        </div>
    </VEasyDialog>

</template>

<script lang="ts">
    import Vue from 'vue';
    import VEasyDialog from 'v-easy-dialog';
    import ButtonComponent from '../../buttonComponent/ButtonComponent.vue';
    import CrossIcon from '../../icons/CrossIcon.vue';
    import {
        DIALOG_ACTIONS_POSITION,
        DIALOG_CLASS,
        DIALOG_CLASS_ANIMATION,
        DIALOG_CLASS_CUSTOM_PADDINGS,
        DIALOG_CLASS_SIMPLE, DIALOG_CLASS_STRETCH_ON_MOBILE,
        DIALOG_CLASS_WITH_UNDERLINE,
        DIALOG_SIZE_EXTRA_LARGE,
        DIALOG_SIZE_LARGE,
        DIALOG_SIZE_MEDIUM,
        DIALOG_SIZE_MOBILE,
        DIALOG_SIZE_SMALL,
        DIALOG_WIDTH_EXTRA_LARGE,
        DIALOG_WIDTH_LARGE,
        DIALOG_WIDTH_MEDIUM,
        DIALOG_WIDTH_MOBILE,
        DIALOG_WIDTH_SMALL,
    } from './constants';
    import {enumIncludes} from '../../../utils/enums';

    export default Vue.extend({
        components: {
            VEasyDialog,
            ButtonComponent,
            CrossIcon,
        },
        props: {
            value: Boolean,
            persistent: {
                type: Boolean,
                default: true,
            },
            disableSubmitButton: {
                type: Boolean,
                default: false,
            },
            defaultSubmitButtonText: {
                type: String,
                default: 'Confirm',
            },
            defaultCancelButtonText: {
                type: String,
                default: 'Cancel',
            },
            size: {
                type: String,
                default: DIALOG_SIZE_MEDIUM,
            },
            simple: {
                type: Boolean,
                default: false,
            },
            withoutActions: {
                type: Boolean,
                default: false,
            },
            withUnderline: {
                type: Boolean,
                default: false,
            },
            withCross: {
                type: Boolean,
                default: false,
            },
            customPaddings: {
                type: Boolean,
                default: false,
            },
            actionsPosition: {
                type: String,
                default: DIALOG_ACTIONS_POSITION.RIGHT,
                validator(value: string): boolean {
                    return enumIncludes(DIALOG_ACTIONS_POSITION, value);
                },
            },
            stretchOnMobile: {
                type: Boolean,
                default: false,
            },
        },
        computed: {
            showDialog: {
                get(): boolean {
                    return this.value;
                },
                set(value: boolean): void {
                    this.$emit('input', value);
                },
            },
            modalWidth(): string {
                switch (this.size) {
                    case DIALOG_SIZE_MOBILE:
                        return DIALOG_WIDTH_MOBILE;
                    case DIALOG_SIZE_SMALL:
                        return DIALOG_WIDTH_SMALL;
                    case DIALOG_SIZE_MEDIUM:
                        return DIALOG_WIDTH_MEDIUM;
                    case DIALOG_SIZE_LARGE:
                        return DIALOG_WIDTH_LARGE;
                    case DIALOG_SIZE_EXTRA_LARGE:
                        return DIALOG_WIDTH_EXTRA_LARGE;
                    default:
                        return DIALOG_WIDTH_MEDIUM;
                }
            },
            dialogClass(): any {
                return {
                    [DIALOG_CLASS]: true,
                    [DIALOG_CLASS_SIMPLE]: this.simple,
                    [DIALOG_CLASS_ANIMATION]: !!this.$slots.animation,
                    [this.actionsPosition]: true,
                    [DIALOG_CLASS_WITH_UNDERLINE]: this.withUnderline,
                    [DIALOG_CLASS_CUSTOM_PADDINGS]: this.customPaddings,
                    [DIALOG_CLASS_STRETCH_ON_MOBILE]: this.stretchOnMobile,
                };
            },
        },
        methods: {
            onSubmit(): void {
                this.$emit('submit');
            },
            onCancel(): void {
                this.hideDialog();
                this.$emit('cancel');
            },
            hideDialog(): void {
                this.showDialog = false;
            },
            scrollBodyToTop(): void {
                // @ts-ignore
                this.$refs.body.scrollTo({
                    top: 0,
                    behavior: 'smooth',
                });
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "dialogWrapper";
</style>
