@import "../../../assets/scss/main";

.videoDialog {
  position: relative;
  background-color: $white;
  border-radius: $borderRadius;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @include small-block {
    max-width: 100%;
    margin: 0 auto;
  }

  &__cross {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}