<template>
    <VEasyDialog
        ref="dialog"
        v-model="showDialog"
        persistent
        :width="modalWidth">
        <div class="videoDialog">
            <slot></slot>
            <div class="videoDialog__cross" @click="hideDialog">
                <ButtonComponent small fab white>
                  <template slot="prepend-icon">
                      <SvgIcon name="cancelClose_24"/>
                  </template>
                </ButtonComponent>
            </div>
        </div>
    </VEasyDialog>
</template>

<script lang="ts">
    import Vue from 'vue';
    import VEasyDialog from 'v-easy-dialog';
    import ButtonComponent from '../../buttonComponent/ButtonComponent.vue';
    import {
        DIALOG_SIZE_EXTRA_LARGE,
        DIALOG_SIZE_LARGE,
        DIALOG_SIZE_MEDIUM,
        DIALOG_SIZE_MOBILE,
        DIALOG_SIZE_SMALL,
        DIALOG_WIDTH_EXTRA_LARGE,
        DIALOG_WIDTH_LARGE,
        DIALOG_WIDTH_MEDIUM,
        DIALOG_WIDTH_MOBILE,
        DIALOG_WIDTH_SMALL,
    } from './constants';
    import {SvgIcon} from 'mlh-ui-icons';

    export default Vue.extend({
        components: {
            VEasyDialog,
            ButtonComponent,
            SvgIcon,
        },
        props: {
            value: Boolean,
            size: {
                type: String,
                default: DIALOG_SIZE_EXTRA_LARGE,
            },
        },
        computed: {
            showDialog: {
                get(): boolean {
                    return this.value;
                },
                set(value: boolean): void {
                    this.$emit('input', value);
                },
            },
            modalWidth(): string {
                switch (this.size) {
                    case DIALOG_SIZE_MOBILE:
                        return DIALOG_WIDTH_MOBILE;
                    case DIALOG_SIZE_SMALL:
                        return DIALOG_WIDTH_SMALL;
                    case DIALOG_SIZE_MEDIUM:
                        return DIALOG_WIDTH_MEDIUM;
                    case DIALOG_SIZE_LARGE:
                        return DIALOG_WIDTH_LARGE;
                    case DIALOG_SIZE_EXTRA_LARGE:
                        return DIALOG_WIDTH_EXTRA_LARGE;
                    default:
                        return DIALOG_WIDTH_MEDIUM;
                }
            },
        },
        methods: {
            hideDialog(): void {
                this.showDialog = false;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "dialogWrapper";
    @import "videoDialog";
</style>
