@import "../../assets/scss/main.scss";

$minWidth: 112px;

@mixin buttonPadding {
  height: 40px;
  max-height: 40px;
  min-height: 40px;
  padding: 10px 16px;

  @include small-block {
    &:not(.withPrependIcon):not(.fab):not(.withCounter):not(.small) {
      padding: 10px 16px;
    }
  }

  &.small {
    height: 32px;
    max-height: 32px;
    min-height: 32px;
    padding: 6px 16px;
  }

  &.large {
    height: 48px;
    max-height: 48px;
    min-height: 48px;
    padding: 14px 40px;
  }

  &.wide {
    height: 48px;
    max-height: 48px;
    min-height: 48px;
    padding: 14px 40px;

    @include medium-block {
      max-height: 40px;
      min-height: 40px;
      padding: 10px 24px;
    }

    &.outlineStyle {
      padding: 14px 16px;
    }
  }

  &.fab {
    padding: 8px;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    width: 40px;
    max-width: 40px;
    min-width: 40px;

    &::v-deep {
      .svgIcon {
        display: flex;
      }
    }

    &.small {
      height: 32px;
      max-height: 32px;
      min-height: 32px;
      padding: 4px;
      width: 32px;
      max-width: 32px;
      min-width: 32px;
    }

    &.outlineStyle {
      padding: 7px;
    }

    &.wide {
      height: 48px;
      max-height: 48px;
      min-height: 48px;
      padding: 12px;
      width: 48px;
      max-width: 48px;
      min-width: 48px;

      @include medium-block {
        max-height: 40px;
        min-height: 40px;
        padding: 12px;
        width: 40px;
        max-width: 40px;
        min-width: 40px;
      }
    }
  }
}

@mixin defaultIcon {
  &::v-deep {
    .svgIcon {
      &:not(.inheritIconColor) {
        svg {
          * {
            &[stroke] {
              stroke: var(--text-color) !important;
            }

            &[fill] {
              fill: var(--text-color) !important;
            }
          }
        }
      }
    }
  }
}

@mixin darkIcon {
  &:not(.fab) {
    &::v-deep {
      svg {
        * {
          &[stroke] {
            stroke: $gray1000;
          }

          &[fill] {
            fill: $gray1000;
          }
        }
      }

      .svgIcon {
        &.ignoreWhite {
          svg {
            * {
              &[stroke] {
                stroke: var(--text-color);
              }

              &[fill] {
                fill: var(--text-color);
              }
            }
          }
        }
      }
    }
  }
}

@mixin notFilledButtonDisabledIcon {
  &::v-deep {
    svg {
      * {
        &[stroke] {
          stroke: $gray60 !important;
        }

        &[fill] {
          fill: $gray60 !important;
        }
      }
    }
  }
}

@mixin filledButtonDisabledIcon {
  &::v-deep {
    svg {
      * {
        &[stroke] {
          stroke: $white !important;
        }

        &[fill] {
          fill: $white !important;
        }
      }
    }
  }
}

.buttonComponent {
  letter-spacing: 0.5px;
  @include headline;
  font-weight: $bold;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  @include buttonPadding;
  border-radius: $borderRadius;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  max-width: 100%;
  @include defaultIcon;

  &.minWidth {
    min-width: $minWidth;
  }

  &.outlineStyle, &.transparentStyle {
    @include darkIcon;

    .buttonComponent {
      &__counter {
        color: $white;
      }
    }
  }

  &.outlineStyle {
    @include border-shadow(1px, $gray60);
  }

  &__wrapper {
    width: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-shrink: 0;
    max-width: 100%;

    &:not(.buttonComponent__disabled) {
      .buttonComponent {
        &:hover {
          &:not(.transparentStyle):not(.outlineStyle):not(:active):not(.white) {
            background: $hoverEffect;
          }

          &.transparentStyle, &.outlineStyle {
            background: $gray10 !important;
          }
        }

        &:active {
          box-shadow: $inset150;

          &.outlineStyle {
            @include border-shadow(1px, $gray60, $inset150);
          }
        }
      }
    }

    &.buttonComponent {
      &__disabled {
        .buttonComponent {
          background: $gray40 !important;
          color: $white !important;
          pointer-events: none !important;
          @include filledButtonDisabledIcon;

          &__counter {
            background: $white !important;
            color: $gray40 !important;
          }

          &.outlineStyle, &.transparentStyle {
            color: $gray60 !important;
            @include notFilledButtonDisabledIcon;

            .buttonComponent {
              &__counter {
                background: $gray60 !important;
                color: $white !important;
              }
            }
          }

          &.outlineStyle {
            background: $gray10 !important;
            box-shadow: inset 0 0 0 1px $gray40;
          }

          &.transparentStyle {
            background: transparent !important;
          }
        }
      }
    }

    &.blockButton {
      width: 100%;

      .buttonComponent {
        width: 100%;
      }
    }

    &.bottomMargin {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-family: inherit;
    @include headline;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }

  &__icon {
    &-before {
      margin-right: 8px;
      display: flex;
      align-items: center;
    }
  }

  &__counter {
    background: var(--text-color);
    color: var(--background-color);
    @include headline;
    font-weight: $medium;
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    margin-left: 8px;
    padding: 2px 6px;
  }

  &__input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 22;
    opacity: 0;
    cursor: pointer;
  }

  &__loading {
    margin-right: 8px;
    display: flex;
    align-items: center;
    animation: spinner .6s linear infinite;
  }

  &.fab {
    .buttonComponent__icon-before {
      margin-right: 0;
    }
  }

  &.small {
    .buttonComponent {
      &__title {
        @include textTwo();
      }
    }
  }

  &.white {
    background: rgba($white, .4) !important;
    color: $gray1000 !important;

    &::v-deep {
      .svgIcon {
        svg {
          * {
            &[stroke] {
              stroke: $gray1000 !important;
            }

            &[fill] {
              fill: $gray1000 !important;
            }
          }
        }
      }
    }

    &:hover {
      background: rgba($white, .8) !important;
      color: $gray1000 !important;
    }

    &:active {
      box-shadow: none !important;
      background: $white !important;
      color: $gray1000 !important;
    }
  }

  &.withPrependIcon {
    padding-left: 12px;
  }
}
