<template>
    <div :class="['tab', {active:tabIsActive}]" ref="tab">
        <Portal :to="portalName">
            <div :class="tabClass" @click="setActiveTab">
                <div class="tab__icon" v-if="$slots.icon">
                    <slot name="icon"></slot>
                </div>
                <slot name="title"></slot>
                <div class="tab__counter" v-if="counter">
                    {{ counter }}
                </div>
            </div>
        </Portal>
        <div class="tab__content" v-if="tabIsActive">
            <slot></slot>
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import {Portal} from 'portal-vue';
    import {TAB_ITEM_ACTIVE_CLASS, TAB_ITEM_CLASS, TAB_ITEM_DISABLED_CLASS} from './constants';
    import _ from 'lodash';

    export default Vue.extend({
        components: {
            Portal,
        },
        props: {
            disabled: {
                type: Boolean,
                default: false,
            },
            counter: {
                type: Number,
            },
        },
        data() {
            return {
                tabIndex: 0,
                tabsId: 0,
                tabsWrapper: {} as any,
            };
        },
        computed: {
            portalName(): string {
                return 'tab_' + this.tabsId;
            },
            tab(): any {
                // @ts-ignore
                return this.$refs.tab;
            },
            tabIsActive(): boolean {
                // @ts-ignore
                return this.tabsWrapper.activeTab === this.tabIndex;
            },
            tabClass(): any {
                return {
                    [TAB_ITEM_CLASS]: true,
                    [TAB_ITEM_ACTIVE_CLASS]: this.tabIsActive,
                    [TAB_ITEM_DISABLED_CLASS]: this.disabled,
                };
            },
        },
        methods: {
            setActiveTab(): void {
                // @ts-ignore
                this.tabsWrapper.setActiveTab(this.tabIndex);
            },
            setTabIndex(): void {
                this.tabIndex = +this.tab.getAttribute('tabIndex');
            },
            setTabsId(): void {
                this.tabsId = +this.tab.getAttribute('tabsId');
            },
            setTabsWrapper(): void {
                let tabsWrapper;
                if (this.$parent.$refs['tabsWrapper']) {
                    tabsWrapper = this.$parent;
                } else {
                    tabsWrapper = _.find(this.$parent.$children, (child: any) => {
                        return child && child.$refs['tabsWrapper'];
                    });
                }
                this.tabsWrapper = tabsWrapper;
            },
        },
        mounted() {
            this.$nextTick(() => {
                this.setTabIndex();
                this.setTabsId();
                this.setTabsWrapper();
            });
        },
    });
</script>

<style scoped lang="scss">
    @import "tabItem";
</style>
