@import "../../assets/scss/main";

@mixin bottomLine {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: $gray30;
}

$bottomLineHeight: 4px;
$bottomLineHeightMobile: 2px;

.tabs {
  &__nav {
    border-bottom: 1px solid $gray30;
  }
}

.tab {
  &__nav {
    &__item {
      white-space: nowrap !important;
      @include headline;
      font-weight: $regular;
      color: $gray1000;
      padding: 16px;
      max-height: 52px;
      letter-spacing: inherit;
      text-transform: none;
      position: relative;
      background: none !important;
      cursor: pointer;
      display: flex;
      align-items: center;

      @include small-block {
        @include textTwo;
        padding: 12px 16px;
      }

      &:before {
        @include bottomLine;
        transition: 0.3s;
      }

      &:hover {
        &:before {
          background: $gray50;
          height: $bottomLineHeight;

          @include small-block {
            height: $bottomLineHeightMobile;
          }
        }
      }

      &.tabActive {
        font-weight: 500;

        &:before {
          background: $primary;
          height: $bottomLineHeight;

          @include small-block {
            height: $bottomLineHeightMobile;
          }
        }
      }

      &.tabDisabled {
        color: $gray60;
        pointer-events: none;

        .tab {
          &__icon {
            &::v-deep {
              svg {
                * {
                  &[stroke] {
                    stroke: $gray60 !important;
                  }

                  &[fill] {
                    fill: $gray60 !important;
                  }
                }
              }
            }
          }

          &__counter {
            color: $gray60;
          }
        }
      }
    }
  }

  &__content {
    opacity: 0;
    animation: fadeIn 0.4s cubic-bezier(0.25, 0.8, 0.5, 1);
    animation-fill-mode: forwards;
  }

  &__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: $gray1000;
    @include captionOne;
    font-weight: $medium;
    border-radius: 100px;
    background: $gray40;
    min-height: 24px;
    min-width: 24px;
    padding: 4px 8px;
    margin-left: 8px;

    @include small-block {
      min-height: 20px;
      min-width: 20px;
      padding: 2px 6px;
      border-radius: 12px;
    }
  }

  &__icon {
    display: flex;
    margin-right: 8px;
    @include small-block {
      display: none;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
