@import "../../assets/scss/main";


.tabs {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.rounded {
      .tabs {
        &__nav {
          box-shadow: none;

          &::v-deep {
            .tab {
              &__nav {
                &__item {
                  @include chips;
                  margin-bottom: 0;

                  &:before {
                    content: none;
                  }

                  &.tabActive {
                    border-color: $primary;
                    color: $primary;
                  }
                }
              }

              &__icon {
                display: none;
              }
            }
          }
        }
      }
    }

    &.small {
      &::v-deep {
        .tab {
          &__nav {
            > div {
              align-items: flex-start;
            }

            &__item {
              padding-left: 0;
              padding-right: 0;

              &:not(:last-child) {
                margin-right: 18px;
              }
            }
          }
        }
      }
    }
  }

  &__nav {
    position: relative;
    display: flex;
    @include borderShadowTopBottom(-1px, $gray30);

    > div {
      display: flex;
      flex-wrap: nowrap;
      width: auto;
      overflow-x: auto;
      align-items: center;
    }
  }

  &__actions {
    margin-left: auto;
  }
}
