<template>
    <div :class="tabClass" ref="tabsWrapper">
        <div class="tabs__nav">
            <PortalTarget :name="portalName" multiple/>
            <div class="tabs__actions" v-if="!!$slots.actions && rounded">
                <slot name="actions"></slot>
            </div>
        </div>
        <div class="tabs__content">
            <slot></slot>
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import {PortalTarget} from 'portal-vue';
    import _ from 'lodash';

    export default Vue.extend({
        components: {
            PortalTarget,
        },
        props: {
            value: {
                type: Number,
                default: 0,
            },
            rounded: {
                type: Boolean,
                default: false,
            },
            small: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {};
        },
        computed: {
            activeTab: {
                get(): number {
                    return this.value;
                },
                set(value: number) {
                    this.$emit('input', value);
                },
            },
            portalName(): string {
                // @ts-ignore
                return `tab_${this._uid}`;
            },
            tabClass(): any {
                return {
                    ['tabs__wrapper']: true,
                    ['rounded']: this.rounded,
                    ['small']: this.small,
                };
            },
        },
        methods: {
            setActiveTab(index: number): void {
                this.activeTab = index;
            },
            setTabsAttributes(): void {
                let index = 0;
                _.forEach(this.$slots.default, (value: any) => {
                    if (value.elm.className !== 'tab') {
                        return;
                    }
                    value.elm.setAttribute('tabIndex', index);
                    // @ts-ignore
                    value.elm.setAttribute('tabsId', this._uid);
                    index++;
                });
            },
        },
        mounted() {
            this.setTabsAttributes();
        },
    });
</script>

<style scoped lang="scss">
    @import "tabs";
</style>
