@import "../../assets/scss/main.scss";

.perPageSelector {
  margin-left: 12px;
  .input__option__icon {
    display: none;
  }
  .input {
    &__content {
      max-width: 72px;
      font-size: $textSize-mobile;
      line-height: $textLine-mobile;

      .vs {
        &__selected-options, &__selected {
          font-size: $textSize-mobile;
          line-height: $textLine-mobile;
        }

        &__dropdown-option {
          font-size: $textSize-mobile;
          line-height: $textLine-mobile;
          display: flex;
        }
      }
    }
    &__wrapper{
      display: flex;
      flex: 0;
    }
  }
  &__text {
    @include text;
    font-weight: $medium;
    margin-left: 12px;
  }

  &__autocomplete {
    display: flex;
    align-items: center;
  }
}
