<template>
    <div class="perPageSelector">
        <div class="perPageSelector__autocomplete">
            <SingleSelect
                small
                itemText="value"
                itemValue="value"
                v-model="perPage"
                hideIcons
                :disabled="isLoading"
                :options="options"/>
            <div class="perPageSelector__text" v-if="perPagesText">
                {{ perPagesText }}
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import SingleSelect from '../forms/selectComponent/SingleSelect.vue';
    import Vue from 'vue';

    type SelectOption = {
        value: number,
    };

    export default Vue.extend({
        components: {
            SingleSelect,
        },
        props: {
            value: {
                type: Number,
                default: 10,
                validator: (value: number) => {
                    return value > 0;
                },
            },
            perPagesText: String,
            isLoading: Boolean,
        },
        data() {
            return {
                options: [
                    {
                        value: 10,
                    },
                    {
                        value: 30,
                    },
                    {
                        value: 50,
                    },
                    {
                        value: 100,
                    },
                ] as SelectOption[],
            };
        },
        computed: {
            perPage: {
                get(): SelectOption {
                    return {
                        value: this.value,
                    };
                },
                set(value: SelectOption): void {
                    this.$emit('input', value.value);
                },
            },
        },
    });
</script>

<style lang="scss">
    @import "perPageSelector";
</style>
