<template>
    <div :class="['table__wrapper', {large:large}]">
        <TableComponent :data="internalItems"
                        :reorderable="reorderable"
                        @dragEnd="changeOrder"
                        :fixedLastColumn="isFixedLastColumn"
                        :filter-no-results="filterNoResults"
                        scrollable
                        :scrollPagination="true"
                        @loadMore="loadMore"
                        ref="tableComponent"
                        :fixedRow="fixedRow"
                        :hasMorePages="hasMorePages"
        >
            <slot></slot>
            <template slot="loader">
                <PaginationLoader />
            </template>
            <template slot="emptyText">
                <slot name="emptyText"></slot>
            </template>
        </TableComponent>
    </div>
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import TableWrapper from './TableWrapper.vue';
    import {PaginatedListApiResponse} from '../../types/PaginatedListApiResponse';
    import _ from 'lodash';

    export default mixins(TableWrapper).extend({
        data() {
            return {
                perPage: null as unknown as number,
                hasMorePages: true,
            };
        },
        methods: {
            setItems(response: PaginatedListApiResponse): void {
                this.internalItems = _.concat(this.internalItems, response.data.data);
            },
            loadMore(): void {
                if (this.hasMorePages && !this.isLoading) {
                    this.currentPage++;
                }
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "tableWrapper";
</style>
