<template>
    <div :class="['table__wrapper', {large:large}]">
        <TableComponent :data="internalItems"
                        :reorderable="reorderable"
                        @dragEnd="changeOrder"
                        :fixedLastColumn="isFixedLastColumn"
                        :filter-no-results="filterNoResults"
                        ref="tableComponent"
                        :scrollPagination="false"
                        :fixedRow="fixedRow"
        >
            <slot></slot>
        </TableComponent>
        <div class="table__pagination" v-if="inLoadingMode">
            <Pagination v-model="currentPage" :totalPages="totalPages" :isLoading="isLoading"/>
            <PerPageSelector :perPagesText="perPagesText" v-model="perPage" :isLoading="isLoading"/>
        </div>
        <div class="table__pagination bottom">
            <div class="table__bottomButton">
                <slot name="button"></slot>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {TableComponent} from 'vue-table-component';
    import PerPageSelector from '../tables/PerPageSelector.vue';
    import Pagination from '../tables/Pagination.vue';
    import type {PaginatedListApiResponse} from '../../types/PaginatedListApiResponse';
    import {DEFAULT_PAGE, DEFAULT_PER_PAGE} from '../tables/constants';
    import PaginationLoader from '../../components/loader/paginationLoader/PaginationLoader.vue';
    import mediaQueriesMixin from '@/mixins/mediaQueriesMixin';
    import mixins from 'vue-typed-mixins';

    export type DragEndPayload = {
        new: number,
        old: number,
    };

    export type ChangeOrderPayload = {
        order: DragEndPayload,
        item: any,
    };

    export default mixins(mediaQueriesMixin).extend({
        components: {
            PaginationLoader,
            TableComponent,
            PerPageSelector,
            Pagination,
        },
        props: {
            items: {
                type: Array,
            },
            loadItemsFunction: {
                type: Function,
            },
            filterNoResults: {
                type: String,
                default: 'no results',
            },
            reorderable: {
                type: Boolean,
                default: false,
            },
            perPagesText: {
                type: String,
                default: 'per page',
            },
            fixedLastColumn: {
                type: Boolean,
                default: false,
            },
            large: {
                type: Boolean,
                default: false,
            },
            fixedRow: {
                default: () => {
                },
                type: Object,
            },
        },
        data() {
            return {
                internalItems: [] as any[],
                totalPages: 0,
                currentPage: DEFAULT_PAGE,
                perPage: DEFAULT_PER_PAGE,
                hasMorePages: false,
                isLoading: false,
            };
        },
        computed: {
            inLoadingMode(): boolean {
                return !!this.loadItemsFunction;
            },
            inStaticMode(): boolean {
                return !!this.items;
            },
            isFixedLastColumn(): boolean {
                return this.fixedLastColumn && !this.isMobile && this.internalItems.length > 0;
            },
        },
        watch: {
            items() {
                this.loadData();
            },
            currentPage() {
                this.loadData();
            },
            perPage() {
                this.currentPage = DEFAULT_PAGE;
                this.loadData();
            },
        },
        methods: {
            validateProps(): void {
                if (this.inLoadingMode || this.inStaticMode) {
                    return;
                }

                throw new Error('"loadItemsFunction" or "items" prop should be provided.');
            },
            loadData(): Promise<void> {
                if (this.inLoadingMode) {
                    return this.loadDataWithFunctionProp();
                } else {
                    return this.refreshItemsFromItemsProp();
                }
            },
            loadDataWithFunctionProp(): Promise<void> {
                if (this.isLoading) {
                    return Promise.resolve();
                }
                this.isLoading = true;
                this.$emit('loading', true);
                return this.loadItemsFunction(this.currentPage, this.perPage)
                    .then((response: PaginatedListApiResponse) => {
                        this.setItems(response);
                        this.totalPages = response.data.meta.last_page;
                        this.hasMorePages = response.data.links.next !== null;
                        this.$emit('loaded', response);
                    })
                    .catch((e) => {
                        console.error(e);
                    })
                    .finally(() => {
                        this.isLoading = false;
                        this.$emit('loading', false);
                    });
            },
            setItems(response: PaginatedListApiResponse): void {
                this.internalItems = response.data.data;
            },
            refreshItemsFromItemsProp(): Promise<void> {
                this.internalItems = this.items;
                return Promise.resolve();
            },
            reloadFromFirstPage(): Promise<void> {
                this.internalItems = [];
                this.currentPage = 1;
                return this.loadData();
            },
            changeOrder(order: DragEndPayload): void {
                this.$emit('changeOrder', {
                    order: order,
                    item: this.items[order.old],
                });
            },
        },
        created() {
            this.validateProps();
        },
        mounted() {
            this.loadData();
        },
    });
</script>

<style scoped lang="scss">
    @import "tableWrapper";
</style>
