<script lang="ts">
    import Vue from 'vue';
    import {TableColumn} from 'vue-table-component';

    export default Vue.extend({
        extends: TableColumn,
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });
</script>

<style scoped lang="scss">

</style>
