<template>
    <InputTemplate
        ref="inputTemplate"
        :label="label"
        :rules="rules"
        :placeholder="placeholder"
        :required="required"
        :hint="hint"
        :disabled="disabled"
        :small="small"
        :errorMessage="errorMessage"
        :validationHint="validationHint"
        :inputColor="inputColor"
        :labelWithoutColon="labelWithoutColon"
        :large="large"
        :value="inputValue"
        :withPrependContent="showPrependContent">
        <div
            @click="focusElement"
            @mouseenter="onMouseEnter"
            @mouseleave="onMouseLeave">
            <vSelect
                multiple
                :class="['input__content', {'withContent': inputValue.length > 0}]"
                clearable
                :searchable="searchable"
                ref="input"
                selectOnTab
                v-model="inputValue"
                :appendToBody="appendToBody"
                :calculatePosition="withPopper"
                :getOptionLabel="getOptionText"
                @search:focus="onFocus"
                @search:blur="onBlur"
                @search="search"
                @option:selecting="unselectOption($event)"
                :components="{Deselect}"
                :close-on-select="false"
                :options="formattedOptions">
                <template #search="{ attributes, events }">
                    <input
                        class="vs__search"
                        v-bind="attributes"
                        v-on="events"
                        :placeholder="selectPlaceholder"
                    >
                </template>
                <template #selected-option="{text}">
                    <div :class="[{'selected__option': text}]">
                        <slot name="selected-option" v-bind="{text}">
                            {{ text }}
                        </slot>
                    </div>
                </template>
                <template #option="option">
                    <div :class="['input__option__text',{small : small}, {large: large}]">
                        <div class="input__option">
                            <slot name="option" v-bind="option">
                                {{ option.text }}
                            </slot>
                        </div>
                        <template v-if="small">
                            <div class="input__option__icon" v-if="!hideIcons && optionIsSelected(option)">
                                <SuccessArrowIcon noHover :iconColor="inputColor"/>
                            </div>
                        </template>
                        <template v-else>
                            <div class="input__option__icon">
                                <CheckboxComponent :color="inputColor" :value="optionIsSelected(option)"/>
                            </div>
                        </template>
                    </div>
                </template>
                <template
                    #list-footer
                    v-if="loadOptionsFunctionIsPresent && hasMorePages">
                    <scroll-loader
                        :loader-method="loadMore"
                        :loader-disable="loadMoreIsDisabled">
                        <PaginationLoader/>
                    </scroll-loader>
                </template>
                <template #open-indicator="{ attributes }">
                    <div v-bind="attributes">
                        <div class="input__toggle">
                            <DropdownArrowDownIcon
                                :iconColor="disabled ? themeVariables.gray40 : themeVariables.gray1000"/>
                        </div>
                    </div>
                </template>
                <template #no-options="{ search, searching, loading }">
                    <div class="input__noResult">
                        {{ noResult }}
                    </div>
                </template>
            </vSelect>
        </div>
    </InputTemplate>
</template>

<script lang="ts">
    import vSelect from 'vue-select';
    import _ from 'lodash';
    import SuccessArrowIcon from '../../icons/formIcons/SuccessArrowIcon.vue';
    import DropdownArrowDownIcon from '../../icons/formIcons/DropdownArrowDownIcon.vue';
    import ErrorIcon from '../../icons/formIcons/ErrorIcon.vue';
    import InputTemplate from '../inputTemplate/InputTemplate.vue';
    // @ts-ignore
    import mixins from 'vue-typed-mixins';
    import selectComponentMixin from './mixins/selectComponentMixin';
    import inputMixin from '../mixins/inputMixin';
    import CheckboxComponent from '../../../components/forms/checkboxComponent/CheckboxComponent.vue';
    import {SelectOption} from './types/SelectOption';
    import ScrollLoader from '../../../components/utils/ScrollLoader.vue';
    import PaginationLoader from '../../loader/paginationLoader/PaginationLoader.vue';

    export default mixins(inputMixin, selectComponentMixin).extend({
        mixins: [
            inputMixin,
            selectComponentMixin,
        ],
        extends: InputTemplate,
        props: {
            options: {
                type: Array,
            },
            value: {
                type: Array,
                required: true,
            },
        },
        components: {
            vSelect,
            SuccessArrowIcon,
            DropdownArrowDownIcon,
            InputTemplate,
            ErrorIcon,
            CheckboxComponent,
            ScrollLoader,
            PaginationLoader,
        },
        data() {
            return {
                Deselect: ErrorIcon,
            };
        },
        computed: {
            inputValue: {
                get(): SelectOption[] {
                    let result: SelectOption[] = [];
                    for (let optionValue of this.value) {
                        _.find(this.formattedOptions, (option: SelectOption) => {
                            if (option.value === optionValue[this.itemValue]) {
                                result.push(option);
                            }
                        });
                    }
                    return result;
                },
                set(value: SelectOption[]): void {
                    let realValue = value.map((item: SelectOption) => {
                        return item.realOption;
                    });
                    this.$emit('input', realValue);
                    this.$emit('change', realValue);
                    this.onMouseLeave();
                    this.onBlur();
                },
            },
        },
        methods: {
            reset(): void {
                this.inputValue = [];
                this.bottomLine.reset();
            },
            unselectOption(option: SelectOption): void {
                if (this.optionIsSelected(option)) {
                    let newInputValue = _.clone(this.inputValue);
                    _.remove(newInputValue, (o: SelectOption) => {
                        return o.value === option.value;
                    });

                    this.inputValue = newInputValue;
                }
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "../inputTemplate/inputTemplate";
    @import "selectComponent.scss";
    @import "multipleSelect";
</style>
