@import "../../../assets/scss/main.scss";
@import "../assets/input.scss";

$iconWidth: 24px;
//overriding default input styles
.input {
  &__wrapper {
    .input {
      &__content {
        padding: 0 !important;
      }
    }

    &::v-deep {
      .v-select {
        display: flex;
        width: 100%;
        position: relative;
        padding-right: 6px;

        input {
          appearance: none;
          border: none;
          box-shadow: none;
          margin: 0;
          padding: 0;
          width: 100%;
        }

        &.vs {
          &--open {
            .input__toggle {
              transition: 0.3s;
              transform: rotateX(180deg);
              background: $white;
            }
          }

          &--disabled {
            border-color: $gray30 !important;
            color: $gray40;

            input {
              background: inherit;
              color: $gray40;

              &::-webkit-input-placeholder {
                color: $gray40;
              }

              &:-ms-input-placeholder {
                color: $gray40;
              }

              &::placeholder {
                color: $gray40;
              }
            }
          }
        }

        .input__toggle {
          transition: 0.3s;
          transform: rotateX(0deg);
        }

        .vs {
          &__no-options {
            text-align: center;
          }

          &__selected {
            @include headline;
            white-space: nowrap;
            height: 100%;
            display: flex;
            align-items: center;
            max-width: 100%;

            &-options {
              position: relative;
              width: calc(100% - #{$iconWidth});
              overflow: hidden;
              display: flex;
              align-items: center;
              height: 100%;

              input {
                @include headline;
                margin-left: 2px;
                flex: 0 1 auto;
              }
            }

            .selected__option {
              width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
              display: block;
              white-space: nowrap;
            }
          }

          &__dropdown-toggle {
            display: flex;
            width: 100%;
            align-items: center;
            @include classicInput;
            height: $inputMaxHeight;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 6px !important;
            overflow: hidden;
          }

          &__clear {
            display: none;
          }
        }
      }
    }

    &.small {
      &::v-deep {
        .vs {
          &__selected {
            @include text;

            &-options {
              input {
                @include text;
              }
            }
          }

          &__dropdown-toggle {
            @include smallInput;
            height: $inputSmallMaxHeight;
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

//styles for dropdown
::v-deep {
  .vs {
    &__dropdown-menu {
      @include dropdown;
    }

    &__dropdown-option {
      @include dropdownOption;
    }
  }
}
