<template>
    <InputTemplate
        ref="inputTemplate"
        :label="label"
        :rules="rules"
        :required="required"
        :hint="hint"
        :disabled="disabled"
        :small="small"
        :errorMessage="errorMessage"
        :validationHint="validationHint"
        :inputColor="inputColor"
        :labelWithoutColon="labelWithoutColon"
        :large="large"
        :value="inputValue && inputValue.value ? inputValue.value : ''"
        :withPrependContent="showPrependContent">
        <div
            @click="focusElement"
            @mouseenter="onMouseEnter"
            @mouseleave="onMouseLeave">
            <vSelect
                class="input__content"
                ref="input"
                selectOnTab
                :searchable="searchable"
                v-model="inputValue"
                :autoscroll="false"
                :appendToBody="appendToBody"
                :calculatePosition="withPopper"
                :getOptionLabel="getOptionText"
                @option:selecting="onChange"
                @search:focus="onFocus"
                @search:blur="onBlur"
                @search="search"
                :options="formattedOptions">
                <template #search="{ attributes, events }">
                    <input
                        class="vs__search"
                        v-bind="attributes"
                        v-on="events"
                        :placeholder="selectPlaceholder"
                    >
                </template>
                <template #selected-option="{text}">
                    <div :class="[{'selected__option': text}]">
                        <slot name="selected-option" v-bind="{text}">
                            {{ text }}
                        </slot>
                    </div>
                </template>
                <template #option="option">
                    <div :class="['input__option__text',{small : small}, {large: large}]">
                        <div class="input__option">
                            <slot name="option" v-bind="option">
                                {{ option.text }}
                            </slot>
                        </div>
                        <div class="input__option__icon" v-if="!hideIcons && optionIsSelected(option)">
                            <SuccessArrowIcon noHover :iconColor="themeVariables.primary"/>
                        </div>
                    </div>
                </template>
                <template
                    #list-footer
                    v-if="(loadOptionsFunctionIsPresent && hasMorePages) || !!$slots.footerFixed">
                    <template v-if="loadOptionsFunctionIsPresent && hasMorePages">
                        <scroll-loader
                            :loader-method="loadMore"
                            :loader-disable="loadMoreIsDisabled">
                            <PaginationLoader/>
                        </scroll-loader>
                    </template>
                    <div class="selectFooterFixed" v-if="!!$slots.footerFixed">
                        <slot name="footerFixed"></slot>
                    </div>
                </template>
                <template #open-indicator="{ attributes }">
                    <div v-bind="attributes">
                        <div class="input__toggle">
                            <DropdownArrowDownIcon
                                :iconColor="disabled ? themeVariables.gray40 : themeVariables.gray1000"/>
                        </div>
                    </div>

                </template>
                <template #no-options="{ search, searching, loading }">
                    <div class="input__noResult">
                        {{ noResult }}
                    </div>
                </template>
            </vSelect>
        </div>
    </InputTemplate>
</template>

<script lang="ts">
    import _ from 'lodash';
    import vSelect from 'vue-select';
    import SuccessArrowIcon from '../../icons/formIcons/SuccessArrowIcon.vue';
    import DropdownArrowDownIcon from '../../icons/formIcons/DropdownArrowDownIcon.vue';
    import InputTemplate from '../inputTemplate/InputTemplate.vue';
    import mixins from 'vue-typed-mixins';
    import selectComponentMixin from './mixins/selectComponentMixin';
    import inputMixin from '../mixins/inputMixin';
    import {SelectOption} from './types/SelectOption';
    import ScrollLoader from '../../../components/utils/ScrollLoader.vue';
    import PaginationLoader from '../../loader/paginationLoader/PaginationLoader.vue';

    export default mixins(inputMixin, selectComponentMixin).extend({
        mixins: [
            inputMixin,
            selectComponentMixin,
        ],
        extends: InputTemplate,
        props: {
            value: {
                required: true,
            },
        },
        components: {
            PaginationLoader,
            vSelect,
            SuccessArrowIcon,
            DropdownArrowDownIcon,
            InputTemplate,
            ScrollLoader,
        },
        data() {
            return {};
        },
        computed: {
            inputValue: {
                get(): SelectOption | any {
                    let value = _.find(this.formattedOptions, (option: SelectOption) => {
                        return option.value === this.value[this.itemValue];
                    });

                    return value ? value : (_.isEmpty(this.value) ? {} : {
                        value: this.value[this.itemValue],
                        text: this.value[this.itemText],
                        realOption: this.value,
                    });
                },
                set(value: SelectOption): void {
                    this.onChange(value);
                },
            },
        },
        methods: {
            reset(): void {
                this.inputValue = {};
                this.bottomLine.reset();
            },
            onChange(option: SelectOption | null): void {
                if (option && !this.optionIsSelected(option)) {
                    this.$emit('input', _.isEmpty(option) ? option : option.realOption);
                    this.$emit('change', _.isEmpty(option) ? option : option.realOption);
                } else {
                    this.$emit('input', {});
                    this.$emit('change', {});

                }
            },
        },
    });
</script>

<style lang="scss" scoped>
    @import "../inputTemplate/inputTemplate";
    @import "selectComponent.scss";
    @import "singleSelect";
</style>
