@import "../../../assets/scss/main.scss";

.input {
  &__wrapper {
    &::v-deep {
      .vs--open {
        &.vs--searching {
          .vs {
            &__selected {
              display: none;
            }
          }
        }
      }
    }
  }
}

.selectFooterFixed {
  display: flex;
  padding: 12px;
  border-top: 1px solid $gray30;
  position: sticky;
  bottom: -3px;
  width: 100%;
  background: $white;
}
