<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
            <path d="M0 0H8C8 4.41828 4.41828 8 0 8V0Z" fill="url(#paint0_linear-dark)"/>
            <mask id="maxk0-dark" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="8" height="8">
                <path d="M0 0H8C8 4.41828 4.41828 8 0 8V0Z" fill="url(#paint1_linear-dark)"/>
            </mask>
            <g mask="url(#maxk0-dark)">
                <path d="M10 4H7C7.2655 1.87603 5.60937 0 3.46887 0H10V4Z" fill="#2D3448"/>
            </g>
            <defs>
                <linearGradient id="paint0_linear-dark" x1="4" y1="0" x2="4" y2="8" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#0B1125"/>
                    <stop offset="1" stop-color="#2D3448"/>
                </linearGradient>
                <linearGradient id="paint1_linear-dark" x1="4" y1="0" x2="4" y2="8" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#C7030F"/>
                    <stop offset="1" stop-color="#FC313D"/>
                </linearGradient>
            </defs>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../../icons/SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>
