@import "../../../../assets/scss/main";

.validationHint {
  position: relative;
  @include textTwo;
  color: $gray100;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  margin-bottom: 8px;
  margin-left: auto;

  &__disabled {
    color: $gray60;
  }
}
