<template>
    <div :style="maxWidthStyle" v-if="validationHint" ref="label"
         :class="['validationHint', {validationHint__disabled: disabled}]">
        {{ validationHint }}
    </div>
</template>

<script>
    import upperElementsMixin from '../mixins/upperElementsMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(upperElementsMixin).extend({
        props: {
            validationHint: {
                type: String,
                required: true,
            },
        },
        mixins: [
            upperElementsMixin,
        ],
    });
</script>

<style scoped lang="scss">
    @import "validationHint";
</style>
