<template>
    <div class="searchResult__wrapper">
        <div class="searchResult__title">
            {{ title }}
        </div>
        <div class="searchResult__message">
            {{ message }}
        </div>

        <ul class="searchResult__list">
            <li class="searchResult__list__item">
                {{ searchList.correctWord }}
            </li>
            <li class="searchResult__list__item">
                {{ searchList.differentItem }}
            </li>
            <li class="searchResult__list__item">
                {{ searchList.moreTerms }}
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {SearchList} from './types/SearchList';

    const DEFAULT_SEARCH_LIST = {
        correctWord: 'Make sure all words are spelled correctly',
        differentItem: 'Try different search terms',
        moreTerms: 'Try more general search terms',
    };

    export default Vue.extend({
        props: {
            searchText: {
                type: String,
                required: true,
            },
            title: {
                type: String,
                required: true,
            },
            message: {
                type: String,
                required: true,
            },
            searchList: {
                type: Object as () => SearchList,
                default: () => DEFAULT_SEARCH_LIST,
            },
        },
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });
</script>

<style scoped lang="scss">
    @import "emptySearchResult";
</style>
