@import "../../../assets/scss/main.scss";

.searchResult {
  &__title {
    @include titleThree;
    font-weight: $bold;
    color: $gray1000;
    margin-bottom: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    @include small-block {
      margin-bottom: 12px;
    }
  }

  &__message {
    @include titleFour;
    font-weight: $bold;
    color: $gray1000;
    margin-bottom: 16px;
    @include small-block {
      margin-bottom: 12px;
    }
  }

  &__list {
    list-style: disc;
    margin-left: 18px;

    &__item {
      @include headline;
      font-weight: $regular;
      color: $gray1000;
      margin-bottom: 8px;
    }
  }
}
