<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
                d="M12 5C18 5 22 10.6 22 12C22 13.4 18 19 12 19C6 19 2 13.4 2 12C2 10.6 6 5 12 5ZM12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7ZM12.001 9.5C13.3817 9.5 14.501 10.6193 14.501 12C14.501 13.3807 13.3817 14.5 12.001 14.5C10.6202 14.5 9.50095 13.3807 9.50095 12C9.50095 10.6193 10.6202 9.5 12.001 9.5Z"
                fill="#A6ADC6"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
