<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
                d="M6.21285 3.79701L8.18957 5.77451C8.1899 5.77437 8.19023 5.77424 8.19057 5.7741L9.88539 7.46784C9.88505 7.468 9.88472 7.46816 9.88439 7.46831L11.917 9.50215H11.919L14.4997 12.081C14.4996 12.0823 14.4996 12.0837 14.4995 12.085L16.531 14.117C16.5315 14.116 16.532 14.115 16.5324 14.114L18.8161 16.3987C18.8155 16.3992 18.8148 16.3998 18.8141 16.4003L20.1996 17.787C20.5901 18.1776 20.5901 18.8108 20.1995 19.2013C19.8391 19.5617 19.2719 19.5895 18.8797 19.2845L18.7854 19.2012L17.1465 17.5626C15.6879 18.4088 13.9495 19 12 19C6 19 2 13.4 2 12C2 11.1095 3.61823 8.51991 6.34006 6.75287L4.79872 5.2113C4.40823 4.82072 4.40826 4.18755 4.7988 3.79701C5.18928 3.40653 5.82237 3.40653 6.21285 3.79701ZM7 12C7 14.7614 9.23858 17 12 17C13.2753 17 14.4391 16.5225 15.3224 15.7366L13.5482 13.9638C13.1226 14.2996 12.5852 14.5 12.001 14.5C10.6202 14.5 9.50095 13.3807 9.50095 12C9.50095 11.4153 9.70167 10.8775 10.038 10.4517L8.26339 8.6776C7.47747 9.56087 7 10.7247 7 12ZM12 4.99999C18 4.99999 22 10.6 22 12C22 12.5516 21.3789 13.7554 20.2591 15.0118L16.9937 11.7468C16.866 9.18684 14.813 7.13385 12.253 7.00628L10.3825 5.1369C10.9034 5.04824 11.4431 4.99999 12 4.99999Z"
                fill="#A6ADC6"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
