<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14ZM9 5C9 5.55228 8.55228 6 8 6C7.44772 6 7 5.55228 7 5C7 4.44772 7.44772 4 8 4C8.55228 4 9 4.44772 9 5ZM9 11C9 11.5523 8.55228 12 8 12C7.44771 12 7 11.5523 7 11V8C7 7.44771 7.44772 7 8 7C8.55229 7 9 7.44772 9 8V11Z"
                  fill="#787E8D"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
    extends: SvgIcon,
    components: {
        SvgIcon,
    },
});
</script>

<style scoped>

</style>
