<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect width="24" height="24" fill="white" fill-opacity="0.01"/>
            <path
                d="M6.735 12.3219C6.55446 12.1299 6.30541 12.0169 6.04201 12.0076C5.77861 11.9982 5.52217 12.0932 5.32844 12.2719C5.13471 12.4506 5.01937 12.6986 5.00749 12.9619C4.99561 13.2252 5.08815 13.4825 5.265 13.6779L8.877 17.5969C9.414 18.1229 10.214 18.1229 10.711 17.6269L11.075 17.2679C12.3895 15.9751 13.7025 14.6808 15.014 13.3849L15.054 13.3449C16.2797 12.137 17.499 10.9226 18.712 9.70193C18.8933 9.51212 18.9927 9.25866 18.9887 8.99622C18.9848 8.73378 18.8778 8.48342 18.6909 8.29914C18.504 8.11487 18.2522 8.01146 17.9897 8.01123C17.7273 8.011 17.4752 8.11398 17.288 8.29793C16.0807 9.51226 14.8673 10.7206 13.648 11.9229L13.608 11.9629C12.3513 13.2052 11.0929 14.4459 9.833 15.6849L6.735 12.3219Z"
                fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
