<template>
    <div class="fixedPopup__wrapper" v-click-outside="hidePopover" ref="tooltip" @click.stop>
        <div class="fixedPopup__activator" :class="{[POPOVER_ACTIVATOR_ACTIVE_CLASS]: isVisible}"
             ref="activator"
             @click="togglePopover">
            <slot name="activator"></slot>
        </div>
        <div :class="popoverClass"
             :style="popupStyle"
             ref="popover"
             v-if="isVisible">
            <div class="fixedPopup__header__wrapper" v-if="$slots.header">
                <div class="fixedPopup__header">
                    <slot name="header"></slot>
                    <div class="fixedPopup__cross" @click="hidePopover" v-if="withCross">
                        <CrossIcon/>
                    </div>
                </div>
                <hr>
            </div>
            <div class="fixedPopup__content">
                <slot></slot>
            </div>
            <div class="fixedPopup__footer__wrapper" v-if="$slots.footer">
                <hr>
                <div class="fixedPopup__footer">
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import vClickOutside from 'v-click-outside';
    import {POPOVER_ACTIVATOR_ACTIVE_CLASS, POPOVER_CLASS, POPOVER_SIZE} from './constants';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';
    import CrossIcon from '../../icons/CrossIcon.vue';
    import {POSITION_ABSOLUTE} from '../constants';
    import mixins from 'vue-typed-mixins';
    import popupElementMixin from '../../popupElements/mixins/popupElementMixin';
    import {enumIncludes} from '../../../utils/enums';

    export default mixins(popupElementMixin).extend({
        mixins: [popupElementMixin],
        props: {
            size: {
                type: String,
                validator(value: string): boolean {
                    return enumIncludes(POPOVER_SIZE, value);
                },
            },
            withCross: {
                type: Boolean,
                default: false,
            },
        },
        components: {
            CrossIcon,
        },
        directives: {
            clickOutside: vClickOutside.directive,
        },
        data() {
            return {
                isVisible: false,
                themeVariables: themeVariables,
                POPOVER_ACTIVATOR_ACTIVE_CLASS: POPOVER_ACTIVATOR_ACTIVE_CLASS,
            };
        },
        computed: {
            popoverClass(): any {
                return {
                    [POPOVER_CLASS]: true,
                    [POSITION_ABSOLUTE]: this.absolute,
                    [this.popupElementPosition]: true,
                    [this.size]: !!this.size,
                };
            },
        },
        methods: {
            togglePopover(): void {
                if (this.isVisible) {
                    this.hidePopover();
                } else {
                    this.showPopover();
                }
            },
            showPopover(): void {
                this.setPopupElementPosition();
                this.isVisible = true;
                this.$emit('show');
            },
            hidePopover(): void {
                this.isVisible = false;
                this.$emit('hide');
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "popover";
</style>
