@import "../../../assets/scss/main";
@import "../popupElement";

$smallWidth: 184px;
$mediumWidth: 360px;
$largeWidth: 520px;
$cardWidth: 400px;

$arrowWidth: 0px;

.fixedPopup {
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: $borderRadius;
  @include border-shadow(1px, $gray20, $drop200);
  flex-direction: column;
  background: $white;
  z-index: 3;
  padding: 8px;

  &__activator {
    cursor: pointer;
  }

  &__wrapper {
    display: inline-flex;
    align-content: center;
    position: relative;
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__footer {
    display: flex;
    width: 100%;
  }

  &__cross {
    display: flex;
    cursor: pointer;
    margin-left: auto;
  }

  @include fixedPopup;

  &.absolutePosition {
    @include absolutePopup;
  }

  &.small {
    width: $smallWidth;
  }

  &.medium {
    width: $mediumWidth;
  }

  &.large {
    width: $largeWidth;
  }

  &.cardSize {
    width: $cardWidth;
  }

  &::v-deep {
    hr {
      border: 0;
      height: 0;
      margin: 8px -8px;
      border-bottom: 1px solid $gray20;
      width: calc(100% + 16px);
    }
  }

}
