<template>
    <SvgIcon name="cancelTopbar_24"/>
</template>

<script lang="ts">
    import {SvgIcon} from 'mlh-ui-icons';
    import Vue from 'vue';

    export default Vue.extend({
        components: {
            SvgIcon,
        },
    });
</script>
