@import "../../../assets/scss/main";

.autocomplete {
  position: relative;

  &__option {
    display: flex !important;

    .svgIcon {
      margin-right: 8px;
    }
  }

  &__empty {
    color: $gray1000;
    padding: 8px 4px;
    cursor: pointer;
  }

  &__icon {
    z-index: 1;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__loading {
    animation: spinner .6s linear infinite;
  }
}

::v-deep {
  .vs__dropdown-toggle {
    padding-left: 44px !important;
  }


  .vs__dropdown-option .input__option__text {
    color: $gray1000;
    padding: 8px 4px;
  }

  .vs__dropdown-option--highlight .input__option__text {
    border-radius: 8px;
  }

  .text__highlight {
    background: transparent;
    color: $gray1000;
    font-weight: $bold;
  }
}

.input__content {
  max-height: 48px;
}

.input {
  &__wrapper {
    &__focused {
      &::v-deep {
        .vs__selected {
          opacity: .3;
        }

        .vs--searching .vs__selected {
          opacity: 0;
        }

        .vs--searching .vs__selected {
          opacity: 0;
        }
      }
    }

    &::v-deep {
      .v-select {
        .vs {
          &__dropdown-toggle {
            height: 48px;
            max-height: 48px;
            padding-right: 12px !important;
          }

          &__clear {
            display: block;
            border: none;
            background: transparent;
          }

          &__selected {
            position: absolute;
          }
        }
      }
    }
  }
}
