<template>
    <InputTemplate
        ref="inputTemplate"
        :placeholder="placeholder"
        :small="small"
        :inputColor="inputColor"
        :large="large"
        :value="inputValue && inputValue.value ? inputValue.value : ''"
        :withPrependContent="showPrependContent"
    >
        <div class="autocomplete"
             @click="focusElement"
             @mouseenter="onMouseEnter"
             @mouseleave="onMouseLeave">
            <div class="autocomplete__icon">
                <SvgIcon name="searchTopbar_24"/>
            </div>
            <vSelect
                class="input__content style-chooser"
                ref="input"
                uid="autocomplete"
                v-model="inputValue"
                :autoscroll="false"
                :filterable="false"
                :appendToBody="appendToBody"
                :calculatePosition="withPopper"
                :getOptionLabel="getOptionText"
                :dropdownShouldOpen="dropdownShouldOpen"
                :options="formattedOptions"
                selectOnTab
                @search:focus="onFocus"
                @search:blur="onBlur"
                @search="search"
                :components="clearableComponents">
                <template #search="{ attributes, events }">
                    <input
                        class="vs__search"
                        v-bind="attributes"
                        v-on="events"
                        :placeholder="selectPlaceholder"
                    >
                </template>
                <template #selected-option="{text}">
                    <div :class="[{'selected__option': text}]">
                        <slot name="selected-option" v-bind="{text}">
                            {{ text }}
                        </slot>
                    </div>
                </template>
                <template #option="option">
                    <div :class="['input__option__text',{small : small}, {large: large}]">
                        <div class="input__option autocomplete__option">
                            <slot name="option" v-bind="option">
                                <SvgIcon name="searchSmall_24" :color="themeVariables.gray60"/>
                                <text-highlight :queries="searchText" highlightClass="autocomplete_text_highlight">
                                    {{ option.text }}
                                </text-highlight>
                            </slot>
                        </div>
                    </div>
                </template>
                <template #open-indicator="{ attributes }">
                    <div v-bind="attributes"></div>
                </template>
                <template #spinner="{loading}">
                    <div class="autocomplete__loading" v-show="loading">
                        <SvgIcon name="loading_24" :iconColor="themeVariables.secondary" ignoreWhite/>
                    </div>
                </template>
                <template #no-options>
                    <div class="autocomplete__empty">
                        {{ noResult }}
                    </div>
                </template>
            </vSelect>
        </div>
    </InputTemplate>
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import _ from 'lodash';
    import vSelect from 'vue-select';
    import TextHighlight from 'vue-text-highlight';
    import {SvgIcon} from 'mlh-ui-icons';
    import inputMixin from '../mixins/inputMixin';
    import InputTemplate from '../inputTemplate/InputTemplate.vue';
    import SearchOutlineIcon from '../../../components/icons/formIcons/SearchOutlineIcon.vue';
    import selectComponentMixin from '../selectComponent/mixins/selectComponentMixin';
    import {SelectOption} from '../selectComponent/types/SelectOption';
    import AutocompleteDeselectIcon from './AutocompleteDeselectIcon.vue';

    export const DEBOUNCED_DELAY = 500;

    export default mixins(InputTemplate, inputMixin, selectComponentMixin).extend({
        components: {
            SvgIcon,
            SearchOutlineIcon,
            InputTemplate,
            vSelect,
            TextHighlight,
        },
        data() {
            return {
                searchText: '',
                debouncedLoadRequest: null as any,
                emptyResult: false,
            };
        },
        computed: {
            inputValue: {
                get(): SelectOption | any {
                    return this.value;
                },
                set(value: SelectOption): void {
                    this.emptyResult = false;
                    this.onChange(value);
                },
            },
            clearableComponents() {
                return {
                    'Deselect': AutocompleteDeselectIcon,
                };
            },
        },
        methods: {
            clear(): void {
                this.formattedOptions = [];
                this.searchText = '';
                //@ts-ignore
                this.$refs.input.clearSelection();
            },
            dropdownShouldOpen({noDrop, open, mutableLoading}): boolean {
                if (this.emptyResult && open && !mutableLoading) {
                    return true;
                }
                return noDrop || !this.formattedOptions.length ? false : open && !mutableLoading;
            },
            search(value: string, loading: (arg: boolean) => void): void {
                if (this.loadOptionsFunctionIsPresent) {
                    this.searchText = value;
                    this.clearData();
                    this.loadMore(loading);
                }
            },
            loadMore(loading: (arg: boolean) => void): void {
                this.debouncedLoadRequest && this.debouncedLoadRequest(loading);
            },
            loadRequest(loading: (arg: boolean) => void): void {
                this.emptyResult = false;
                loading(true);
                this.loadOptionsFunction(this.searchText)
                    .then((items: any[]) => {
                        if (!items) {
                            return;
                        }
                        if (!items.length) {
                            this.emptyResult = true;
                        }
                        this.formattedOptions = this.formatOptions(items);
                    })
                    .catch((e) => {
                        console.error(e);
                    })
                    .finally(() => {
                        loading(false);
                    });
            },
        },
        mounted(): void {
            this.debouncedLoadRequest = _.debounce(this.loadRequest, DEBOUNCED_DELAY);
        },
    });
</script>

<style scoped lang="scss">
    @import "../selectComponent/selectComponent.scss";
    @import "../selectComponent/singleSelect";
    @import "autocomplete";
</style>
<style lang="scss">
    @import "../../../assets/scss/shadows.module";
    @import "../../../assets/scss/colors.module";

    body > #vsautocomplete__listbox {
        box-shadow: $drop200;
        max-height: 420px;
        border-radius: 8px;
        padding: 8px;

        .vs__dropdown-option--highlight .input__option__text {
            border-radius: 8px;
        }

        .vs__dropdown-option .input__option__text {
            color: $gray1000;
            padding: 8px 4px;
            cursor: pointer;
        }
    }
</style>
