<template>
    <div class="input__bottomLine__wrapper">
        <transition name="errorTransition" mode="out-in">
            <div class="input__bottomLine input__error">
                <ErrorIcon noHover :iconColor="errorColor"/>
                {{ message }}
            </div>
        </transition>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';
    import ErrorIcon from '../../icons/formIcons/ErrorIcon.vue';

    export default Vue.extend({
        components: {
            ErrorIcon,
        },
        props: {
            message: {
                type: String,
                default: 'Oops! Something went wrong. Please try again later.',
            },
        },
        data() {
            return {
                errorColor: themeVariables.red300,
            };
        },
    });
</script>

<style scoped lang="scss">
    @import "../inputTemplate/inputBottomLine/inputBottomLine.scss";
</style>
