@import "../../../assets/scss/main";

.input__content {
  max-height: inherit;
  padding: 6px 8px;
}

.input {
  &__inner {
    textarea {
      border: none;
      padding: 4px;
      margin: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      color: $gray1000;
      resize: none;
      line-height: inherit;
      min-height: 86px;

      &::-webkit-input-placeholder {
        color: $placeholderColor;
      }

      &:-ms-input-placeholder {
        color: $placeholderColor;
      }

      &::placeholder {
        color: $placeholderColor;
      }

      &.resizable {
        resize: vertical;
      }
    }
  }
}
