<template>
    <InputTemplate
        ref="inputTemplate"
        :label="label"
        :rules="rules"
        :placeholder="placeholder"
        :required="required"
        :hint="hint"
        :disabled="disabled"
        :small="small"
        :errorMessage="errorMessage"
        :validationHint="validationHint"
        :inputColor="inputColor"
        :labelWithoutColon="labelWithoutColon"
        :large="large"
        :value="inputValue"
        :withPrependContent="showPrependContent"
        :readonly="readonly"
    >
        <div class="input__content"
             @click="focusElement"
             @mouseenter="onMouseEnter"
             @mouseleave="onMouseLeave">
            <div class="input__inner">
                <textarea
                    :class="[{resizable:resizable}]"
                    ref="input"
                    v-bind="{...$props, ...$attrs}"
                    v-model="inputValue"
                    @focus="onFocus"
                    @blur="onBlur"/>
            </div>
        </div>
    </InputTemplate>
</template>
<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import InputTemplate from '../inputTemplate/InputTemplate.vue';
    import inputMixin from '../mixins/inputMixin';

    export default mixins(inputMixin).extend({
        extends: InputTemplate,
        props: {
            resizable: {
                type: Boolean,
                default: true,
            },
        },
        components: {
            InputTemplate,
        },
        mixins: [
            inputMixin,
        ],
        data() {
            return {};
        },
        computed: {},
        methods: {
            onInput(value: any) {
                this.$emit('input', value);
            },
            reset(): void {
                // @ts-ignore
                this.inputValue = '';
                this.inputTemplate.reset();
            },
        },
    });
</script>
<style scoped lang="scss">
    @import "textareaComponent";
</style>
