@import "../../assets/scss/main";

.page {
  &__header {
    background: $gray10;
    border-bottom: 1px solid $gray30;
    padding: $wrapperMargin 0;
    margin-bottom: 32px;
    @include small-block {
      margin-bottom: 24px;
    }
    @include small-block {
      padding: 24px 0;
    }
  }

  &__wrapper {
    width: 100%;

    &.withTabs {
      .page {
        &__header {
          padding-bottom: calc(#{$tabHeight} + 24px);
          margin-bottom: 0;
          padding-top: 24px;
          @include small-block {
            padding-bottom: calc(44px + 12px);
            margin-bottom: 0;
          }
        }
      }

      & > .container > .tabs {
        display: flex;
        width: 100%;
        margin-top: -$tabHeight;

        &::v-deep {
          .tabs__content {
            margin-top: 32px;
            @include small-block {
              margin-top: 24px;
            }
          }
        }

        &__wrapper {
          width: 100%;
        }
      }
    }

    &.withActions {
      .page {
        &__info {
          padding-right: 24px;
          @include small-block {
            padding-right: 0;
          }
        }
      }
    }

    &.simplified {
      .page {
        &__header {
          background: none;
          border-bottom: none;
          margin: 40px 0;
          padding: 0;
          @include small-block {
            margin: 24px 0;
          }
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    &__wrapper {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      @include small-block {
        flex-wrap: wrap;
      }
    }
  }

  &__title {
    display: block;
    @include titleOne;
    font-weight: $bold;
    color: $gray1000;
    margin-top: 12px;
    text-transform: capitalize;
  }

  &__description {
    width: 100%;
    @include titleFour_one;
    font-weight: $regular;
    color: $gray100;
    margin-top: 20px;
    word-break: break-word;
    @include small-block {
      margin-top: 8px;
      flex-wrap: wrap;
    }
  }

  &__actions {
    display: flex;
    margin-left: auto;
    align-self: flex-end;

    @include small-block {
      margin-top: 24px;
      margin-left: 0;
      align-self: flex-start;
      width: 100%;
    }
  }

  &__filters {
    grid-area: filter;
    margin-top: 12px;

    @include medium-block {
      margin-top: 0;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 296px 1fr;
      grid-template-rows: auto 1fr;
      column-gap: 30px;
      grid-template-areas:
      "filter search"
      "filter main";

      @include extraLarge-block {
        grid-template-columns: 278px 1fr;
      }

      @include large-block {
        grid-template-columns: 225px 1fr;
        column-gap: 20px;
      }

      @include medium-block {
        grid-template-columns: 1fr 6fr;
        grid-template-areas:
      "filter search"
      "main main";
        column-gap: 16px;
      }

      .page {
        &__list {
          grid-area: main;
          margin-top: 32px;

          @include small-block {
            margin-top: 24px;
          }

          .cards__wrapper {
            margin-top: 0;

            > .card__wrapper {
              @include col();
              @include size(3);
              @include size-extraLarge(4);
              @include size-large(4);
              @include size-medium(4);
              @include size-small(12);
            }
          }
        }
      }

      .searchResult__wrapper {
        grid-area: searchResult;
      }


    }
  }

  &__search {
    .searchComponent {
      margin-bottom: 0;
      margin-top: 0;

      @include medium-block {
        &::v-deep {
          .input__content {
            max-height: 40px;
            height: 40px;
            padding: 10px;
          }
        }
      }
    }
  }
}
