<template>
    <div :class="wrapperClass">
        <div class="page__header">
            <div class="container">
                <Breadcrumbs :routes="routes" v-if="routes.length > 0"/>
                <div class="page__info__wrapper">
                    <div class="page__info">
                        <h1 class="page__title">
                            {{ title }}
                        </h1>
                        <div class="page__description" v-if="description">
                            {{ description }}
                        </div>
                        <div class="page__description" v-if="hasDescriptionSlot">
                            <slot name="description"></slot>
                        </div>
                    </div>
                    <div class="page__actions" v-if="hasActions">
                        <slot name="actions"></slot>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="fullWidthBlock">
                <slot></slot>
                <div class="page__filters__wrapper" v-if="$slots.filters && $slots.search && $slots.list">
                    <div class="page__filters">
                        <slot name="filters"></slot>
                    </div>
                    <div class="page__search">
                        <slot name="search"></slot>
                    </div>
                    <div class="page__list">
                        <slot name="list"></slot>
                    </div>
                </div>
                <template v-if="!$slots.filters && ($slots.search || $slots.list)">
                    <div class="page__search">
                        <slot name="search"></slot>
                    </div>
                    <div class="page__list">
                        <slot name="list"></slot>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Breadcrumbs from '../../components/breadcrubms/Breadcrumbs.vue';
    import {Route} from '../../components/breadcrubms/types/Route';

    export default Vue.extend({
        components: {
            Breadcrumbs,
        },
        props: {
            routes: {
                type: Array as () => Route[],
                default: () => [],
            },
            title: {
                type: String,
                required: true,
            },
            description: {
                type: String,
                default: '',
            },
            withTabs: {
                type: Boolean,
                default: false,
            },
            simplified: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {};
        },
        computed: {
            wrapperClass():
                any {
                return {
                    ['page__wrapper']: true,
                    ['withTabs']: this.withTabs,
                    ['withActions']: this.hasActions,
                    ['simplified']: this.simplified,
                };
            },
            hasActions(): boolean {
                return !!this.$slots.actions;
            },
            hasDescriptionSlot(): boolean {
                return !!this.$slots.description;
            },
        },
        watch: {},
        methods: {},
    });
</script>

<style scoped lang="scss">
    @import "pageTemplate";
</style>
