<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect x="5" y="6" width="14" height="13" rx="2" stroke="#0B1125" stroke-width="2"/>
            <rect x="5" y="10" width="14" height="2" fill="#0B1125"/>
            <rect x="8" y="4" width="2" height="4" rx="1" fill="#0B1125"/>
            <rect x="14" y="4" width="2" height="4" rx="1" fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../../../components/icons/SvgIcon.vue';

    export default {
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    };
</script>

<style scoped>

</style>
