@import "../../assets/scss/main.scss";

.card {
  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    transition: 0.7s;
    transform: none;

    &__wrapper {
      align-items: center;
      justify-content: center;
      display: flex;
      height: 200px;
      border-radius: $borderRadius;
      overflow: hidden;
      @include borderShadowOutside(1px, $gray30);
      margin: 1px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        z-index: 2;
        transition: 0.5s;
      }
    }
  }

  &__wrapper {
    position: relative;

    &:hover {
      .card {
        &__image {
          transition: 0.7s;
          transform: scale(1.2);

          &__wrapper {
            &::before {
              transition: 0.5s;
              background: rgba($gray1000, 0.2);
              opacity: 1;
            }
          }
        }

        &__options {
          &__link {
            transition: 0.5s;
            opacity: 1;
            display: flex;
            align-items: center;

            &__icon {
              margin-left: -2px;
              animation: animate-right-arrow 1s infinite;
              pointer-events: none;
              opacity: 1;
            }
          }
        }
      }
    }

    &.dark {
      &:hover {
        .card {
          &__image {
            &__wrapper {
              &::before {
                background: rgba($gray1000, 0.6);
                opacity: 1;
              }
            }
          }

          &__options {
            &__button {
              transition: 0.5s;
              opacity: 1;
            }
          }
        }
      }
    }

    &::v-deep {
      .fixedPopup {
        &__wrapper {
          width: 100%;
        }

        &__activator {
          width: 100%;
        }
      }
    }
  }

  &__title {
    color: $gray1000;
    @include titleFour_one;
    font-weight: $bold;
    margin-top: 12px;
    word-break: break-word !important;
  }

  &__labels {
    position: absolute;
    left: 0;
    right: -8px;
    bottom: 0;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__options {
    &__button {
      position: absolute;
      right: 12px;
      bottom: 12px;
      z-index: 10;
      transition: 0.5s;
      opacity: 0;
    }

    &__link {
      position: absolute;
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      opacity: 0;

      &::v-deep {
        * {
          outline: none !important;
          text-decoration: none;
          color: $white;
          @include titleFour;
          font-weight: $regular;
        }
      }
    }
  }
}

@keyframes animate-right-arrow {
  0% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(16px);
    transform: translateX(16px);
    opacity: 0;
  }
}
