<template>
    <div :class="wrapperClass" ref="wrapper">
        <div v-if="withPopover && isSmallDevice && !withCustomClick" class="card" @click="showDialog = true">
            <div class="card__image__wrapper">
                <div class="card__image" :style="imageStyle"/>
            </div>
            <CardProgress :progress="progress"/>
            <div class="card__title" v-line-clamp="2">
                {{ title }}
            </div>
            <div class="card__labels">
                <CardLabel
                    v-for="(label,index ) in labels"
                    :key="index"
                    :color="label.color"
                    :text="label.text"/>
            </div>
            <DialogWrapper v-model="showDialog" withUnderline withCross :size="dialogSize">
                <template slot="header">
                    <slot name="popoverHeader">
                    </slot>
                </template>
                <template slot="body">
                    <slot name="popoverBody">
                    </slot>
                </template>
                <template slot="actions">
                    <slot name="popoverActions">
                    </slot>
                </template>
            </DialogWrapper>
        </div>
        <template v-else-if="isSmallDevice">
            <div class="card" @mouseleave="hideOptions" @click="onCardClick">
                <div class="card__image__wrapper">
                    <div class="card__image" :style="imageStyle"/>
                    <template v-if="withOptions">
                        <div class="card__options__button">
                            <Popover position="topRight" size="small" ref="optionsPopover">
                                <template slot="activator">
                                    <ButtonComponent fab :background="themeVariables.white" small>
                                        <EllipsisIcon inheritIconColor/>
                                    </ButtonComponent>
                                </template>
                                <slot name="options"></slot>
                            </Popover>
                        </div>
                    </template>
                    <template v-if="withSingleOption">
                        <div class="card__options__button single">
                            <slot name="option"></slot>
                        </div>
                    </template>
                    <template v-if="withLink">
                        <div class="card__options__link">
                            <slot name="link"></slot>
                            <div class="card__options__link__icon">
                                <ChevronRightIcon :iconColor="themeVariables.white" noHover/>
                            </div>
                        </div>
                    </template>
                </div>
                <CardProgress :progress="progress"/>
                <div class="card__title" v-line-clamp="2">
                    {{ title }}
                </div>
                <div class="card__labels">
                    <CardLabel
                        v-for="(label,index ) in labels"
                        :key="index"
                        :color="label.color"
                        :text="label.text"/>
                </div>
            </div>
        </template>
        <CardPopover
            ref="cardPopover"
            v-else
            :active="withPopover"
            :size="POPOVER_SIZE.CARD_SIZE">
            <template slot="activator">
                <div class="card" @mouseleave="hideOptions" @click="onCardClick">
                    <div class="card__image__wrapper">
                        <div class="card__image" :style="imageStyle"/>
                        <template v-if="withOptions">
                            <div class="card__options__button">
                                <Popover position="topRight" size="small" ref="optionsPopover">
                                    <template slot="activator">
                                        <ButtonComponent fab :background="themeVariables.white" small>
                                            <EllipsisIcon inheritIconColor/>
                                        </ButtonComponent>
                                    </template>
                                    <slot name="options"></slot>
                                </Popover>
                            </div>
                        </template>
                        <template v-if="withSingleOption">
                            <div class="card__options__button single">
                                <slot name="option"></slot>
                            </div>
                        </template>
                        <template v-if="withLink">
                            <div class="card__options__link">
                                <slot name="link"></slot>
                                <div class="card__options__link__icon">
                                    <ChevronRightIcon :iconColor="themeVariables.white" noHover/>
                                </div>
                            </div>
                        </template>
                    </div>
                    <CardProgress :progress="progress"/>
                    <div class="card__title" v-line-clamp="2">
                        {{ title }}
                    </div>
                    <div class="card__labels">
                        <CardLabel
                            v-for="(label,index ) in labels"
                            :key="index"
                            :color="label.color"
                            :text="label.text"/>
                    </div>
                </div>
            </template>
            <template v-if="withPopover">
                <slot>
                    <div class="cardPopover__header" v-if="!!$slots.popoverHeader">
                        <slot name="popoverHeader">
                        </slot>
                    </div>
                    <div class="cardPopover__body" v-if="!!$slots.popoverBody">
                        <slot name="popoverBody">
                        </slot>
                    </div>
                    <div class="cardPopover__actions" v-if="!!$slots.popoverActions">
                        <slot name="popoverActions">
                        </slot>
                    </div>
                </slot>
            </template>
        </CardPopover>
    </div>
</template>

<script lang="ts">
    import CardProgress from './cardProgress/CardProgress.vue';
    import CardLabel from './cardLabel/CardLabel.vue';
    import CardPopover from '../../components/card/cardPopover/CardPopover.vue';
    import ButtonComponent from '../../components/buttonComponent/ButtonComponent.vue';
    import EllipsisIcon from '../../components/icons/EllipsisIcon.vue';
    import Popover from '../../components/popupElements/popover/Popover.vue';
    import ChevronRightIcon from '../../components/icons/ChevronRightIcon.vue';
    // @ts-ignore
    import themeVariables from '../../assets/scss/colors.module.scss';
    import {POPOVER_SIZE} from '../../components/popupElements/popover/constants';
    import {componentDefinition} from '../../plugins/vueLineClamp';
    import mixins from 'vue-typed-mixins';
    import mediaQueriesMixin from '../../mixins/mediaQueriesMixin';
    import DialogWrapper from '../../components/popupElements/dialogWrapper/DialogWrapper.vue';
    import {
        DIALOG_SIZE_MEDIUM,
        DIALOG_SIZE_MOBILE,
        DIALOG_SIZE_SMALL,
    } from '../../components/popupElements/dialogWrapper/constants';
    import {Label} from '../../components/card/constants';

    export default mixins(mediaQueriesMixin).extend({
        components: {
            DialogWrapper,
            ChevronRightIcon,
            EllipsisIcon,
            ButtonComponent,
            CardPopover,
            CardLabel,
            CardProgress,
            Popover,
        },
        props: {
            progress: Number,
            title: {
                type: String,
                required: true,
            },
            img: {
                type: String,
                required: true,
            },
            labels: Array as () => Label[],
            withCustomClick: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                themeVariables: themeVariables,
                POPOVER_SIZE: POPOVER_SIZE,
                showDialog: false,
                isHovered: false,
            };
        },
        computed: {
            wrapperClass(): any {
                return {
                    ['card__wrapper']: true,
                    ['dark']: this.withOptions || this.withLink || this.withSingleOption,
                };
            },
            dialogSize(): string {
                if (this.isMobile) {
                    return DIALOG_SIZE_MOBILE;
                }
                if (this.isMedium) {
                    return DIALOG_SIZE_SMALL;
                }
                return DIALOG_SIZE_MEDIUM;
            },
            imageStyle(): string {
                return `background:center / cover no-repeat url(${this.img})`;
            },
            withPopover(): boolean {
                return !!this.$slots.popoverHeader || !!this.$slots.popoverBody || !!this.$slots.popoverActions;
            },
            withOptions(): boolean {
                return !!this.$slots.options;
            },
            withSingleOption(): boolean {
                return !!this.$slots.option;
            },
            withLink(): boolean {
                return !!this.$slots.link;
            },
            popover(): any {
                return this.$refs.popover;
            },
            isSmallDevice(): boolean {
                return (this.isMobile || this.isMedium);
            },
        },
        methods: {
            onCardClick(): void {
                if (this.withCustomClick && !this.isSmallDevice) {
                    this.hideOptions();
                    this.hidePopover();
                }
                this.$emit('click');
            },
            hideOptions(): void {
                // @ts-ignore
                if (this.withOptions) {
                    // @ts-ignore
                    this.$refs.optionsPopover.hidePopover();
                }
            },
            hidePopover(): void {
                // @ts-ignore
                if (this.withPopover) {
                    // @ts-ignore
                    this.$refs.cardPopover.hidePopover();
                }
            },
        },
        ...componentDefinition,
    });
</script>

<style scoped lang="scss">
    @import "card";
</style>
