<template>
    <InputTemplate
        ref="inputTemplate"
        :label="label"
        :rules="rules"
        :placeholder="placeholder"
        :required="required"
        :hint="hint"
        :disabled="disabled"
        :small="small"
        :errorMessage="errorMessage"
        :validationHint="validationHint"
        :inputColor="inputColor"
        :labelWithoutColon="labelWithoutColon"
        :large="large"
        :value="value"
        :withPrependContent="showPrependContent"
    >
        <div class="input__content"
             @click="focusElement"
             @mouseenter="onMouseEnter"
             @mouseleave="onMouseLeave">
            <div class="input__prepend">
                <slot name="prepend">
                    <CalendarIcon noHover :iconColor="themeVariables.gray60"/>
                </slot>
            </div>
            <div class="input__inner">
                <input ref="input"
                       v-bind="{...$props, ...$attrs}"
                       :value="value"
                       @focus="onFocus"
                       @blur="onBlur"
                       @input="onInput($event)"
                />
            </div>
        </div>
    </InputTemplate>
</template>
<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import inputMixin from '../../forms/mixins/inputMixin';
    import InputComponent from '../../forms/inputComponent/InputComponent.vue';
    import CalendarIcon from '@/components/icons/datepicker/CalendarIcon.vue';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';

    export default mixins(inputMixin).extend({
        components: {CalendarIcon},
        extends: InputComponent,
        props: {},
        data() {
            return {
                themeVariables: themeVariables,
            };
        },
        watch: {},
        methods: {
            onInput(event: any) {
                this.$emit('input', event);
            },
            onBlur(): void {
                if (!this.inputTemplate.isHovered) {
                    this.inputTemplate.isFocused = false;
                }
            },
        },
    });
</script>

<style scoped lang="scss">

</style>
