@import "../../../assets/scss/main";
@import "datepicker";

.datepicker {
  &__inputs {
    display: flex;

    &::v-deep {
      .input {
        &__content {
          min-width: $inputWidth;
        }

        &__wrapper {
          z-index: 1;

          &__hovered, &__focused {
            z-index: 2;
          }

          &:not(:last-child) {
            .input {
              &__content {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
            }
          }

          &:last-child {
            margin-left: -1px;

            .input {
              &__content {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }
            }
          }
        }
      }
    }
  }
}
