<template>
    <div :class="pickerClass">
        <LabelComponent
            v-if="label"
            :disabled="disabled"
            :label="label"
            :labelWithoutColon="labelWithoutColon"/>
        <div class="datepicker">
            <DatePicker
                @popoverWillShow="popoverIsActive = true"
                @popoverWillHide="hidePopover"
                ref="picker"
                :popover="popover"
                :inputDebounce="debounce"
                :min-date="minDate"
                :modelConfig="modelConfig"
                trimWeeks
                :columns="columns"
                :rows="rows"
                :masks="masks"
                :locale="locale"
                v-model="date">
                <template v-slot="{inputValue, inputEvents, showPopover}">
                    <div class="datepicker__inputs" @click="openPopover(showPopover)">
                        <DatepickerInput ref="input"
                                         readonly
                                         v-on="inputEvents"
                                         :value="displayedValue(inputValue)"
                                         :placeholder="placeholder"
                                         :disabled="disabled">
                            <template slot="prepend">
                            </template>
                        </DatepickerInput>
                    </div>
                </template>
                <div slot='header-left-button'
                     slot-scope='{ page }'>
                    <LeftIcon/>
                </div>
                <div
                    slot='header-right-button'
                    slot-scope='{ page }'>
                    <RightIcon/>
                </div>
                <div
                    slot='nav-left-button'
                    slot-scope='{ page }'>
                    <LeftIcon ignoreWhite noHover :iconColor="themeVariables.white"/>
                    <div class="nav__arrow">
                        <PopoverArrowIcon noHover :icon-color="themeVariables.gray700"/>
                    </div>
                </div>
                <div
                    slot='nav-right-button'
                    slot-scope='{ page }'>
                    <RightIcon ignoreWhite noHover :iconColor="themeVariables.white"/>
                </div>
                <div slot="footer"
                     class="datepicker__header"
                     v-if="isMobile && popoverIsActive">
                    <div :class="['datepicker__header__text', {withPlaceholder:!value}]">
                        {{ mobileHeaderText }}
                    </div>
                    <div class="datepicker__cross" @click="cancel">
                        <CrossIcon/>
                    </div>
                </div>
            </DatePicker>
        </div>
    </div>
</template>

<script lang="ts">
    import DatePicker from 'v-calendar/lib/components/date-picker.umd';
    import mixins from 'vue-typed-mixins';
    import datepickerMixin from './mixins/datepickerMixin';
    import LeftIcon from '../../icons/navigation/LeftIcon.vue';
    import RightIcon from '../../icons/navigation/RightIcon.vue';
    import moment from 'moment';
    import InputComponent from '../../forms/inputComponent/InputComponent.vue';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';
    import CalendarIcon from '../../icons/datepicker/CalendarIcon.vue';
    import PopoverArrowIcon from '../../icons/ArrowIcon.vue';
    import {DATE_FORMAT, MOBILE_HEADER_DATE_FORMAT} from './constants';
    import CrossIcon from '../../icons/CrossIcon.vue';
    import DatepickerInput from './DatepickerInput.vue';
    import LabelComponent from '../../../components/forms/inputTemplate/labelComponent/LabelComponent.vue';

    export default mixins(datepickerMixin).extend({
        props: {
            value: {
                type: String,
                default: '',
            },
        },
        mixins: [
            datepickerMixin,
        ],
        components: {
            LabelComponent,
            DatepickerInput,
            RightIcon,
            LeftIcon,
            DatePicker,
            InputComponent,
            CalendarIcon,
            PopoverArrowIcon,
            CrossIcon,
        },
        data() {
            return {
                themeVariables: themeVariables,
            };
        },
        computed: {
            date: {
                get(): any {
                    return this.value;
                },
                set(value: any): void {
                    this.$emit('input', value || '');
                },
            },
            mobileHeaderText(): string {
                if (this.date) {
                    return moment(this.date, DATE_FORMAT).format(MOBILE_HEADER_DATE_FORMAT);
                }
                return this.placeholder;
            },
            input(): any {
                return this.$refs.input;
            },
        },
        methods: {
            cancel(): void {
                this.picker.updateValue(this.date, {hidePopover: true});
                this.hidePopover();
            },
            hidePopover(): void {
                this.input.onBlur();
                this.popoverIsActive = false;
            },
            showPopover() {
                this.hidePopover();
                this.popoverIsActive = true;
            },
            test() {
                console.log(1);
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "datepicker";
</style>
