<template>
    <div :class="pickerClass">
        <LabelComponent
            v-if="label"
            :disabled="disabled"
            :label="label"
            :labelWithoutColon="labelWithoutColon"/>
        <div class="datepicker">
            <DatePicker
                @popoverWillShow="popoverIsActive = true"
                @popoverWillHide="hidePopover"
                ref="picker"
                :popover="popover"
                :inputDebounce="debounce"
                :min-date="minDate"
                :modelConfig="modelConfig"
                trimWeeks
                :columns="columns"
                :rows="rows"
                :masks="masks"
                :locale="locale"
                :is24hr="is24hr"
                mode="dateTime"
                v-model="date">
                <template v-slot="{inputValue, inputEvents, showPopover}">
                    <div class="datepicker__inputs" @click="openPopover(showPopover)">
                        <DatepickerInput ref="input"
                                         readonly
                                         v-on="inputEvents"
                                         :value="displayedValue(inputValue)"
                                         :placeholder="placeholder"
                                         :disabled="disabled">
                            <template slot="prepend">
                            </template>
                        </DatepickerInput>
                    </div>
                </template>
                <div slot='header-left-button'
                     slot-scope='{ page }'>
                    <LeftIcon/>
                </div>
                <div
                    slot='header-right-button'
                    slot-scope='{ page }'>
                    <RightIcon/>
                </div>
                <div
                    slot='nav-left-button'
                    slot-scope='{ page }'>
                    <LeftIcon ignoreWhite noHover :iconColor="themeVariables.white"/>
                    <div class="nav__arrow">
                        <PopoverArrowIcon noHover :icon-color="themeVariables.gray700"/>
                    </div>
                </div>
                <div
                    slot='nav-right-button'
                    slot-scope='{ page }'>
                    <RightIcon ignoreWhite noHover :iconColor="themeVariables.white"/>
                </div>
                <div slot="footer"
                     class="datepicker__header"
                     v-if="isMobile && popoverIsActive">
                    <div :class="['datepicker__header__text', {withPlaceholder:!value}]">
                        {{ mobileHeaderText }}
                    </div>
                    <div class="datepicker__cross" @click="cancel">
                        <CrossIcon/>
                    </div>
                </div>
            </DatePicker>
        </div>
    </div>
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import moment from 'moment';
    import {
        DATE_TIME_FORMAT,
        DEFAULT_DATE_TIME_PLACEHOLDER,
        MOBILE_HEADER_DATE_TIME_FORMAT_12,
        MOBILE_HEADER_DATE_TIME_FORMAT_24,
    } from './constants';
    import Picker from './Datepicker.vue';
    import LabelComponent from '../../../components/forms/inputTemplate/labelComponent/LabelComponent.vue';

    export default mixins(Picker).extend({
        props: {
            is24hr: {
                type: Boolean,
                default: true,
            },
            placeholder: {
                type: String,
                default: DEFAULT_DATE_TIME_PLACEHOLDER,
            },
        },
        components: {
            LabelComponent,
        },
        data() {
            return {};
        },
        computed: {
            mobileHeaderText(): string {
                if (this.date) {
                    let format = this.is24hr ? MOBILE_HEADER_DATE_TIME_FORMAT_24 : MOBILE_HEADER_DATE_TIME_FORMAT_12;
                    return moment(this.date, DATE_TIME_FORMAT).format(format);
                }
                return this.placeholder;
            },
        },
        methods: {},
    });
</script>

<style scoped lang="scss">
    @import "datepicker";
</style>
