<template>
    <div :class="pickerClass">
        <LabelComponent
            v-if="label"
            :disabled="disabled"
            :label="label"
            :labelWithoutColon="labelWithoutColon"/>
        <div class="datepicker">
            <DatePicker
                @popoverWillShow="popoverIsActive = true"
                @popoverWillHide="hidePopover"
                @drag="setTemporaryDates"
                ref="picker"
                :popover="popover"
                :inputDebounce="debounce"
                :min-date="minDate"
                :modelConfig="modelConfig"
                trimWeeks
                :drag-attribute="dragAttribute"
                :masks="masks"
                is-range
                :columns="columns"
                :rows="rows"
                :locale="locale"
                v-model="range">
                <template v-slot="{inputValue, inputEvents, showPopover, isDragging }">
                    <div class="datepicker__inputs" @click="openPopover(showPopover)">
                        <DatepickerInput
                            readonly
                            ref="inputStart"
                            :disabled="disabled"
                            :placeholder="placeholder"
                            v-on="inputEvents.start"
                            :value="displayedValue(inputValue.start)">
                            <template slot="prepend">
                            </template>
                        </DatepickerInput>
                        <DatepickerInput
                            readonly
                            ref="inputEnd"
                            :disabled="disabled"
                            :placeholder="getPlaceholderEnd"
                            v-on="inputEvents.end"
                            :value="displayedValue(inputValue.end)">
                            <template slot="prepend">
                            </template>
                        </DatepickerInput>
                    </div>
                </template>
                <div slot='header-left-button'
                     slot-scope='{ page }'>
                    <LeftIcon/>
                </div>
                <div
                    slot='header-right-button'
                    slot-scope='{ page }'>
                    <RightIcon/>
                </div>
                <div
                    slot='nav-left-button'
                    slot-scope='{ page }'>
                    <LeftIcon ignoreWhite noHover :iconColor="themeVariables.white"/>
                    <div class="nav__arrow">
                        <PopoverArrowIcon noHover :icon-color="themeVariables.gray700"/>
                    </div>
                </div>
                <div
                    slot='nav-right-button'
                    slot-scope='{ page }'>
                    <RightIcon ignoreWhite noHover :iconColor="themeVariables.white"/>
                </div>
                <div slot="footer" class="datepicker__header" v-if="isMobile && popoverIsActive">
                    <div :class="['datepicker__header__text', {withPlaceholder:!datesWasSet}]">
                        {{ mobileHeaderText }}
                    </div>
                    <div class="datepicker__cross" @click="cancel">
                        <CrossIcon/>
                    </div>
                </div>
            </DatePicker>
        </div>
    </div>
</template>

<script lang="ts">
    import DatePicker from 'v-calendar/lib/components/date-picker.umd';
    import mixins from 'vue-typed-mixins';
    import datepickerMixin from './mixins/datepickerMixin';
    import LeftIcon from '../../icons/navigation/LeftIcon.vue';
    import RightIcon from '../../icons/navigation/RightIcon.vue';
    import moment from 'moment';
    import CalendarIcon from '../../icons/datepicker/CalendarIcon.vue';
    import PopoverArrowIcon from '../../icons/ArrowIcon.vue';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';
    import {DATE_FORMAT, MOBILE_HEADER_DATE_FORMAT, RangeDateObject} from './constants';
    import CrossIcon from '../../icons/CrossIcon.vue';
    import DatepickerInput from './DatepickerInput.vue';
    import _ from 'lodash';
    import LabelComponent from '../../../components/forms/inputTemplate/labelComponent/LabelComponent.vue';

    export default mixins(datepickerMixin).extend({
        props: {
            value: {
                type: Object,
                default: (): RangeDateObject => {
                    return {
                        start: '',
                        end: '',
                    };
                },
            },
            placeholderEnd: {
                type: String,
            },
        },
        mixins: [
            datepickerMixin,
        ],
        components: {
            LabelComponent,
            DatepickerInput,
            CrossIcon,
            RightIcon,
            LeftIcon,
            DatePicker,
            CalendarIcon,
            PopoverArrowIcon,
        },
        data() {
            return {
                dragAttribute: {
                    highlight: {
                        start: {
                            contentStyle: {
                                color: themeVariables.secondary,
                            },
                        },
                        base: {
                            contentStyle: {
                                color: themeVariables.gray1000,
                            },
                        },
                        end: {
                            contentStyle: {
                                color: themeVariables.secondary,
                            },
                        },
                    },
                },
                themeVariables: themeVariables,
                temporaryDates: {
                    start: '',
                    end: '',
                },
            };
        },
        computed: {
            range: {
                get(): any {
                    return this.value;
                },
                set(value: RangeDateObject): void {
                    let dates = _.mapValues(value, (date: string): string => {
                        return moment(date, DATE_FORMAT).format(DATE_FORMAT) || '';
                    });
                    this.$emit('input', dates);
                },
            },
            mobileHeaderText(): string {
                if (this.datesWasSet) {
                    return moment(this.temporaryDates.start, DATE_FORMAT).format(MOBILE_HEADER_DATE_FORMAT) + ' - ' + moment(this.temporaryDates.end, DATE_FORMAT).format(MOBILE_HEADER_DATE_FORMAT);
                }
                return `${this.placeholder} - ${this.placeholder}`;
            },
            datesWasSet(): boolean {
                return !!this.temporaryDates.start && !!this.temporaryDates.end;
            },
            inputStart(): any {
                return this.$refs.inputStart;
            },
            inputEnd(): any {
                return this.$refs.inputEnd;
            },
            getPlaceholderEnd(): string {
                return this.placeholderEnd ?? this.placeholder;
            },
        },
        methods: {
            setTemporaryDates(range: RangeDateObject): void {
                this.temporaryDates = range;
            },
            cancel(): void {
                this.picker.updateValue(this.range, {hidePopover: true});
                this.hidePopover();
            },
            hidePopover(): void {
                this.inputStart.onBlur();
                this.inputEnd.onBlur();
                this.popoverIsActive = false;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "datepickerRange";
</style>
