@import "../../../assets/scss/main.scss";

$circleTransition: .15s linear, background-color .15s linear;
$backgroundTransition: .2s linear, background-color .2s linear;
$circleSize: 16px;
$circleSizeSmall: 12px;
$circleMargin: 2px;

.switcher {
  &__wrapper {
    position: relative;
    display: inline-flex;
  }

  &__input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 12;
    cursor: pointer;
  }

  &__background {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    position: relative;
    transition: $backgroundTransition;
    background: $gray80;

    &::after {
      content: '';
      display: flex;
      width: $circleSize;
      height: $circleSize;
      border-radius: 100px;
      background: $white;
      position: absolute;
      left: $circleMargin;
      top: $circleMargin;
      bottom: $circleMargin;
      transition: $circleTransition;
    }
  }

  &__checked {
    .switcher {
      &__background {
        transition: $backgroundTransition;
        background: var(--switcher-color);

        &::after {
          left: calc(100% - #{$circleSize} - #{$circleMargin});
          transition: $circleTransition;
        }
      }
    }

    &.switcher__small {
      .switcher {
        &__background {
          &::after {
            left: calc(100% - #{$circleSizeSmall} - #{$circleMargin});
          }
        }
      }
    }
  }

  &__small {
    .switcher {
      &__background {
        width: 32px;
        height: 16px;

        &::after {
          width: $circleSizeSmall;
          height: $circleSizeSmall;
        }
      }

      &__label {
        @include text;
        margin-left: 6px;
      }
    }

    &__checked {
      opacity: 0.2
    }
  }

  &__disabled {
    pointer-events: none;

    .switcher {
      &__background {
        background: $gray50;

        &::after {
          background: $gray10;
        }
      }
      &__label {
        color: $gray60;
      }
    }
  }

  &__label {
    margin-left: 8px;
    @include headline;
    font-weight: $regular;
    color: $gray1000;
    user-select: none;
  }
}
