<template>
    <div :class="[switcherClass]" :style="[cssVars]">
        <input class="switcher__input" type="checkbox" v-model="switcherValue"/>
        <div class="switcher__background"></div>
        <div class="switcher__label" v-if="label">
            {{ label }}
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';
    import {SWITCHER_CHECKED, SWITCHER_DISABLED, SWITCHER_SMALL, SWITCHER_WRAPPER_CLASS} from './constants';

    export default Vue.extend({
        props: {
            value: Boolean,
            color: {
                type: String,
                default: themeVariables.primary,
            },
            small: {
                type: Boolean,
                default: false,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            label: {
                type: String,
                default: '',
            },
        },
        data() {
            return {};
        },
        computed: {
            switcherValue: {
                get(): boolean {
                    return this.value;
                },
                set(value: boolean): void {
                    this.$emit('input', value);
                },
            },
            switcherClass(): any {
                return {
                    [SWITCHER_WRAPPER_CLASS]: true,
                    [SWITCHER_SMALL]: this.small,
                    [SWITCHER_DISABLED]: this.disabled,
                    [SWITCHER_CHECKED]: this.switcherValue,
                };
            },
            cssVars(): any {
                return {
                    '--switcher-color': this.color,
                };
            },
        },
        watch: {},
        methods: {},
    });
</script>

<style scoped lang="scss">
    @import "switcherComponent";
</style>
