@import "../../../assets/scss/main";


.checkbox {
  border: 1px solid $gray50;
  height: 20px;
  width: 20px;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: $white;
  margin: 2px 0;


  &__wrapper {
    display: flex;

    &.checkbox {
      &__checked {
        .checkbox {
          border: none;
          background: var(--color);

          &-component {
            &:hover {
              .checkbox {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.12) 100%), var(--color);
              }
            }
          }
        }
      }

      &__small {
        .checkbox {
          width: 16px;
          height: 16px;
          min-height: 16px;
          min-width: 16px;

          &__label {
            @include textTwo;
            margin-left: 6px;
          }
        }
      }

      &__disabled {
        .checkbox {
          border-color: $gray40 !important;
          background: $gray40 !important;

          &__label {
            color: $gray60 !important;
          }
        }
      }

      &__withError {
        .checkbox {
          border-color: $red300;
        }
      }
    }

    &::v-deep {
      .checkbox-component {
        display: inline-flex;

        &:hover {
          .checkbox {
            border-color: $gray70;
          }
        }

        input {
          z-index: -1;
        }

        label {
          display: flex;
          align-items: flex-start;
          opacity: 1 !important;
        }
      }
    }
  }

  &__label {
    margin-left: 8px;
    @include headline;
    font-weight: $regular;
    color: $gray1000;
    user-select: none;
    padding: 2px 0;
  }

  &__counter {
    color: $gray60;
    @include textTwo;
    margin-left: 4px;
  }
}
