<template>
    <div :class="checkboxClass" :style="iconColors">
        <checkbox
            :disabled="disabled"
            v-model="checkboxValue">
            <div class="checkbox__label" v-if="label">
                {{ label }}
            </div>
            <div class="checkbox__counter" v-if="counter !== undefined">
                ({{ counter }})
            </div>
            <template slot="input-box">
                <div class="checkbox">
                    <CheckedIcon
                        :iconColor="themeVariables.secondary"
                        v-if="isChecked && !indeterminate"
                        noHover
                    />
                    <MinusIcon
                        :iconColor="themeVariables.secondary"
                        v-if="indeterminate"
                        noHover/>
                </div>
            </template>
        </checkbox>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {Checkbox} from 'vue-checkbox-radio';
    import CheckedIcon from '../../icons/checkbox/CheckedIcon.vue';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';

    import {
        CHECKBOX__CHECKED_CLASS,
        CHECKBOX__DISABLED_CLASS,
        CHECKBOX__SMALL_CLASS,
        CHECKBOX__WITH_ERROR_CLASS,
        CHECKBOX__WRAPPER_CLASS,
    } from './constants';
    import MinusIcon from '../../../components/icons/checkbox/MinusIcon.vue';

    export default Vue.extend({
        components: {
            MinusIcon,
            Checkbox,
            CheckedIcon,
        },
        props: {
            value: {
                type: Boolean,
                default: false,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            label: {
                type: String,
                default: '',
            },
            counter: {
                type: Number,
            },
            hasError: {
                type: Boolean,
                default: false,
            },
            color: {
                type: String,
                default(): string {
                    return themeVariables.primary;
                },
            },
            small: {
                type: Boolean,
                default: false,
            },
            indeterminate: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                themeVariables: themeVariables,
            };
        },
        computed: {
            checkboxValue: {
                get(): boolean {
                    return this.value;
                },
                set(value: boolean): void {
                    this.$emit('input', value);
                },
            },
            checkboxClass(): any {
                return {
                    [CHECKBOX__WRAPPER_CLASS]: true,
                    [CHECKBOX__DISABLED_CLASS]: this.disabled,
                    [CHECKBOX__WITH_ERROR_CLASS]: this.hasError,
                    [CHECKBOX__CHECKED_CLASS]: this.isChecked,
                    [CHECKBOX__SMALL_CLASS]: this.small,
                };
            },
            iconColors(): any {
                return {
                    '--color': this.color,
                };
            },
            isChecked(): boolean {
                return this.checkboxValue;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "checkboxComponent";
</style>
