<template>
    <div :class="['input__bottomLine__wrapper', { 'input__bottomLine__disabled':disabled }]">
        <transition name="errorTransition" mode="out-in">
            <div class="input__bottomLine input__hint" v-if="hint && !showError && !errorMessage">
                <HintIcon noHover :iconColor="hintColor"/>
                {{ hint }}
            </div>
            <div class="input__bottomLine input__error" v-if="showError">
                <ErrorIcon noHover :iconColor="errorColor"/>
                {{ errorText }}
            </div>
            <div class="input__bottomLine input__error" v-if="!showError && errorMessage">
                <ErrorIcon noHover :iconColor="errorColor"/>
                {{ errorMessage }}
            </div>
        </transition>
    </div>
</template>

<script lang="ts">
    import {isValid, validate} from '../../../../utils/validation';
    import Vue from 'vue';
    import HintIcon from '../../../icons/formIcons/HintIcon.vue';
    import ErrorIcon from '../../../icons/formIcons/ErrorIcon.vue';
    // @ts-ignore
    import themeVariables from '../../../../assets/scss/colors.module.scss';

    export default Vue.extend({
        components: {
            HintIcon,
            ErrorIcon,
        },
        props: {
            rules: Array,
            hint: String,
            value: {
                type: [String, Number, Object, Array],
                required: true,
            },
            disabled: Boolean,
            errorMessage: {
                type: String,
                default: '',
            },
        },
        data() {
            return {
                valueWasChanged: false,
                resetting: false,
                errorColor: themeVariables.red300,
                hintColor: themeVariables.gray100,
            };
        },
        computed: {
            isValid(): boolean {
                return isValid(this.value, this.rules);
            },
            errorText(): string {
                return validate(this.value, this.rules);
            },
            showError(): boolean {
                return this.valueWasChanged && !this.isValid;
            },
        },
        watch: {
            value() {
                this.validate();
            },
        },
        methods: {
            validate(): boolean {
                if (this.resetting) {
                    return true;
                }
                this.valueWasChanged = true;
                this.$emit('validate', this.isValid);
                return this.isValid;
            },
            reset(): void {
                this.valueWasChanged = false;
                this.resetting = true;
                this.$emit('validate', true);
                setTimeout(() => {
                    this.resetting = false;
                }, 1);
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "inputBottomLine";
</style>
