<template>
    <div class="filter__options inline">
        <div :class="['filter__labelItem', {active: !hasValue}]"
             @click="clear">
            <span class="filter__labelItem_text">
                {{ allItemsText }}
            </span>
        </div>
        <div v-for="(option, index) in options"
             :key="index"
             v-show="index < filtersLength || !canBeMinimized"
             :class="['filter__labelItem', {active: isActive(option)}]"
             @click="optionClick(option)">
            <span class="filter__labelItem_text">
                {{ option.title }}
            </span>
        </div>
        <div class="filter__toggleButton" @click="changeMinimizedState" v-if="canBeMinimized">
            {{ toggleText }}
        </div>
    </div>
</template>

<script lang="ts">
    import _ from 'lodash';
    import {FilterOption} from '../types/Filters';
    import Vue from 'vue';
    import {FilterUrlValue} from '../types/FilterComponent';
    import {Url} from '../../../utils/Url';

    const MINIMIZED_FILTER_LENGTH = 5;

    export type InlineFilterLocalization = {
        buttons: {
            more: string,
            less: string,
        },
    };

    export default Vue.extend({
        props: {
            options: {
                type: Array as () => FilterOption[],
                required: true,
            },
            urlIndex: {
                type: String,
                required: true,
            },
            allItemsText: {
                type: String,
                default: 'All',
            },
            localization: {
                type: Object as () => InlineFilterLocalization,
                default() {
                    return {
                        buttons: {
                            more: 'Show more',
                            less: 'Show less',
                        },
                    } as InlineFilterLocalization;
                },
            },
        },
        data() {
            return {
                minimized: true,
                value: [] as FilterOption[],
            };
        },
        computed: {
            toggleText(): string {
                return this.minimized ? this.localization.buttons.more : this.localization.buttons.less;
            },
            filtersLength(): number {
                return this.minimized ? MINIMIZED_FILTER_LENGTH : this.options.length;
            },
            hasValue(): boolean {
                return this.value.length > 0;
            },
            canBeMinimized(): boolean {
                return this.options.length > MINIMIZED_FILTER_LENGTH;
            },
        },
        watch: {
            value(): void {
                this.$emit('updated', this.getUrlValue());
                this.storeValueToUrl();
            },
            options(): void {
                this.parseUrlValue();
            },
        },
        methods: {
            parseUrlValue(): void {
                let values: string[] = Url.getSingleGetParam(this.urlIndex) as string[] ?? [];
                this.value = _.filter(this.options, (option: FilterOption) => {
                    return values.includes(option.value.toString());
                });
            },
            storeValueToUrl(): void {
                Url.replaceGetParams(this.getUrlValue());
            },
            getUrlValue(): FilterUrlValue {
                return {
                    [this.urlIndex]: _.map(this.value, (option: FilterOption) => {
                        return option.value;
                    }) as string[],
                };
            },
            isActive(option: FilterOption): boolean {
                return this.value.some((currentOption: FilterOption): boolean => _.isEqual(option, currentOption));
            },
            optionClick(option: FilterOption): void {
                let value: FilterOption[] = this.value;
                if (value.find((currentOption: FilterOption) => currentOption.value === option.value)) {
                    value = value.filter((currentOption: FilterOption) => currentOption.value !== option.value);
                } else {
                    value.push(option);
                }
                this.value = value;
            },
            changeMinimizedState(): void {
                this.minimized = !this.minimized;
            },
            clear(): void {
                this.value = [];
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "../labelFilter/labelFilter";

    .filter {
        &__toggleButton {
            @include textTwo;
            font-weight: $bold;
            color: $gray1000;
            cursor: pointer;
        }
    }
</style>
