@import "../../../assets/scss/main";
@import "../../popupElements/popover/popover";

$arrowMargin: 32px;
$distanceFromActivator: 16px;
$arrowWidth: 8px;
$arrowHeight: 16px;
$rotatedArrowMargin: $arrowWidth*0.5;

.fixedPopup {
  &::after {
    position: absolute;
    background: transparent;
    content: '';
    z-index: -1;
    height: calc(100% + 40px);
    width: calc(100% + 40px);
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
  }

  @include fixedPopup();
  z-index: 4;
  padding: 24px;

  &.absolutePosition {
    @include absolutePopup();
  }
}

.fixedPopup {
  &__arrow {
    position: absolute;
    z-index: 1;
  }
}
