<template>
    <div class="fixedPopup__wrapper" @mouseleave="hidePopover">
        <div class="fixedPopup__activator"
             ref="activator"
             @click="$emit('click')"
             @mouseenter="showPopover">
            <slot name="activator"></slot>
        </div>
        <div :class="popoverClass"
             :style="popupStyle"
             ref="popover"
             v-if="isVisible">
            <div class="fixedPopup__header__wrapper" v-if="$slots.header">
                <div class="fixedPopup__header">
                    <slot name="header"></slot>
                    <div class="fixedPopup__cross" @click="hidePopover" v-if="withCross">
                        <CrossIcon/>
                    </div>
                </div>
                <hr>
            </div>
            <div class="fixedPopup__content">
                <slot></slot>
            </div>
            <div class="fixedPopup__arrow">
                <ArrowIcon noHover :icon-color="themeVariables.gray20"/>
            </div>
            <div class="fixedPopup__footer__wrapper" v-if="$slots.footer">
                <hr>
                <div class="fixedPopup__footer">
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import ArrowIcon from '../../../components/icons/ArrowIcon.vue';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';
    import mixins from 'vue-typed-mixins';
    import Popover from '../../../components/popupElements/popover/Popover.vue';
    import {POSITION} from '../../../components/popupElements/constants';

    export const POPOVER_PADDING = 20;

    export default mixins(Popover).extend({
        components: {
            ArrowIcon,
            Popover,
        },
        props: {
            active: Boolean,
        },
        data() {
            return {
                themeVariables: themeVariables,
            };
        },
        computed: {},
        watch: {},
        methods: {
            showPopover(): void {
                if (!this.active) {
                    return;
                }
                this.refreshPopupPosition();
                this.isVisible = true;
                this.setPopupElementPosition();
            },
            hidePopover(): void {
                this.refreshPopupPosition();
                this.isVisible = false;
                this.$emit('hide');
            },
            setPopupElementPosition() {
                this.$nextTick(() => {
                    this.calculateBlockPosition();
                    this.popupElementPosition = this.getPosition();
                });
            },
            getPosition(): string {
                let coords = this.getCoords();
                let position = POSITION.RIGHT;

                let noSpaceTop = this.noSpaceTop(coords);
                let noSpaceRight = this.noSpaceRight(coords);
                let noSpaceBottom = this.noSpaceBottom(coords);

                if (noSpaceTop && noSpaceRight) {
                    position = POSITION.LEFT_TOP;
                } else if (noSpaceTop && !noSpaceRight) {
                    position = POSITION.RIGHT_TOP;
                } else if (!noSpaceTop && noSpaceRight && !noSpaceBottom) {
                    position = POSITION.LEFT;
                } else if (noSpaceBottom && !noSpaceRight && !noSpaceTop) {
                    position = POSITION.RIGHT_BOTTOM;
                } else if (noSpaceBottom && noSpaceRight && !noSpaceTop) {
                    position = POSITION.LEFT_BOTTOM;
                }
                return position;

            },
            getCoords(): any {
                // @ts-ignore
                return this.$refs.popover.getBoundingClientRect();
            },
            noSpaceRight(coords: any): boolean {
                return coords.x + coords.width + POPOVER_PADDING > window.innerWidth;
            },
            noSpaceTop(coords: any): boolean {
                return 0 >= coords.y - coords.height / 2 - POPOVER_PADDING;
            },
            noSpaceBottom(coords: any): boolean {
                return window.innerHeight <= coords.y + coords.height + POPOVER_PADDING;
            },
            refreshPopupPosition(): void {
                this.popupElementPosition = POSITION.RIGHT;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "cardPopover";
</style>
