@import "../../../assets/scss/main";
@import "../popupElement";

$distanceFromActivator: 8px;
$tooltipMaxWidth: 224px;
$arrowWidth: 6px;
$rotatedArrowMargin: $arrowWidth*0.5;
$arrowMargin: 12px;

.fixedPopup {
  display: none;

  &__wrapper {
    display: inline-flex;
    position: relative;
  }

  &__content {
    display: flex;
    align-items: center;
    @include captionOne;
    font-weight: $regular;
    color: $white;
    white-space: nowrap;
  }

  &.fixedWidth {
    max-width: $tooltipMaxWidth;
    width: max-content;

    .fixedPopup {
      &__content {
        white-space: normal;
        word-break: break-word;
      }
    }
  }

  &__activator {
    cursor: pointer;

    &:hover {
      + .fixedPopup {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $gray700;
        padding: 8px 12px;
        border-radius: 6px;
        @include fixedPopup();


        &.absolutePosition {
          @include absolutePopup;
        }
      }
    }
  }
}

