<template>
    <div class="fixedPopup__wrapper">
        <div class="fixedPopup__activator" ref="activator" @mouseover="setPopupElementPosition">
            <slot name="activator"></slot>
        </div>
        <div :style="popupStyle"
             :class="tooltipClass" ref="popover">
            <div class="fixedPopup__content">
                <slot></slot>
            </div>
            <div class="fixedPopup__arrow">
                <ArrowIconDark ignoreWhite :icon-color="themeVariables.$gray700" hoHover/>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {TOOLTIP_CLASS, TOOLTIP_FIXED_WIDTH_CLASS} from './constants';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';
    import {POSITION, POSITION_ABSOLUTE} from '../constants';
    import mixins from 'vue-typed-mixins';
    import popupElementMixin from '../../popupElements/mixins/popupElementMixin';
    import _ from 'lodash';
    import ArrowIconDark from '@/components/icons/ArrowIconDark.vue';

    export default mixins(popupElementMixin).extend({
        mixins: [popupElementMixin],
        components: {
            ArrowIconDark,
        },
        props: {
            position: {
                type: String,
                default: POSITION.RIGHT,
                validator(value: string): boolean {
                    return _.includes(POSITION, value);
                },
            },
            fixedWidth: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                themeVariables: themeVariables,
            };
        },
        computed: {
            tooltipClass(): any {
                return {
                    [TOOLTIP_CLASS]: true,
                    [POSITION_ABSOLUTE]: this.absolute,
                    [TOOLTIP_FIXED_WIDTH_CLASS]: this.fixedWidth,
                    [this.popupElementPosition]: true,
                };
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "tooltip";
</style>
