<template>
    <InputTemplate
        ref="inputTemplate"
        :label="label"
        :rules="rules"
        :placeholder="placeholder"
        :required="required"
        :hint="hint"
        :disabled="disabled"
        :small="small"
        :errorMessage="errorMessage"
        :validationHint="validationHint"
        :inputColor="inputColor"
        :labelWithoutColon="labelWithoutColon"
        :large="large"
        :value="inputValue"
        :withPrependContent="showPrependContent"
        :readonly="readonly"
    >
        <div class="input__content"
             @click="focusElement"
             @mouseenter="onMouseEnter"
             @mouseleave="onMouseLeave">
            <div class="input__prepend" v-if="!!$slots.prepend">
                <slot name="prepend">
                </slot>
            </div>
            <div class="input__inner">
                <input ref="input"
                       v-bind="{...$props, ...$attrs}"
                       v-model="inputValue"
                       @focus="onFocus"
                       @blur="onBlur"
                />
            </div>
        </div>
    </InputTemplate>
</template>
<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import InputTemplate from '../inputTemplate/InputTemplate.vue';
    import inputMixin from '../mixins/inputMixin';

    export default mixins(inputMixin).extend({
        extends: InputTemplate,
        components: {
            InputTemplate,
        },
        mixins: [
            inputMixin,
        ],
        data() {
            return {
                showPassword: false,
            };
        },
        computed: {},
        methods: {
            onInput(value: any) {
                this.$emit('input', value);
            },
            reset(): void {
                // @ts-ignore
                this.inputValue = '';
                this.inputTemplate.reset();
            },
        },
    });
</script>
<style scoped lang="scss">
</style>
