<template>
    <InputTemplate
        ref="inputTemplate"
        :label="label"
        :rules="rules"
        :placeholder="placeholder"
        :required="required"
        :hint="hint"
        :disabled="disabled"
        :small="small"
        :errorMessage="errorMessage"
        :validationHint="validationHint"
        :inputColor="inputColor"
        :labelWithoutColon="labelWithoutColon"
        :large="large"
        :value="inputValue"
        :withPrependContent="showPrependContent"
    >
        <div class="input__content"
             @click="focusElement"
             @mouseenter="onMouseEnter"
             @mouseleave="onMouseLeave">
            <div class="input__prepend" v-if="!!$slots.prepend">
                <slot name="prepend">
                </slot>
            </div>
            <div class="input__inner">
                <input ref="input"
                       v-bind="{...$props, ...$attrs}"
                       v-model="inputValue"
                       @focus="onFocus"
                       @blur="onBlur"
                       :type="showText ? 'text' : 'password'"
                />
            </div>
            <div class="input__password" v-show="inputValue">
                <div v-if="showText" @click="showText = false">
                    <SvgIcon name="view_24" :color="themeVariables.gray1000"/>
                </div>
                <div v-else @click="showText = true">
                    <SvgIcon name="hide_24" :color="themeVariables.gray1000"/>
                </div>
            </div>
        </div>
    </InputTemplate>
</template>
<script lang="ts">
    import InputTemplate from '../inputTemplate/InputTemplate.vue';
    import InputComponent from './InputComponent.vue';
    import Vue from 'vue';
    import {SvgIcon} from 'mlh-ui-icons';

    export default Vue.extend({
        extends: InputComponent,
        components: {
            InputTemplate,
            SvgIcon,
        },
        data() {
            return {
                showText: false,
            };
        },
        computed: {},
    });
</script>
<style scoped lang="scss">
    .input__password {
        > div {
            display: flex;
            align-items: center;
        }
    }
</style>
