<template>
    <div class="progress__wrapper" v-if="withProgress">
        <div class="progress__slider__wrapper">
            <div class="progress__slider" :style="sliderWidth"></div>
        </div>
        <div class="progress__text">
            {{ progressText }}
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        props: {
            progress: {
                type: Number,
            },
        },
        data() {
            return {};
        },
        computed: {
            progressText(): string {
                return `${this.progress}%`;
            },
            sliderWidth(): string {
                return `width: ${this.progress}%`;
            },
            withProgress(): boolean {
                return !!this.progress || this.progress === 0;
            },
        },
        watch: {},
        methods: {},
    });
</script>

<style scoped lang="scss">
    @import "cardProgress";
</style>
