@import "../../../assets/scss/main";

$sliderHeight: 8px;

.progress {
  width: 100%;
  position: relative;

  &__slider {
    background: $primary;
    height: $sliderHeight;
    border-radius: $borderRadius;

    &__wrapper {
      width: 100%;
      position: relative;
      display: flex;
      background: $gray20;
      height: $sliderHeight;
      border-radius: $borderRadius;
    }
  }

  &__wrapper {
    margin-top: 12px;
    margin-bottom: -4px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  &__text {
    color: $gray700;
    @include captionOne;
    font-weight: $regular;
    margin-left: 8px;
  }
}
