<template>
    <div class="filter__wrapper">
        <div class="filter__options">
            <div :class="['filter__labelItem', {active: !hasValue}]"
                 @click="clear">
                {{ allItemsText }}
            </div>
            <div v-for="option in filter.options" :key="option.value"
                 v-line-clamp="1"
                 :class="['filter__labelItem lineClamp', {active: isActive(option)}]"
                 @click="optionClick(option)">
                {{ option.title }}
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import singleFilterWithOptionsMixin from '../mixins/singleFilterWithOptionsMixin';

    export default mixins(singleFilterWithOptionsMixin).extend({

    });
</script>

<style scoped lang="scss">
    @import "labelFilter";
</style>
