@import "../../../assets/scss/main.scss";

@mixin tag {
  @include textTwo;
  font-weight: $regular;
  color: $gray700;
  padding: 6px 12px;
  border: 1px solid $gray30;
  border-radius: 32px;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  white-space: nowrap;
  cursor: pointer;
  max-height: 32px;
  z-index: 1;
  max-width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    z-index: -1;
  }
  &.fixed {
    max-width: 100px;
    width: 100px;
    min-width: 100px;
    padding: 4px;
  }
  &.small {
    max-height: 20px;
    padding: 2px 8px;
    border-color: $primary;
    color: #2D3448;

    &:before {
      background: $primary;
      opacity: 0.04;
    }

    &:hover {
      border-color: $primary;
      transition: 0.2s;

      &:before {
        background: $primary;
        opacity: 0.04;
      }
    }
  }
  &.large {
    max-height: 40px;
    padding: 10px 16px;
  }
  &:hover {
    border-color: $gray50;
    transition: 0.2s;

    &:before {
      opacity: 0.08;
    }
  }
  &.active {
    border-color: $primary;
    color: $primary;
    font-weight: $medium;

    &:before {
      background: $primary;
      opacity: 0.04;
    }

    &:hover {
      &:before {
        opacity: 0.08;
      }
    }
  }
}

::v-deep {
  .filter__labelItem {
    @include tag;

    &_text {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.filter {
  &__options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
  }
}


