<template>
    <div class="filter__wrapper">
        <div class="searchInput" v-if="searchable">
            <InputComponent :placeholder="placeholder" small v-model="search"/>
        </div>
        <div class="filter__options">
            <CheckboxComponent
                class="checkboxFilter"
                v-for="option in searchableValues"
                small
                :key="option.value"
                :label="option.title"
                :counter="option.counter"
                :value="isActive(option)"
                @input="optionClick(option)"
            />
        </div>
    </div>
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import {FilterOption} from '../types/Filters';
    import InputComponent from '../../../components/forms/inputComponent/InputComponent.vue';
    import CheckboxComponent from '../../../components/forms/checkboxComponent/CheckboxComponent.vue';
    import singleFilterWithOptionsMixin from '../mixins/singleFilterWithOptionsMixin';

    export default mixins(singleFilterWithOptionsMixin).extend({
        components: {
            InputComponent,
            CheckboxComponent,
        },
        data() {
            return {
                search: '',
            };
        },
        computed: {
            placeholder(): string {
                return this.settings?.placeholder || '';
            },
            searchable(): boolean {
                return this.settings.isSearchable ?? false;
            },
            searchableValues(): FilterOption[] {
                return this.search
                    ? this.filter.options.filter((option: FilterOption) => option.title.toLowerCase().includes(this.search.toLowerCase()))
                    : this.filter.options;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "checkboxFilter";
</style>
