<template>
    <div class="slide__mask__wrapper"
         v-if="mask !== MASK.NONE"
         :style="maskStyle">
        <div class="slide__mask slide__mask-left">
            <component v-bind:is="leftComponent"></component>
        </div>
        <div class="slide__mask slide__mask-right">
            <component v-bind:is="rightComponent"></component>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import GradientParser from '../../../utils/colors/GradientParser';
    import RGBAColorParser from '../../../utils/colors/RGBAColorParser';

    import AbstractLeft from './masks/AbstractLeft.vue';
    import ArchLeft from './masks/ArchLeft.vue';
    import CurveLeft from './masks/CurveLeft.vue';
    import DepthLeft from './masks/DepthLeft.vue';
    import DiveLeft from './masks/DiveLeft.vue';
    import DropLeft from './masks/DropLeft.vue';
    import EllipseLeft from './masks/EllipseLeft.vue';
    import FocusLeft from './masks/FocusLeft.vue';
    import GlassLeft from './masks/GlassLeft.vue';
    import LaceLeft from './masks/LaceLeft.vue';
    import LevelLeft from './masks/LevelLeft.vue';
    import MatchLeft from './masks/MatchLeft.vue';
    import MotionLeft from './masks/MotionLeft.vue';
    import PixelLeft from './masks/PixelLeft.vue';
    import RiseLeft from './masks/RiseLeft.vue';
    import SphereLeft from './masks/SphereLeft.vue';
    import SplashLeft from './masks/SplashLeft.vue';
    import TreasureLeft from './masks/TreasureLeft.vue';
    import TwistLeft from './masks/TwistLeft.vue';
    import ValleyLeft from './masks/ValleyLeft.vue';
    import WaveLeft from './masks/WaveLeft.vue';
    import BubbleLeft from './masks/BubbleLeft.vue';

    import AbstractRight from './masks/AbstractRight.vue';
    import ArchRight from './masks/ArchRight.vue';
    import CurveRight from './masks/CurveRight.vue';
    import DepthRight from './masks/DepthRight.vue';
    import DiveRight from './masks/DiveRight.vue';
    import DropRight from './masks/DropRight.vue';
    import EllipseRight from './masks/EllipseRight.vue';
    import FocusRight from './masks/FocusRight.vue';
    import GlassRight from './masks/GlassRight.vue';
    import LaceRight from './masks/LaceRight.vue';
    import LevelRight from './masks/LevelRight.vue';
    import MatchRight from './masks/MatchRight.vue';
    import MotionRight from './masks/MotionRight.vue';
    import PixelRight from './masks/PixelRight.vue';
    import RiseRight from './masks/RiseRight.vue';
    import SphereRight from './masks/SphereRight.vue';
    import SplashRight from './masks/SplashRight.vue';
    import TreasureRight from './masks/TreasureRight.vue';
    import TwistRight from './masks/TwistRight.vue';
    import ValleyRight from './masks/ValleyRight.vue';
    import WaveRight from './masks/WaveRight.vue';
    import BubbleRight from './masks/BubbleRight.vue';

    import {enumIncludes} from '../../../utils/enums';
    import {MASK} from './constants';

    export default Vue.extend({
        components: {
            AbstractLeft,
            ArchLeft,
            CurveLeft,
            DepthLeft,
            DiveLeft,
            DropLeft,
            EllipseLeft,
            FocusLeft,
            GlassLeft,
            LaceLeft,
            LevelLeft,
            MatchLeft,
            MotionLeft,
            PixelLeft,
            RiseLeft,
            SphereLeft,
            SplashLeft,
            TreasureLeft,
            TwistLeft,
            ValleyLeft,
            WaveLeft,
            BubbleLeft,
            AbstractRight,
            ArchRight,
            CurveRight,
            DepthRight,
            DiveRight,
            DropRight,
            EllipseRight,
            FocusRight,
            GlassRight,
            LaceRight,
            LevelRight,
            MatchRight,
            MotionRight,
            PixelRight,
            RiseRight,
            SphereRight,
            SplashRight,
            TreasureRight,
            TwistRight,
            ValleyRight,
            WaveRight,
            BubbleRight,
        },
        props: {
            color: {
                type: String,
                default: 'inherit',
            },
            mask: {
                type: String,
                validator(value: string): boolean {
                    return enumIncludes(MASK, value);
                },
                required: true,
            },
        },
        data() {
            return {
                colorParser: new RGBAColorParser(),
                gradientParser: new GradientParser(),
                MASK: MASK,
            };
        },
        computed: {
            maskStyle(): any {
                return {
                    '--mask-color': this.color,
                };
            },
            componentName(): string {
                return this.capitalize(this.mask);
            },
            leftComponent(): string {
                return this.componentName + 'Left';
            },
            rightComponent(): string {
                return this.componentName + 'Right';
            },
        },
        methods: {
            capitalize(string: string): string {
                return string.charAt(0).toUpperCase() + string.slice(1);
            },
        },

    });
</script>

<style scoped lang="scss">
    @import "imageMask";
</style>
