.slide {
  &__mask {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    width: 100%;

    &-left {
      left: -1px;
      justify-content: flex-start;
    }

    &-right {
      right: -1px;
      justify-content: flex-end;
    }

    &::v-deep {
      svg {
        height: 100%;
        width: auto;

        &:not([withGradient]) {
          path {
            fill: var(--mask-color);
          }
        }

        &[withGradient] {
          stop {
            stop-color: var(--mask-color) !important;
          }
        }
      }
    }

    &__wrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }
}