@import "../../assets/scss/main.scss";

.breadcrumbs {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &__link {
    @include textTwo;
    font-weight: $regular;
    color: $gray100;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &.last {
      overflow: hidden;

      .breadcrumbs {
        &__link {
          color: $gray700;
          pointer-events: none;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &__icon {
    padding: 2px;
    display: flex;
  }
}
