<template>
    <div class="breadcrumbs">
        <div :class="['breadcrumbs__item', {'last': isLastPage(index)}]" v-for="(route, index) in routes" :key="index">
            <a class="breadcrumbs__link" :href="route.url" v-if="route.url">
                {{ route.title }}
            </a>
            <router-link class="breadcrumbs__link" :to="route.link" v-else>
                {{ route.title }}
            </router-link>

            <div class="breadcrumbs__icon">
                <SvgIcon noHover :color="themeVariables.gray60" v-if="!isLastPage(index)" name="chevronRight_16"/>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    // @ts-ignore
    import themeVariables from '../../assets/scss/colors.module.scss';
    import {SvgIcon} from 'mlh-ui-icons';
    import {Route} from './types/Route';
    import Vue from 'vue';

    export default Vue.extend({
        components: {
            SvgIcon,
        },
        props: {
            routes: {
                type: Array as () => Route[],
                required: true,
            },
        },
        data() {
            return {
                themeVariables: themeVariables,
            };
        },
        methods: {
            isLastPage(index: number): boolean {
                return index === this.routes.length - 1;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "breadcrumbs";
</style>
