<template>
    <div :class="radioClass" :style="iconColors">
        <Radio
            :disabled="disabled"
            :value="value"
            v-model="radioValue">
            <div class="radio__label" v-if="label">
                {{ label }}
            </div>
            <template slot="input-box">
                <div class="radio">
                </div>
            </template>
        </Radio>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {RADIO__CHECKED_CLASS, RADIO__DISABLED_CLASS, RADIO__SMALL_CLASS, RADIO__WRAPPER_CLASS} from './constants';
    import {Radio} from 'vue-checkbox-radio';
    // @ts-ignore
    import themeVariables from '../../../assets/scss/colors.module.scss';

    export default Vue.extend({
        components: {
            Radio,
        },
        model: {
            prop: 'modelValue',
            event: 'input',
        },
        props: {
            value: {
                required: true,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            label: {
                type: String,
                default: '',
            },
            color: {
                type: String,
                default(): string {
                    return themeVariables.primary;
                },
            },
            small: {
                type: Boolean,
                default: false,
            },
            modelValue: {
                required: true,
            },
        },
        data() {
            return {};
        },
        computed: {
            radioValue: {
                get(): any {
                    return this.modelValue;
                },
                set(value: any): void {
                    this.$emit('input', value);
                },
            },
            radioClass(): any {
                return {
                    [RADIO__WRAPPER_CLASS]: true,
                    [RADIO__DISABLED_CLASS]: this.disabled,
                    [RADIO__CHECKED_CLASS]: this.isChecked,
                    [RADIO__SMALL_CLASS]: this.small,
                };
            },
            iconColors(): any {
                return {
                    '--color': this.color,
                };
            },
            isChecked(): boolean {
                return this.radioValue === this.value;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "radioComponent";
</style>
