@import "../../../assets/scss/main";

.radio {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  border-radius: 100px;
  background: $gray50;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background: $white;
    border-radius: 100px;
  }

  &__checked {
    .radio {
      background: var(--color);

      &:before {
        width: 10px;
        height: 10px;
        background: $white;
      }

      &-component {
        &:hover {
          .radio {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.12) 100%), var(--color);
          }
        }
      }
    }

    &.radio__small {
      .radio {
        &:before {
          width: 8px;
          height: 8px;
        }
      }
    }
  }

  &__disabled {
    .radio {
      background: $gray40 !important;

      &__label {
        color: $gray60;
      }
    }
  }

  &-component {
    display: inline-flex;
    padding: 2px 0;

    &:hover {
      .radio {
        background: $gray70;
      }
    }

    &::v-deep {
      input {
        z-index: -1;
      }

      label {
        display: flex;
        align-items: center;
        opacity: 1 !important;
      }
    }
  }

  &__label {
    margin-left: 8px;
    @include headline;
    font-weight: $regular;
    color: $gray1000;
    user-select: none;
  }

  &__small {
    .radio {
      width: 16px;
      height: 16px;
      min-height: 16px;
      min-width: 16px;

      &:before {
        width: 14px;
        height: 14px;
      }

      &__label {
        @include text;
        margin-left: 6px;
      }
    }
  }
}
