<template>
    <div class="filters">
        <div class="filters__wrapper">
            <div class="filters__topBlock">
                <FiltersHeader :text="filterText"
                               :totalItemsText="totalItemsText">
                    <template #icon>
                        <FilterIcon/>
                    </template>
                </FiltersHeader>
                <FiltersSelected
                    :localization="localization"
                    :selectedOptions="selectedOptions"/>
            </div>
            <vsa-list class="filters__body" :tags="{list:'div'}" :autoCollapse="false" :navigation="false">
                <div class="filter__item" v-for="(filter, key) in filters" :key="key">
                    <vsa-item :force-active="openedFilters[key]"
                              :onHeadingClick="({item}) => setOpenedFilter(key,item)">
                        <vsa-heading>
                            <div class="filter__header">
                                <div class="filter__title">
                                    {{ filter.title }}
                                </div>
                                <div class="filter__icon">
                                    <ChevronDownIcon/>
                                </div>
                            </div>
                        </vsa-heading>
                        <vsa-content>
                            <div class="filter__content" v-if="filter.type === FILTER_TYPE.CUSTOM">
                                <slot :name="key" :index="key" :filter="filter"/>
                            </div>
                            <div class="filter__content" @click.stop v-else>
                                <component :is="filter.type"
                                           :index="key"
                                           :filter="filter"
                                />
                            </div>
                        </vsa-content>
                    </vsa-item>
                </div>
            </vsa-list>
        </div>
    </div>
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import FilterIcon from '../icons/FilterIcon.vue';
    import ButtonComponent from '../../components/buttonComponent/ButtonComponent.vue';
    import ChevronDownIcon from '../../components/icons/ChevronDownIcon.vue';
    import FiltersSelected from '../../components/filters/FiltersSelected.vue';
    import FiltersHeader from '../../components/filters/FiltersHeader.vue';
    import filtersHelperMixin from '../../components/filters/mixins/filtersHelperMixin';
    import {
        VsaList,
        VsaItem,
        VsaHeading,
        VsaContent,
    } from 'vue-simple-accordion';

    export default mixins(filtersHelperMixin).extend({
        components: {
            FiltersHeader,
            FiltersSelected,
            ChevronDownIcon,
            ButtonComponent,
            FilterIcon,
            VsaList,
            VsaItem,
            VsaHeading,
            VsaContent,
        },
        props: {
            filtersWithValue: {
                type: Array as () => string[],
            },
        },
        data() {
            return {
                openedFilters: {} as { [index: string]: boolean },
            };
        },
        methods: {
            setOpenedFilter(index: string, item: { isActive: boolean }): void {
                this.$set(this.openedFilters, index, item.isActive);
            },
        },
        computed: {
            filterText(): string {
                return `${this.localization.filter} (${this.selectedOptions.length})`;
            },
        },
        watch: {
            filtersWithValue(value: string[]): void {
                let openedFilters: { [index: string]: boolean } = {};
                for (let index in this.filters) {
                    let filter = this.filters[index];
                    if ((filter.settings && (filter.settings.isOpened ?? true)) || value.includes(index)) {
                        openedFilters[index] = true;
                    }
                }
                this.openedFilters = openedFilters;
            },
            hasTempChanges(): void {
                if (!this.hasTempChanges) {
                    return;
                }
                this.storeTempChanges();
                this.applyTempChanges();
            },
        },
    });
</script>
