<template>
    <div class="filtersSelected" v-if="selectedOptions.length > 0">
        <div class="filtersSelected__item"
             v-for="(option,index) in selectedOptions"
             :key="index"
             @click="clearFilterSelectedOption(option)"
        >
            <div class="filtersSelected__text">
                {{ option.text }}
            </div>
            <div class="filtersSelected__cross">
                <ErrorIcon/>
            </div>
        </div>

        <div class="filtersSelected__item clear" @click="clearAllFilters">
            {{ localization.clearFilters }}
        </div>
    </div>
</template>
<script lang="ts">
    import Vue, {VueConstructor} from 'vue';
    import ErrorIcon from '../icons/ErrorIcon.vue';
    import {FilterSelectedOption} from '../filters/types/FilterComponent';
    import {MainFilterComponent} from '../filters/types/MainFilterComponent';

    export default (Vue as VueConstructor<MainFilterComponent>).extend({
        components: {
            ErrorIcon,
        },
        inject:[
            'clearAllFilters',
            'clearFilterSelectedOption',
        ],
        props: {
            localization: {
                type: Object as () => any,
            },
            selectedOptions: {
                type: Array as () => FilterSelectedOption[],
                required: true,
            },
        },
    });
</script>
<style lang="scss" scoped>
    @import "mixins";

    .filtersSelected {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        margin-bottom: -8px;
        max-height: 308px;
        overflow: auto;
        overflow-x: hidden;

        @include medium-block {
            margin: 0;
            padding-top: 16px;
            padding-bottom: 8px;
            border-top: 1px solid $gray30;
        }

        &__text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &__item {
            @include tag;

            &.active {
                &::v-deep {
                    .svgIcon {
                        * {
                            &[stroke] {
                                &[stroke]:not([stroke="white"]) {
                                    stroke: $primary !important;
                                }
                            }

                            &[fill] {
                                &[fill]:not([fill="white"]) {
                                    fill: $primary !important;
                                }
                            }
                        }
                    }
                }
            }

            &.clear {
                @include textTwo;
                font-weight: $bold;
                color: $gray1000;
                border: none;

                @include small-block {
                    padding: 0;
                }
            }
        }

        &__cross {
            margin-left: 6px;
        }
    }
</style>
