@import "mixins";

::v-deep {
  .filters {
    &__wrapper {
      max-width: 296px;
      width: 100%;
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
      align-self: flex-start;

      &--fixed {
        position: fixed;
        left: 0;
        display: flex;
        z-index: 1029;
        background: $white;
        height: 100%;
        padding: 16px;
        top: 0;
        margin: 0;
        max-width: 320px;
      }
    }

    &__body {
      @include medium-block {
        flex: 1;
        overflow-y: auto;
      }
    }

    &__topBlock {
      border-bottom: 1px solid $gray30;
      padding-bottom: 16px;
      width: 100%;
      display: flex;
      flex-shrink: 0;
      flex-direction: column;

      @include medium-block {
        padding-bottom: 0;
      }
    }

    &__header {
      display: flex;
      align-items: center;

      &__icon {
        margin-right: 8px;
      }

      &__title {
        @include headline;
        font-weight: $bold;
        color: $gray1000;
      }

      &__count {
        @include headline;
        font-weight: $regular;
        color: $gray60;
        margin-left: auto;
      }
    }

    &__cross {
      margin-left: 6px;
    }
  }

  .filter {
    &__item {
      display: flex;
      align-items: center;
      padding: 16px 0;
      border-bottom: 1px solid $gray30;

      &--active {
        border-bottom: none;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &__title {
      @include headline;
      font-weight: $bold;
      color: $gray1000;
      padding-right: 8px;
    }

    &__content {
      @include medium-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
      }

      .searchInput {
        @include medium-block {
          margin: 0 0 16px 0;
        }
      }
    }

    &__icon {
      margin-left: auto;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($gray1000, .5);
    z-index: 100;
    width: 100%;
    height: 100%;
  }

  .overlay-leave-active,
  .overlay-enter-active {
    transition: opacify .3s ease-out;
  }

  .overlay-enter {
    opacity: 1;
  }

  .overlay-leave-to {
    opacity: 0;
  }

  .filter-slide-leave-active,
  .filter-slide-enter-active {
    transition: transform .3s ease-out;
  }

  .filter-slide-enter {
    transform: translateX(-100%);
  }

  .filter-slide-leave-to {
    transform: translateX(-100%);
  }

  .vsa-item {
    width: 100%;

    &__content {
      padding-top: 16px;
      transition: all 0.4s ease 0s;

      .filter__options {
        max-height: 308px;
        overflow: auto;
        overflow-x: hidden;
        @include customScrollbar;
      }

      .checkbox__label {
        padding: 0;
      }
    }

    &__heading {
      width: 100%;
    }

    .filter__icon {
      transition: 0.2s;
      transform: rotateX(0);
    }

    &--is-active {
      .filter__icon {
        transform: rotateX(180deg);
      }
    }

    &__trigger {
      padding: 0;
      background: none;
      border: none;
      width: 100%;
    }
  }

  .vsa-collapse-enter-active,
  .vsa-collapse-leave-active {
    transition-property: opacity, height, padding-top, padding-bottom;
    transition-duration: .4s;
    transition-timing-function: ease;
  }

  .vsa-collapse-enter,
  .vsa-collapse-leave-active {
    opacity: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
}
