<template>
    <div class="filtersHeader">
        <div class="filtersHeader__icon">
            <slot name="icon"></slot>
        </div>
        <div class="filtersHeader__title">
            {{ text }}
        </div>
        <div class="filtersHeader__count" v-if="totalItemsText">
            {{ totalItemsText }}
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        name: 'FiltersHeader',
        props: {
            text: {
                type: String,
            },
            totalItemsText: {
                type: String,
            },
        },
    });
</script>
<style lang="scss" scoped>
    @import "mixins";

    .filtersHeader {
        display: flex;
        align-items: center;

        @include medium-block {
            padding-bottom: 16px;
        }

        &__icon {
            margin-right: 8px;
        }

        &__title {
            @include headline;
            font-weight: $bold;
            color: $gray1000;
        }

        &__count {
            @include headline;
            font-weight: $regular;
            color: $gray60;
            margin-left: auto;
        }
    }
</style>
