<template>
    <div class="filtersFooter" :class="{'filtersFooter--with-apply': hasActiveFilter}">
        <ButtonComponent v-if="hasChanges && !hasActiveFilter" block @click="applyAction">
            {{ localization.apply }}
        </ButtonComponent>
        <ButtonComponent v-else outline block @click="backAction">
            {{ localization.back }}
        </ButtonComponent>
        <ButtonComponent v-if="hasActiveFilter" block @click="applyAction">
            {{ localization.apply }}
        </ButtonComponent>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import ButtonComponent from '../../components/buttonComponent/ButtonComponent.vue';

    export default Vue.extend({
        name: 'FiltersFooter',
        components: {ButtonComponent},
        props: {
            hasChanges: {
                type: Boolean,
            },
            hasActiveFilter: {
                type: Boolean,
            },
            localization: {
                type: Object,
                required: true,
            },
        },
        methods: {
            applyAction(): void {
                this.$emit('apply', true);
            },
            backAction(): void {
                this.$emit('back', true);
            },
        },
    });
</script>
<style lang="scss" scoped>
    @import "../../assets/scss/colors.module.scss";

    .filtersFooter {
        border-top: 1px solid $gray30;
        padding-top: 16px;
        display: flex;
        justify-content: space-between;

        &--with-apply {
            .buttonComponent__wrapper.blockButton {
                width: calc(50% - 8px);
            }
        }
    }
</style>
