<template>
    <div class="filters">
        <ButtonComponent @click="show">
            <template #prepend-icon v-if="isMedium">
                <FilterIcon/>
            </template>
            {{ localization.filter }}
        </ButtonComponent>
        <transition name="filter-slide">
            <div class="filters__wrapper filters__wrapper--fixed" v-show="active">
                <div class="filters__topBlock">
                    <FiltersHeader :text="filterText"
                                   :totalItemsText="totalItemsText"
                                   @click.native="backAction">
                        <template #icon>
                            <ChevronLeftIcon/>
                        </template>
                    </FiltersHeader>
                    <FiltersSelected v-show="!hasActiveFilter"
                                     :localization="localization"
                                     :selectedOptions="selectedOptions"
                    />
                </div>
                <div class="filters__body">
                    <div v-for="(filter, index) in filters"
                         :class="['filter__item', {'filter__item--active': activeFilterIndex === index}]"
                         :key="index"
                         v-show="!hasActiveFilter || activeFilterIndex === index"
                         @click="setActiveFilter(index)">
                        <div class="filter__header" v-if="activeFilterIndex !== index">
                            <div class="filter__title">
                                {{ filter.title }}
                            </div>
                            <div class="filter__icon">
                                <ChevronRightIcon/>
                            </div>
                        </div>
                        <div class="filter__content" v-show="activeFilterIndex === index" @click.stop>
                            <div class="filter__card" v-if="filter.type === FILTER_TYPE.CUSTOM">
                                <slot :name="index"
                                      :index="index"
                                      :filter="filter"
                                />
                            </div>
                            <div class="filter__card" v-else>
                                <component :is="filter.type"
                                           :index="index"
                                           :filter="filter"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <FiltersFooter :hasActiveFilter="hasActiveFilter"
                               :hasChanges="hasTempChanges"
                               :localization="localization"
                               @apply="applyAction"
                               @back="backAction"
                />
            </div>
        </transition>
        <transition name="overlay">
            <div v-if="active"
                 class="overlay"
                 @click="hide"></div>
        </transition>
    </div>
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import FiltersFooter from '../../components/filters/FiltersFooter.vue';
    import FiltersSelected from '../../components/filters/FiltersSelected.vue';
    import ChevronLeftIcon from '../icons/ChevronLeftIcon.vue';
    import ChevronRightIcon from '../../components/icons/ChevronRightIcon.vue';
    import FiltersHeader from '../../components/filters/FiltersHeader.vue';
    import filtersHelperMixin from '../../components/filters/mixins/filtersHelperMixin';
    import mediaQueriesMixin from '../../mixins/mediaQueriesMixin';
    import ButtonComponent from '../../components/buttonComponent/ButtonComponent.vue';
    import FilterIcon from '../../components/icons/FilterIcon.vue';

    export default mixins(filtersHelperMixin, mediaQueriesMixin).extend({
        components: {
            FiltersHeader,
            FilterIcon,
            ButtonComponent,
            ChevronRightIcon,
            FiltersSelected,
            FiltersFooter,
            ChevronLeftIcon,
        },
        data() {
            return {
                active: false,
                activeFilterIndex: null as string | null,
                tempSelected: {},
            };
        },
        watch: {

        },
        computed: {
            hasActiveFilter(): boolean {
                return this.activeFilterIndex !== null;
            },
            filterText(): string {
                if (this.activeFilterIndex) {
                    return this.filters[this.activeFilterIndex].title;
                }

                return `${this.localization.filter} (${this.selectedOptions.length})`;
            },
        },
        methods: {
            backAction(): void {
                if (!this.hasActiveFilter) {
                    this.hide();
                    return;
                }

                this.clearActiveFilter();
                return;
            },
            clearActiveFilter(): void {
                this.activeFilterIndex = null;
                this.restoreFiltersToTempChangesState();
            },
            setActiveFilter(index: string): void {
                this.activeFilterIndex = index;
            },
            applyAction(): void {
                if (this.hasActiveFilter) {
                    this.activeFilterIndex = null;
                    this.storeTempChanges();
                    return;
                }

                this.applyTempChanges();
                this.hide();
            },
            show() {
                this.active = true;
            },
            hide(): void {
                this.discardTempChanges();
                this.active = false;
            },
        },
    });
</script>
