@import "../../assets/scss/main.scss";

@mixin filterLabel {
  @include textTwo;
  font-weight: $regular;
  color: $gray700;
  padding: 6px 12px;
  margin-bottom: 8px;
  border: 1px solid $gray30;
  border-radius: 32px;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    border-color: $gray50;
    transition: 0.2s;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $white;
      opacity: 0.08;
      z-index: -1;
    }
  }
  &.active {
    border-color: $primary;
    color: $primary;

    &:before {
      background: $primary;
      opacity: 0.04;
    }

    &:hover {
      &:before {
        opacity: 0.08;
      }
    }
  }
  &:not(:last-child) {
    margin-right: 8px;
  }
}

@mixin customScrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    min-height: 40px
  }

  &::-webkit-scrollbar-track {
    background: $gray20;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray60;
    border-radius: 8px;
  }
}
