@import "../../assets/scss/main.scss";

.avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  background: $gray20;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: $bold;
  color: $gray1000;
  cursor: pointer;
  position: relative;
  border-radius: 200px;
  overflow: hidden;
  flex-shrink: 0;

  &.extraSmall {
    width: 9px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
  }

  &.small {
    width: 14px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
  }

  &.medium {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    font-size: 16px;
    line-height: 20px;

    @include small-block{
      width: 32px;
      height: 32px;
      min-width: 32px;
      min-height: 32px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &.large {
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    font-size: 24px;
    line-height: 28px;
  }

  &.extraLarge {
    width: 96px;
    height: 96px;
    min-width: 96px;
    min-height: 96px;
    font-size: 36px;
    line-height: 48px;
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
