<template>
    <div :class="avatarClass">
        <div class="avatar__text" v-if="text && !url">
            {{ formattedText }}
        </div>
        <div class="avatar__img" v-if="url" :style="avatarImageStyle">
        </div>
    </div>
</template>

<script lang="ts">
    import {AVATAR_CLASS, AVATAR_SIZE} from './constants';
    import Vue from 'vue';
    import {enumIncludes} from '../../utils/enums';

    export default Vue.extend({
        props: {
            text: String,
            size: {
                type: String,
                default: AVATAR_SIZE.MEDIUM,
                validator(value: string): boolean {
                    return enumIncludes(AVATAR_SIZE, value);
                },
            },
            url: String,
        },
        computed: {
            avatarClass(): any {
                return {
                    [AVATAR_CLASS]: true,
                    [this.size]: true,
                };
            },
            formattedText(): string {
                let words = this.text.split(/\s+/);
                let text = words[0][0];
                if (words.length > 1) {
                    text += words[1][0];
                }
                return text.toUpperCase();
            },
            avatarImageStyle(): any {
                return {
                    backgroundImage: `url(${this.url})`,
                };
            },
        },
    });
</script>
<style lang="scss" scoped>
    @import "avatar";
</style>
