<template>
    <svg width="205" height="380" viewBox="0 0 205 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 380H205V0H202.034L0 380ZM161.471 205.121C142.127 194.881 118.125 202.227 107.863 221.53L80.2707 273.426C70.0081 292.729 77.3706 316.678 96.7153 326.919C116.06 337.159 140.061 329.812 150.324 310.51L177.916 258.613C188.178 239.31 180.816 215.361 161.471 205.121Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
