<template>
    <svg width="195" height="380" viewBox="0 0 195 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M194.574 0H171.172L78.6822 174.341C73.9953 183.176 63.0338 186.538 54.1991 181.851C45.3644 177.164 42.002 166.203 46.6889 157.368L130.175 0H107.545L81.0065 50.0247C73.7113 63.7759 56.6498 69.0095 42.8986 61.7143C29.1474 54.4191 23.9138 37.3576 31.209 23.6064L43.7325 0H0V380H81.4244C56.5882 325.432 56.4594 260.343 86.7291 203.285L194.574 0Z"
              fill="#0B1125"/>
    </svg>

</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
