<template>
    <svg width="216" height="380" viewBox="0 0 216 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 380V0H216C116.589 0 36 80.5887 36 180V380H0Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
