<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="73" height="380" viewBox="0 0 73 380" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M1 380H72.9854V0H40.9854V260C40.9854 305.024 26.1075 346.574 1 380Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
