<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="166" height="380" viewBox="0 0 166 380" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M62.311 0C43.1654 28.602 32 62.9971 32 100C32 213.091 84.1467 314.002 165.707 380H0V0H62.311Z"
              fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
