<template>
    <svg width="138" height="380" viewBox="0 0 138 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.2" d="M64.4091 380C100.786 325.656 122 260.306 122 190C122 119.694 100.786 54.3437 64.4091 0L3.78059 0C47.2984 51.2045 73.5545 117.536 73.5545 190C73.5545 262.464 47.2984 328.795 3.78059 380H64.4091Z" fill="#0B1125"/>
        <path opacity="0.7" d="M62.4091 380C98.7857 325.656 120 260.306 120 190C120 119.694 98.7857 54.3437 62.4091 0L33.4374 0C72.9476 53.0313 96.3328 118.785 96.3328 190C96.3328 261.215 72.9476 326.969 33.4374 380H62.4091Z" fill="#0B1125"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M62.4091 0C98.7857 54.3437 120 119.694 120 190C120 260.306 98.7857 325.656 62.4091 380H138V0L62.4091 0Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
