<template>
    <svg width="138" height="380" viewBox="0 0 138 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1408_28692)">
            <path opacity="0.2" d="M73.5909 380C37.2143 325.656 16 260.306 16 190C16 119.694 37.2143 54.3437 73.5909 0L134.219 0C90.7016 51.2045 64.4455 117.536 64.4455 190C64.4455 262.464 90.7016 328.795 134.219 380H73.5909Z" fill="#0B1125"/>
            <path opacity="0.7" d="M75.5909 380C39.2143 325.656 18 260.306 18 190C18 119.694 39.2143 54.3437 75.5909 0L104.563 0C65.0524 53.0313 41.6672 118.785 41.6672 190C41.6672 261.215 65.0524 326.969 104.563 380H75.5909Z" fill="#0B1125"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M75.5909 0C39.2143 54.3437 18 119.694 18 190C18 260.306 39.2143 325.656 75.5909 380H0V0L75.5909 0Z" fill="#0B1125"/>
        </g>
        <defs>
            <clipPath id="clip0_1408_28692">
                <rect width="138" height="380" fill="white"/>
            </clipPath>
        </defs>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
