<template>
    <svg width="176" height="380" viewBox="0 0 176 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M176 0H0V380H176V0Z" fill="url(#paint0_radial_1408_28701)"/>
        <defs>
            <radialGradient id="paint0_radial_1408_28701" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(360 190) scale(430)">
                <stop offset="0.702145" stop-color="#0B1125" stop-opacity="0"/>
                <stop offset="0.809869" stop-color="#0B1125"/>
            </radialGradient>
        </defs>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
