<template>
    <svg width="99" height="380" viewBox="0 0 99 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1 380H99.0496V0H29.2684C41.0921 11.4577 51.069 25.0833 58.8083 41.2598C112.712 153.927 87.2873 288.542 1 380Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
