<template>
    <svg width="217" height="380" viewBox="0 0 217 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M70.5906 0C47.6523 16.1839 29.6241 37.2456 18.8588 64.7173C-21.951 168.859 58.5881 269.473 155.109 338.254C174.756 352.255 195.231 366.434 216.3 380H0V0H70.5906Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
