<template>
    <svg width="226" height="380" viewBox="0 0 226 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M226 0H0V380H226C121.066 380 36 294.934 36 190C36 85.0659 121.066 0 226 0Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
