<template>
    <svg width="226" height="380" viewBox="0 0 226 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H226V380H1.52588e-05C104.934 380 190 294.934 190 190C190 85.0659 104.934 0 0 0Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
