<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="124" height="380" viewBox="0 0 124 380" fill="none">
        <path d="M0 0H124V380H0V0Z" fill="url(#paint0_linear_1408_28737)"/>
        <defs>
            <linearGradient id="paint0_linear_1408_28737" x1="-1.84774e-06" y1="190" x2="124" y2="190" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0B1125"/>
                <stop offset="1" stop-color="#0B1125" stop-opacity="0"/>
            </linearGradient>
        </defs>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
