<template>
    <svg width="124" height="380" viewBox="0 0 124 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M124 0H0V380H124V0Z" fill="url(#paint0_linear_1408_28738)"/>
        <defs>
            <linearGradient id="paint0_linear_1408_28738" x1="124" y1="190" x2="-3.38753e-06" y2="190" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0B1125"/>
                <stop offset="1" stop-color="#0B1125" stop-opacity="0"/>
            </linearGradient>
        </defs>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
