<template>
    <svg width="176" height="380" viewBox="0 0 176 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M83.1697 0H0V380H175.634L29.6797 301.8L66.0822 95.1421L83.1697 0Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
