<template>
    <svg width="138" height="380" viewBox="0 0 138 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M75.5909 0C39.2143 54.3437 18 119.694 18 190C18 260.306 39.2143 325.656 75.5909 380H0V0H75.5909Z" fill="#0B1125"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M91.5725 380C78.6483 363.297 67.3806 345.349 58.0017 326.38C64.856 345.086 73.073 363.01 82.515 380H81.3746C70.5301 360.417 61.3075 339.603 53.9154 317.789C35.9609 278.506 26 235.116 26 189.5C26 143.884 35.9609 100.494 53.9154 61.2115C61.1818 39.7682 70.217 19.2909 80.8229 0H81.9612C72.7514 16.6927 64.7216 34.2806 58.0017 52.6198C67.1937 34.0286 78.1999 16.4189 90.8019 0H92.0649C77.382 19.0366 64.8552 39.6874 54.829 61.6222C41.3669 101.384 34 144.479 34 189.5C34 234.521 41.3669 277.616 54.829 317.378C65.031 339.697 77.8221 360.687 92.8393 380H91.5725ZM50.7831 70.8687C35.4396 107.549 27 147.584 27 189.5C27 231.416 35.4396 271.451 50.7831 308.131C39.2585 270.952 33 231.04 33 189.5C33 147.96 39.2585 108.048 50.7831 70.8687Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
