<template>
    <svg width="138" height="380" viewBox="0 0 138 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M62.4091 0C98.7857 54.3437 120 119.694 120 190C120 260.306 98.7857 325.656 62.4091 380H138V0H62.4091Z" fill="#0B1125"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M46.4275 380C59.3517 363.297 70.6194 345.349 79.9982 326.38C73.144 345.086 64.927 363.01 55.485 380H56.6253C67.4699 360.417 76.6924 339.603 84.0846 317.789C102.039 278.506 112 235.116 112 189.5C112 143.884 102.039 100.494 84.0846 61.2115C76.8182 39.7682 67.783 19.2909 57.1771 0H56.0388C65.2486 16.6927 73.2783 34.2806 79.9983 52.6198C70.8063 34.0286 59.8001 16.4189 47.1981 0H45.9351C60.618 19.0366 73.1448 39.6874 83.1709 61.6222C96.6331 101.384 104 144.479 104 189.5C104 234.521 96.6331 277.616 83.1709 317.378C72.9689 339.697 60.1779 360.687 45.1607 380H46.4275ZM87.2169 70.8687C102.56 107.549 111 147.584 111 189.5C111 231.416 102.56 271.451 87.2169 308.131C98.7414 270.952 105 231.04 105 189.5C105 147.96 98.7414 108.048 87.2169 70.8687Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
