<template>
    <svg width="70" height="380" viewBox="0 0 70 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.3" d="M24 0H70V380H24V0Z" fill="#0B1125"/>
        <path opacity="0.4" d="M24 0H48V380H24V0Z" fill="#0B1125"/>
        <path d="M0 0H24V380H0V0Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
