<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="245" height="380" viewBox="0 0 245 380" fill="none">
        <path d="M0 0H245C245 17.9493 230.449 32.5 212.5 32.5H138.467C79.6311 32.5 31.9348 80.1962 31.9348 139.033V380H0V0Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
