<template>
    <svg width="245" height="380" viewBox="0 0 245 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M245 380H0C0 362.051 14.5507 347.5 32.5 347.5H106.533C165.369 347.5 213.065 299.804 213.065 240.967V0H245V380Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
