<template>
    <svg width="180" height="380" viewBox="0 0 180 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M104.482 380H0V0H180L104.482 380Z" fill="url(#paint0_linear_1408_28723)"/>
        <defs>
            <linearGradient id="paint0_linear_1408_28723" x1="37.9825" y1="238.736" x2="111.978" y2="255.091" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0B1125"/>
                <stop offset="1" stop-color="#0B1125" stop-opacity="0"/>
            </linearGradient>
        </defs>
    </svg>

</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
