<template>
    <svg width="180" height="380" viewBox="0 0 180 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M75.5181 0H180V380H0L75.5181 0Z" fill="url(#paint0_linear_1408_28725)"/>
        <defs>
            <linearGradient id="paint0_linear_1408_28725" x1="142.018" y1="141.264" x2="68.0221" y2="124.909" gradientUnits="userSpaceOnUse">
                <stop stop-color="#0B1125"/>
                <stop offset="1" stop-color="#0B1125" stop-opacity="0"/>
            </linearGradient>
        </defs>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
