<template>
    <svg width="139" height="380" viewBox="0 0 139 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.5" d="M0 14H11V25H0V14Z" fill="#0B1125"/>
        <path opacity="0.4" d="M76 262H93V279H76V262Z" fill="#0B1125"/>
        <path opacity="0.6" d="M28 354H54V380H28V354Z" fill="#0B1125"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M139 0V380H93V354H54V315H93V279H115V122H99V61H54V0H139ZM54 61V76H39V61H54Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
