<template>
    <svg width="190" height="380" viewBox="0 0 190 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.6" d="M132 0H171V39H132V0Z" fill="#0B1125"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V380H60V338H80V318H60V338H18V229H32V183H18V147H58V85H103V0H0ZM190 39H171V58H190V39ZM94 112H103V121H94V112Z" fill="#0B1125"/>
        <path opacity="0.4" d="M32 229H40V237H32V229Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
