<template>
    <svg width="123" height="380" viewBox="0 0 123 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H75.8082L0 380V0Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
