<template>
    <svg width="76" height="380" viewBox="0 0 76 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.409134 0C36.7857 54.3437 58 119.694 58 190C58 260.306 36.7857 325.656 0.409142 380H76V0L0.409134 0Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
