<template>
    <svg width="158" height="380" viewBox="0 0 158 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M59.9941 380H158.044V0H88.2626C100.086 11.4577 110.063 25.0833 117.802 41.2598C171.706 153.927 146.281 288.542 59.9941 380Z" fill="#0B1125"/>
        <path opacity="0.7" fill-rule="evenodd" clip-rule="evenodd" d="M31.6462 380H59.9942C146.281 288.542 171.706 153.927 117.802 41.2598C110.063 25.0833 100.086 11.4577 88.2625 0H56.5638C75.0683 12.5292 89.6896 28.8405 99.7609 49.8914C152.58 160.294 123.638 294.339 31.6462 380Z" fill="#0B1125"/>
        <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M1 380H59.9942C146.281 288.542 171.706 153.927 117.802 41.2598C110.063 25.0833 100.086 11.4577 88.2625 0H12.0818C45.3689 12.0435 68.4672 30.8235 81.7194 58.523C133.587 166.936 100.367 301.201 1 380Z" fill="#0B1125" fill-opacity="0.3"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
