<template>
    <svg width="295" height="380" viewBox="0 0 295 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M70.5906 0C47.6523 16.1839 29.6241 37.2456 18.8588 64.7173C-21.951 168.859 58.5881 269.473 155.109 338.254C174.756 352.255 195.231 366.434 216.3 380H0V0H70.5906Z" fill="#0B1125"/>
        <path opacity="0.7" d="M110.788 0H70.5907C47.6524 16.1839 29.6241 37.2456 18.8588 64.7173C-21.951 168.859 58.5881 269.473 155.109 338.254C174.756 352.255 195.231 366.434 216.3 380H254.169C224.13 362.021 194.786 341.97 166.715 321.966C119.782 288.522 77.9497 248.142 52.7899 204.719C27.8773 161.723 19.8622 116.973 37.4801 72.0144C50.4092 39.021 75.9824 16.0289 110.788 0Z" fill="#0B1125"/>
        <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M175.34 0C165.377 2.21384 155.744 4.75911 146.516 7.69025C99.5276 22.6157 69.3948 45.3884 56.1015 79.3115C41.2705 117.158 47.3684 155.469 70.0949 194.693C93.3159 234.769 132.715 273.179 178.322 305.679C215.942 332.487 255.098 358.808 294.639 380H216.3C195.231 366.434 174.756 352.255 155.109 338.254C58.5881 269.473 -21.9509 168.859 18.8589 64.7173C29.6241 37.2456 47.6524 16.1839 70.5908 0H175.34Z" fill="#0B1125" fill-opacity="0.3"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
