<template>
    <svg width="216" height="380" viewBox="0 0 216 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0V380H216C116.589 380 36 299.411 36 200V0H0Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
