<template>
    <svg width="216" height="380" viewBox="0 0 216 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M216 0V380H0C99.4113 380 180 299.411 180 200V0H216Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
