<template>
    <svg width="45" height="380" viewBox="0 0 45 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M40.4101 21.1296L40.0429 21.8125C35.699 29.8905 35.699 39.6094 40.0429 47.6875C44.3869 55.7655 44.3869 65.4845 40.0429 73.5625C35.699 81.6405 35.699 91.3595 40.0429 99.4375C44.3869 107.516 44.3869 117.234 40.0429 125.312C35.699 133.391 35.699 143.109 40.0429 151.188C44.3869 159.266 44.3869 168.984 40.0429 177.062C35.699 185.141 35.699 194.859 40.0429 202.938C44.3869 211.016 44.3869 220.734 40.0429 228.812C35.699 236.891 35.699 246.609 40.0429 254.688C44.3869 262.766 44.3869 272.484 40.0429 280.562C35.699 288.641 35.699 298.359 40.0429 306.438C44.3869 314.516 44.3869 324.234 40.0429 332.312C35.699 340.391 35.699 350.109 40.0429 358.188L40.4101 358.87C43.9345 365.424 44.4401 373.119 41.9269 380H0V0H41.9269C44.4401 6.88121 43.9345 14.5756 40.4101 21.1296Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
