<template>
    <svg width="45" height="380" viewBox="0 0 45 380" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.58985 21.1296L4.95706 21.8125C9.30097 29.8905 9.30098 39.6094 4.95706 47.6875C0.613142 55.7655 0.613142 65.4845 4.95706 73.5625C9.30098 81.6405 9.30098 91.3595 4.95706 99.4375C0.613142 107.516 0.613142 117.234 4.95706 125.312C9.30098 133.391 9.30098 143.109 4.95706 151.188C0.613142 159.266 0.613142 168.984 4.95706 177.062C9.30098 185.141 9.30098 194.859 4.95706 202.938C0.613142 211.016 0.613142 220.734 4.95706 228.812C9.30098 236.891 9.30098 246.609 4.95706 254.688C0.613142 262.766 0.613142 272.484 4.95706 280.562C9.30098 288.641 9.30098 298.359 4.95706 306.438C0.613142 314.516 0.613142 324.234 4.95706 332.312C9.30098 340.391 9.30098 350.109 4.95706 358.188L4.58986 358.87C1.06546 365.424 0.559885 373.119 3.07315 380H45V0H3.07315C0.559885 6.88121 1.06545 14.5756 4.58985 21.1296Z" fill="#0B1125"/>
    </svg>
</template>

<script lang="ts">
    import maskMixin from '../mixins/maskMixin';
    import mixins from 'vue-typed-mixins';

    export default mixins(maskMixin).extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
