<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M11.5 4.29289C11.8905 4.68342 11.8905 5.31658 11.5 5.70711L6.2071 11L20 11C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13L6.20711 13L11.5 18.2929C11.8905 18.6834 11.8905 19.3166 11.5 19.7071C11.1094 20.0976 10.4763 20.0976 10.0858 19.7071L3.43934 13.0607C2.85355 12.4749 2.85355 11.5251 3.43934 10.9393L10.0858 4.29289C10.4763 3.90237 11.1094 3.90237 11.5 4.29289Z"
                  fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from './SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
