<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewBox="0 0 8 16" fill="none">
            <mask id="mask0" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="8" height="16">
                <rect width="8" height="16" fill="#F0F0F0"/>
            </mask>
            <g mask="url(#mask0)">
                <path d="M1.65182 9.48659L10.0001 17V-1L1.65182 6.51341C0.769055 7.3079 0.769057 8.69211 1.65182 9.48659Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0001 19.2454L0.982853 10.2299C-0.341288 9.03816 -0.341291 6.96185 0.982851 5.77012L1.65182 6.51341C0.769055 7.3079 0.769057 8.69211 1.65182 9.48659L10.0001 17V-0.999999L1.65182 6.51341L0.982851 5.77012L11.0001 -3.24536V19.2454Z" fill="#F0F0F0"/>
            </g>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from './SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
