<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12.4999 4.29341C12.1094 4.68393 12.1094 5.3171 12.4999 5.70762L17.7928 11.0005L3.99994 11.0005C3.44765 11.0005 2.99994 11.4482 2.99994 12.0005C2.99994 12.5528 3.44765 13.0005 3.99994 13.0005L17.7928 13.0005L12.4999 18.2934C12.1094 18.6839 12.1094 19.3171 12.4999 19.7076C12.8905 20.0981 13.5236 20.0981 13.9142 19.7076L20.5606 13.0612C21.1464 12.4754 21.1464 11.5256 20.5606 10.9399L13.9142 4.29341C13.5236 3.90289 12.8905 3.90289 12.4999 4.29341Z"
                  fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from './SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
