<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2071 9.29289C12.5976 9.68342 12.5976 10.3166 12.2071 10.7071L9.20711 13.7071C8.81658 14.0976 8.18342 14.0976 7.79289 13.7071C7.40237 13.3166 7.40237 12.6834 7.79289 12.2929L10.0858 10L7.79289 7.70711C7.40237 7.31658 7.40237 6.68342 7.79289 6.29289C8.18342 5.90237 8.81658 5.90237 9.20711 6.29289L12.2071 9.29289Z" fill="#B0B4BC"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from './SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>