<template>
    <SvgIcon v-bind="$props">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.01185 10.9951C8.82438 11.1826 8.71907 11.4369 8.71907 11.7021C8.71907 11.9672 8.82438 12.2215 9.01185 12.4091L13.6049 17.0021C13.7911 17.1846 14.042 17.2863 14.3028 17.285C14.5636 17.2837 14.8134 17.1795 14.9978 16.995C15.1823 16.8106 15.2865 16.5608 15.2878 16.3C15.2891 16.0392 15.1874 15.7884 15.0049 15.6021L11.1049 11.7021L15.0049 7.80207C15.1874 7.61578 15.2891 7.36497 15.2878 7.10414C15.2865 6.84331 15.1823 6.59354 14.9978 6.4091C14.8134 6.22467 14.5636 6.12047 14.3028 6.11915C14.042 6.11784 13.7911 6.21951 13.6049 6.40207L9.01185 10.9951Z" fill="#0B1125"/>
      </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from './SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
