<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2964 14.6937C11.484 14.8811 11.7383 14.9864 12.0034 14.9864C12.2686 14.9864 12.5229 14.8811 12.7104 14.6937L17.3034 10.1007C17.486 9.91436 17.5877 9.66355 17.5863 9.40272C17.585 9.1419 17.4808 8.89213 17.2964 8.70769C17.112 8.52325 16.8622 8.41906 16.6014 8.41774C16.3405 8.41642 16.0897 8.51809 15.9034 8.70065L12.0034 12.6007L8.10342 8.70065C7.91713 8.51809 7.66632 8.41642 7.40549 8.41774C7.14467 8.41905 6.89489 8.52325 6.71046 8.70769C6.52602 8.89212 6.42182 9.1419 6.42051 9.40272C6.41919 9.66355 6.52086 9.91436 6.70342 10.1007L11.2964 14.6937Z" fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import Vue from 'vue';
    import SvgIcon from '../icons/SvgIcon.vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>
