<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M14.995 10.9951C15.1825 11.1826 15.2878 11.4369 15.2878 11.7021C15.2878 11.9672 15.1825 12.2215 14.995 12.4091L10.402 17.0021C10.2157 17.1846 9.9649 17.2863 9.70407 17.285C9.44324 17.2837 9.19347 17.1795 9.00903 16.995C8.8246 16.8106 8.7204 16.5608 8.71908 16.3C8.71777 16.0392 8.81944 15.7884 9.002 15.6021L12.902 11.7021L9.002 7.80207C8.81944 7.61578 8.71777 7.36497 8.71908 7.10414C8.7204 6.84331 8.8246 6.59354 9.00903 6.4091C9.19347 6.22467 9.44324 6.12047 9.70407 6.11915C9.9649 6.11784 10.2157 6.21951 10.402 6.40207L14.995 10.9951Z"
                  fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from './SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
