<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M18 6L6 18" stroke="#1F2539" stroke-width="2" stroke-linecap="round"/>
            <path d="M18 18L6 6" stroke="#1F2539" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../icons/SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>
