<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7H20C20.5523 7 21 7.44772 21 8C21 8.55228 20.5523 9 20 9H18.6905L17.2266 18.4588C17.0003 19.9211 15.7416 21 14.2619 21H9.7381C8.2584 21 6.9997 19.9211 6.77339 18.4588L5.30952 9H4C3.44772 9 3 8.55228 3 8C3 7.44772 3.44772 7 4 7H8ZM12 5C13.1046 5 14 5.89543 14 7H10C10 5.89543 10.8954 5 12 5ZM7.33333 9L8.74986 18.1529C8.8253 18.6404 9.24486 19 9.7381 19H14.2619C14.7551 19 15.1747 18.6404 15.2501 18.1529L16.6667 9H7.33333Z" fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from './SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
