<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M18.8284 6.82843L16.1716 4.17157C15.4214 3.42143 14.404 3 13.3431 3H8C5.79086 3 4 4.79086 4 7V17C4 19.2091 5.79086 21 8 21H16C18.2091 21 20 19.2091 20 17V9.65685C20 8.59599 19.5786 7.57857 18.8284 6.82843ZM18 17C18 18.1046 17.1046 19 16 19H8C6.89543 19 6 18.1046 6 17V7C6 5.89543 6.89543 5 8 5H12V8C12 9.65686 13.3431 11 15 11H18V17ZM17.8891 9H15C14.4477 9 14 8.55228 14 8V5.11094C14.2824 5.20914 14.5419 5.37035 14.7574 5.58579L17.4142 8.24264C17.6296 8.45808 17.7909 8.7176 17.8891 9Z"
                  fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from './SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
