<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2427 1.75725C9.85216 1.36672 9.21899 1.36672 8.82847 1.75725L5.99993 4.58578L3.17146 1.75732C2.78094 1.36679 2.14777 1.36679 1.75725 1.75732C1.36673 2.14784 1.36673 2.78101 1.75725 3.17153L4.58572 6L1.7574 8.82831C1.36688 9.21884 1.36688 9.852 1.7574 10.2425C2.14792 10.6331 2.78109 10.6331 3.17161 10.2425L5.99993 7.41421L8.82832 10.2426C9.21884 10.6331 9.85201 10.6331 10.2425 10.2426C10.6331 9.85207 10.6331 9.21891 10.2425 8.82839L7.41414 6L10.2427 3.17146C10.6332 2.78094 10.6332 2.14777 10.2427 1.75725Z" fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import Vue from 'vue';
    import SvgIcon from '../icons/SvgIcon.vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>
