<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect x="3" y="6" width="18" height="2" rx="1" fill="#0B1125"/>
            <rect x="5" y="11" width="14" height="2" rx="1" fill="#0B1125"/>
            <rect x="8" y="16" width="8" height="2" rx="1" fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import Vue from 'vue';
    import SvgIcon from '../icons/SvgIcon.vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>
