<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6788 5.53284C13.8295 5.18106 12.9193 5 12 5V3C13.1819 3 14.3522 3.23279 15.4442 3.68508C16.5361 4.13738 17.5282 4.80031 18.364 5.63604C19.1997 6.47177 19.8626 7.46392 20.3149 8.55585C20.7672 9.64778 21 10.8181 21 12H19C19 11.0807 18.8189 10.1705 18.4672 9.32122C18.1154 8.47194 17.5998 7.70026 16.9497 7.05025C16.2997 6.40024 15.5281 5.88463 14.6788 5.53284Z" fill="white"/>
            <path d="M11 4C11 3.44772 11.4477 3 12 3V5C11.4477 5 11 4.55228 11 4Z" fill="white"/>
            <path d="M20 13C19.4477 13 19 12.5523 19 12H21C21 12.5523 20.5523 13 20 13Z" fill="white"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../icons/SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
    extends: SvgIcon,
    components: {
        SvgIcon,
    },
});
</script>

<style scoped>

</style>
