<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
                d="M11.0975 2.89136C11.4597 2.13224 12.5403 2.13224 12.9025 2.89136L15.2225 7.75314C15.3682 8.05865 15.6587 8.26967 15.9943 8.31391L21.335 9.01791C22.1689 9.12784 22.5028 10.1555 21.8928 10.7346L17.9859 14.4434C17.7403 14.6764 17.6294 15.0178 17.691 15.3507L18.6719 20.6476C18.825 21.4746 17.9508 22.1098 17.2116 21.7085L12.477 19.1389C12.1795 18.9774 11.8205 18.9774 11.523 19.1389L6.78846 21.7085C6.0492 22.1098 5.17501 21.4746 5.32815 20.6476L6.30898 15.3507C6.37061 15.0178 6.25967 14.6764 6.01417 14.4434L2.10724 10.7346C1.49721 10.1555 1.83112 9.12784 2.66502 9.01791L8.00574 8.31391C8.34135 8.26967 8.63179 8.05865 8.77757 7.75314L11.0975 2.89136Z"
                fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../icons/SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
