<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M6.7071 10.5C6.31658 10.8905 5.68341 10.8905 5.29289 10.5C4.90237 10.1094 4.90237 9.47628 5.29289 9.08576L10.9393 3.43934C11.5251 2.85355 12.4749 2.85355 13.0607 3.43934L18.7071 9.08576C19.0976 9.47628 19.0976 10.1094 18.7071 10.5C18.3166 10.8905 17.6834 10.8905 17.2929 10.5L13 6.20711V16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16L11 6.2071L6.7071 10.5ZM5 19C4.44772 19 4 19.4477 4 20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20C20 19.4477 19.5523 19 19 19H5Z"
                  fill="#0B1125"/>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import Vue from 'vue';
    import SvgIcon from './SvgIcon.vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
