@mixin dropdown {
  box-shadow: $elevation;
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $borderColor;
  display: block;
  box-sizing: border-box;
  position: absolute;
  //1 - border
  top: calc(100% + 8px + 1px);
  left: 0;
  z-index: 1000;
  padding: 3px 0;
  margin: 0;
  width: 100%;
  overflow-y: auto;
  text-align: left;
  list-style: none;
  max-height: 340px;
}

@mixin dropdownOption {
  .input__option__text {
    display: flex;
    @include classicInput;
    padding: 8px 12px;
    color: $gray100;

    &.small {
      @include smallInput;
      padding-right: 10px;
    }

    .input__option {
      width: 100%;
      align-items: center;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }


  &--highlight {
    .input__option__text {
      background-color: $gray10;
      color: $gray300;
    }
  }

  &--selected {
    .input__option__text {
      color: $gray1000;
    }
  }
}
