$textColor: $gray1000;
$textColorDisabled: $gray40;
$textColorNoResult: $gray60;
$textColorPrepend: $gray60;
$textColorError: $red300;

$backgroundColorDisabled: $gray30;
$backgroundColorFocus: $gray60;
$backgroundColorHover: $gray50;
$backgroundColorError: $red300;

$inputPadding: 10px 12px;
$inputMaxHeight: 40px;

$inputLargePadding: 20px 18px;
$inputLargeMaxHeight: 58px;

$inputSmallPadding: 8px 12px;
$inputSmallMaxHeight: 32px;

@mixin classicInput {
  max-height: $inputMaxHeight;
  padding: $inputPadding;
  @include headline;
}

@mixin smallInput {
  max-height: $inputSmallMaxHeight;
  padding: $inputSmallPadding;
  @include text;
}

@mixin largeInput {
  max-height: $inputLargeMaxHeight;
  padding: $inputLargePadding;
  @include headline;
}

@mixin inputBoxMixin {
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  background: $white;
}

@mixin inputMixin {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  color: $textColor;

  &::-webkit-input-placeholder {
    color: $placeholderColor;
  }

  &:-ms-input-placeholder {
    color: $placeholderColor;
  }

  &::placeholder {
    color: $placeholderColor;
  }
}
