$tagPadding: 8px 12px;
$tagPaddingSmall: 4px 8px;

@mixin tag {
  border: 1px solid;
  border-color: var(--input-color);
  border-radius: 4px;
  padding: $tagPadding;
  font-size: $textSize-mobile;
  line-height: $textLine-mobile;
  max-height: $inputSmallMaxHeight;
  color: $gray700;
  margin-right: 4px;
}

