<template>
    <InputTemplate
        ref="inputTemplate"
        :placeholder="placeholder"
        :small="small"
        :inputColor="inputColor"
        :large="large"
        :value="inputValue"
        :withPrependContent="showPrependContent"
    >
        <div class="input__content"
             @click="focusElement"
             @mouseenter="onMouseEnter"
             @mouseleave="onMouseLeave">
            <div class="input__prepend">
                <SearchOutlineIcon/>
            </div>
            <input type="text"
                   ref="input"
                   v-bind="{...$props, ...$attrs}"
                   v-model="text"
                   @focus="onFocus"
                   @blur="onBlur"
            />
            <div class="cross" @click="clear">
                <SvgIcon name="cancelTopbar_24"/>
            </div>
        </div>
    </InputTemplate>
</template>

<script lang="ts">
    import mixins from 'vue-typed-mixins';
    import inputMixin from '../mixins/inputMixin';
    import InputTemplate from '../inputTemplate/InputTemplate.vue';
    import SearchOutlineIcon from '../../../components/icons/formIcons/SearchOutlineIcon.vue';
    import {SvgIcon} from 'mlh-ui-icons';
    import _ from 'lodash';
    import {Url, UrlGetParams} from '../../../utils/Url';

    export const DEBOUNCED_DELAY = 500;

    export default mixins(InputTemplate, inputMixin).extend({
        components: {
            SvgIcon,
            SearchOutlineIcon,
            InputTemplate,
        },
        props: {
            placeholder: {
                type: String,
                default: ' ',
            },
            modifiesUrl: {
                type: Boolean,
                default: false,
            },
            urlParamName: {
                type: String,
                default: 'search',
            },
            loadRequest: {
                type: Function,
                required: true,
            },
        },
        data() {
            return {
                debouncedLoadRequest: null as any,
            };
        },
        computed: {
            text: {
                get(): string {
                    return this.value;
                },
                set(value: string) {
                    this.$emit('input', value);
                    this.debouncedLoadRequest(value);
                },
            },
        },
        methods: {
            emitLoadRequest(value: string): void {
                if (this.modifiesUrl) {
                    this.setSearchToUrl(value);
                }
                this.loadRequest && this.loadRequest(value);
            },
            onInput(value: any) {
                this.$emit('input', value);
            },
            clear(): void {
                this.text = '';
            },
            setSearchToUrl(value: string): void {
                let params = {} as UrlGetParams;
                if (value.length > 0) {
                    params.search = value;
                    Url.addGetParams(params);
                } else {
                    Url.removeGetParam('search');
                }
            },
            setSearchFromUrl(): void {
                let search = Url.getSingleGetParam(this.urlParamName);
                if (search) {
                    this.$emit('input', search);
                }
            },
        },
        created(): void {
            this.debouncedLoadRequest = _.debounce(this.emitLoadRequest, DEBOUNCED_DELAY);

            if (this.modifiesUrl) {
                this.setSearchFromUrl();
            }
        },
    });
</script>

<style scoped lang="scss">
    @import "searchComponent";
</style>
