@import "../../../assets/scss/main";

$inputMaxHeight: 48px;
$inputPadding: 12px;

$inputLargePadding: 24px 40px;
$inputLargeMaxHeight: 72px;

@mixin classicInput {
  max-height: $inputMaxHeight;
  height: $inputMaxHeight;
  padding: $inputPadding;
  @include headline;
}

@mixin largeInput {
  max-height: $inputLargeMaxHeight;
  height: $inputLargeMaxHeight;
  padding: $inputLargePadding;
  @include titleFour;
}

.input {
  &__content {
    @include classicInput;
    @include small-block {
      max-height: 40px;
      height: 40px;
      padding: 8px 12px
    }

    input {
      &:not(:placeholder-shown) {
        & + .cross {
          display: flex;
        }
      }
    }
  }

  &__prepend {
    margin-right: 8px;
  }

  &__wrapper {
    &.large {
      &::v-deep {
        .input {
          &__content {
            @include largeInput;
            border: none;
            border-radius: 0;

            input {
              padding: 0;
            }
          }

          &__prepend {
            margin-right: 16px;
          }
        }
      }
    }

    &__focused {
      .cross {
        display: flex;
      }
    }
  }
}

.cross {
  display: none;
  cursor: pointer;
}

