<template>
    <div class="loaderAnimation">
        <JsonAnimation :animationData="animationData" loop/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import JsonAnimation from '../../../components/utils/lottie/JsonAnimation.vue';
    // @ts-ignore
    import * as animationData from './loader.json';

    export default Vue.extend({
        components: {JsonAnimation},
        props: {},
        data() {
            return {
                // @ts-ignore
                animationData: animationData.default,
            };
        },
        computed: {},
        watch: {},
        methods: {},
    });
</script>

<style scoped lang="scss">
    @import "paginationLoader";
</style>
