@import "../../assets/scss/main";

$arrowMargin: 12px;
$distanceFromActivator: 8px;
$arrowWidth: 6px;
$arrowHeight: 12px;
$rotatedArrowMargin: $arrowWidth*0.5;

@mixin fixedPopup {
  z-index: 4;
  &.bottom {
    transform: translate(-50%, calc(#{$distanceFromActivator}));

    .fixedPopup__arrow {
      bottom: calc(100% - #{$rotatedArrowMargin});
      left: calc(50% - #{$rotatedArrowMargin});
      transform: rotateZ(90deg);
      margin-bottom: -1px;
    }
  }

  &.bottomLeft {
    transform: translate(0, $distanceFromActivator);

    .fixedPopup__arrow {
      bottom: calc(100% - #{$rotatedArrowMargin});
      left: calc(#{$arrowMargin} + #{$rotatedArrowMargin});
      transform: rotateZ(90deg);
      margin-bottom: -1px;
    }
  }

  &.bottomRight {
    transform: translate(-100%, #{$distanceFromActivator});

    .fixedPopup__arrow {
      bottom: calc(100% - #{$rotatedArrowMargin});
      right: calc(#{$arrowMargin} + #{$rotatedArrowMargin});
      transform: rotateZ(90deg);
      margin-bottom: -1px;
    }
  }

  &.top {
    transform: translate(-50%, calc(-100% - #{$distanceFromActivator}));

    .fixedPopup__arrow {
      top: calc(100% - #{$rotatedArrowMargin});
      left: calc(50% - #{$rotatedArrowMargin});
      transform: rotateZ(270deg);
      margin-top: -1px;
    }
  }

  &.topLeft {
    transform: translate(0, calc(-100% - #{$distanceFromActivator}));

    .fixedPopup__arrow {
      top: calc(100% - #{$rotatedArrowMargin});
      left: calc(#{$arrowMargin} + #{$rotatedArrowMargin});
      transform: rotateZ(270deg);
      margin-top: -1px;
    }
  }

  &.topRight {
    transform: translate(-100%, calc(-100% - #{$distanceFromActivator}));

    .fixedPopup__arrow {
      top: calc(100% - #{$rotatedArrowMargin});
      right: calc(#{$arrowMargin} + #{$rotatedArrowMargin});
      transform: rotateZ(270deg);
      margin-top: -1px;
    }
  }

  &.left {
    transform: translate(calc(-100% - #{$distanceFromActivator}), -50%);

    .fixedPopup__arrow {
      left: 100%;
      top: calc(50% - #{$arrowHeight} / 2);
      transform: rotateZ(180deg);
      margin-left: -1px;
    }
  }

  &.leftTop {
    transform: translate(calc(-100% - #{$distanceFromActivator}));

    .fixedPopup__arrow {
      left: 100%;
      top: $arrowMargin;
      transform: rotateZ(180deg);
      margin-left: -1px;
    }
  }

  &.leftBottom {
    transform: translate(calc(-100% - #{$distanceFromActivator} - #{$arrowWidth}), -100%);

    .fixedPopup__arrow {
      left: 100%;
      bottom: $arrowMargin;
      transform: rotateZ(180deg);
      margin-left: -1px;
    }
  }

  &.right {
    transform: translate(#{$distanceFromActivator}, -50%);

    .fixedPopup__arrow {
      right: 100%;
      top: calc(50% - #{$arrowHeight} / 2);
      transform: none;
      margin-right: -1px;
    }
  }

  &.rightTop {
    transform: translate($distanceFromActivator, 0);

    .fixedPopup__arrow {
      right: 100%;
      top: $arrowMargin;
      transform: none;
      margin-right: -1px;
    }
  }

  &.rightBottom {
    transform: translate(calc(#{$distanceFromActivator} + #{$arrowWidth}), -100%);

    .fixedPopup__arrow {
      right: 100%;
      bottom: $arrowMargin;
      transform: none;
      margin-right: -1px;
    }
  }
}

.fixedPopup {
  &__arrow {
    position: absolute;
    z-index: 1;
  }
}

@mixin absolutePopup {
  position: absolute;

  &.bottom {
    top: calc(100% + #{$distanceFromActivator});
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.bottomLeft {
    top: calc(100% + #{$distanceFromActivator});
    left: 0;
    transform: none;
  }

  &.bottomRight {
    top: calc(100% + #{$distanceFromActivator});
    right: 0;
    transform: none;
  }

  &.top {
    bottom: calc(100% + #{$distanceFromActivator});
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.topLeft {
    bottom: calc(100% + #{$distanceFromActivator});
    left: 0;
    transform: none;
  }

  &.topRight {
    bottom: calc(100% + #{$distanceFromActivator});
    right: 0;
    transform: none;
  }

  &.left {
    bottom: 50%;
    right: calc(100% + #{$distanceFromActivator});
    transform: translate(0, 50%);
  }

  &.leftTop {
    top: 0;
    right: calc(100% + #{$distanceFromActivator});
    transform: none;
  }

  &.leftBottom {
    bottom: 0;
    right: calc(100% + #{$distanceFromActivator});
    transform: none;
  }

  &.right {
    bottom: 50%;
    left: calc(100% + #{$distanceFromActivator});
    transform: translate(0, 50%);
  }

  &.rightTop {
    top: 0;
    left: calc(100% + #{$distanceFromActivator});
    transform: none;
  }

  &.rightBottom {
    bottom: 0;
    left: calc(100% + #{$distanceFromActivator});
    transform: none;
  }
}
