<template>
    <SvgIcon v-bind="$props">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
            <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M4.2325 9.8033L1.04793 6.61873C0.657403 6.2282 0.657403 5.59504 1.04793 5.20451C1.43845 4.81399 2.07162 4.81399 2.46214 5.20451L4.9396 7.68198L9.88935 2.73223C10.2799 2.34171 10.913 2.34171 11.3036 2.73223C11.6941 3.12276 11.6941 3.75592 11.3036 4.14644L5.64671 9.8033C5.28059 10.1694 4.70122 10.1923 4.30845 9.87195C4.28226 9.85059 4.25691 9.82771 4.2325 9.8033Z"
                      fill="#0B1125"/>
            </g>
            <defs>
                <clipPath>
                    <rect width="12" height="12" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </SvgIcon>
</template>

<script lang="ts">
    import SvgIcon from '../SvgIcon.vue';
    import Vue from 'vue';

    export default Vue.extend({
        extends: SvgIcon,
        components: {
            SvgIcon,
        },
    });
</script>

<style scoped>

</style>
