<template>
    <div :class="[classes]" v-if="visible">
        <div class="alert__icon">
            <AlertErrorIcon noHover :iconColor="themeVariables.red300" v-if="type === ALERT_TYPES.ERROR"/>
            <AlertInfoIcon noHover :iconColor="themeVariables.blue300" v-if="type === ALERT_TYPES.INFO"/>
            <AlertWarningIcon noHover :iconColor="themeVariables.yellow300" v-if="type === ALERT_TYPES.WARNING"/>
            <AlertSuccessIcon noHover :iconColor="themeVariables.green300" v-if="type === ALERT_TYPES.SUCCESS"/>
            <AlertTipIcon noHover :iconColor="themeVariables.gray300" v-if="type === ALERT_TYPES.TIP"/>
        </div>
        <div class="alert">
            <div class="alert__title" v-if="!!$slots.title">
                <slot name="title"></slot>
            </div>
            <div class="alert__content">
                <slot></slot>
            </div>
            <div class="alert__actions" v-if="!!$slots.actions">
                <slot name="actions"></slot>
            </div>
        </div>
        <div class="alert__cross" v-if="closable" @click="close">
            <CrossIcon/>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import CrossIcon from '../../components/icons/CrossIcon.vue';
    import {ALERT_FIXED_CLASS, ALERT_TYPES, ALERT_WRAPPER_CLASS} from './contants';
    import _ from 'lodash';
    import AlertErrorIcon from '../../components/icons/alerts/AlertErrorIcon.vue';
    import AlertInfoIcon from '../../components/icons/alerts/AlertInfoIcon.vue';
    import AlertWarningIcon from '../../components/icons/alerts/AlertWarningIcon.vue';
    import AlertSuccessIcon from '../../components/icons/alerts/AlertSuccessIcon.vue';
    import AlertTipIcon from '../../components/icons/alerts/AlertTipIcon.vue';
    // @ts-ignore
    import themeVariables from '../../assets/scss/colors.module.scss';

    export default Vue.extend({
        components: {
            AlertTipIcon,
            AlertSuccessIcon,
            AlertWarningIcon,
            AlertInfoIcon,
            AlertErrorIcon,
            CrossIcon,
        },
        props: {
            type: {
                type: String,
                default: ALERT_TYPES.INFO,
                validator(value: string): boolean {
                    return _.includes(ALERT_TYPES, value);
                },
            },
            fixed: {
                type: Boolean,
                default: false,
            },
            closable: {
                type: Boolean,
                default: false,
            },
            value: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {
                themeVariables: themeVariables,
                ALERT_TYPES: ALERT_TYPES,
            };
        },
        computed: {
            visible: {
                get(): boolean {
                    return this.value;
                },
                set(value: boolean): void {
                    this.$emit('input', value);
                },
            },
            classes(): any {
                return {
                    [ALERT_WRAPPER_CLASS]: true,
                    [this.type]: true,
                    [ALERT_FIXED_CLASS]: this.fixed,
                };
            },
        },
        watch: {},
        methods: {
            close(): void {
                this.visible = false;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "alertComponent";
</style>
