@import "../../assets/scss/main.scss";

.alert {
  display: flex;
  flex-direction: column;
  margin: 0 16px;

  &__wrapper {
    border-radius: $borderRadius;
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 16px;

    &.error {
      background: $red20 !important;
    }

    &.info {
      background: $blue20 !important;
    }

    &.warning {
      background: $yellow20 !important;
    }

    &.success {
      background: $green20 !important;
    }

    &.tip {
      background: $gray20 !important;
    }

    &.alert__fixed {
      border-radius: 0;
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__content {
    display: flex;
    flex-grow: 1;
    word-break: break-word;
    @include textTwo;
    font-weight: $regular;
    color: $gray700;
  }

  &__title {
    margin-bottom: 6px;
    @include textTwo;
    font-weight: $bold;
    color: $gray1000;
  }

  &__actions {
    display: flex;
    margin-top: 12px;

    .buttonComponent__wrapper {
      &:first-child {
        margin-right: 4px;
      }
    }
  }

  &__cross {
    cursor: pointer;
  }
}
