<template>
    <div class="loader" v-show="!loaderDisable">
        <slot>
            <PaginationLoader/>
        </slot>
    </div>
</template>

<script lang="ts">
    import 'intersection-observer';
    import Vue from 'vue';
    import PaginationLoader from '../../components/loader/paginationLoader/PaginationLoader.vue';

    export default Vue.extend({
        name: 'ScrollLoader',
        components: {PaginationLoader},
        props: {
            loaderMethod: {
                type: Function,
                required: true,
            },
            loaderDisable: {
                type: Boolean,
                default: false,
            },
            loaderDistance: {
                type: Number,
                default: 0,
            },
            loaderColor: {
                type: String,
                default: '#CCCCCC',
            },
            loaderSize: {
                type: Number,
                default: 50,
            },
            loaderViewport: {
                type: Element,
                default: null,
            },
        },
        computed: {
            size(): any {
                return {
                    width: `${this.loaderSize}px`,
                };
            },
            color(): any {
                return {
                    stroke: this.loaderColor,
                };
            },
            options(): any {
                return {
                    root: this.loaderViewport,
                    rootMargin: `0px 0px ${this.loaderDistance}px 0px`,
                };
            },
            observer(): any {
                return new IntersectionObserver(([{isIntersecting}]) => {
                    isIntersecting && !this.loaderDisable && this.loaderMethod();
                }, this.options);
            },
        },
        mounted() {
            this.observer.observe(this.$el);
        },
        activated() {
            this.observer.observe(this.$el);
        },
        deactivated() {
            this.observer.unobserve(this.$el);
        },
        beforeDestroy() {
            this.observer.unobserve(this.$el);
        },
    });
</script>

<style lang="scss" scoped>
</style>
