<template>
    <div class="uploadButton__wrapper">
        <ButtonComponent v-bind="{...$props, ...$attrs}">
            <template slot="prepend-icon">
                <UploadIcon/>
            </template>
            <template>
                <slot>
                </slot>
                <input ref="input"
                       class="uploadInput"
                       type="file"
                       @change="uploaded"
                       @click="refreshInput"
                       v-bind="{...$props, ...$attrs}"/>
            </template>
        </ButtonComponent>
    </div>
</template>

<script lang="ts">
    import ButtonComponent from '../../components/buttonComponent/ButtonComponent.vue';
    import UploadIcon from '../../components/icons/UploadIcon.vue';
    import mixins from 'vue-typed-mixins';

    export default mixins(ButtonComponent).extend({
        components: {
            UploadIcon,
            ButtonComponent,
        },
        props: {
            multiple: Boolean,
            accept: String,
        },
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {
            uploaded(event: any): void {
                this.$emit('uploaded', event.target.files);
            },
            refreshInput(): void {
                // @ts-ignore
                this.$refs.input.value = '';
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "uploadButton";
</style>
