.uploadButton{
  &__wrapper{
    display: inline-flex;
    position: relative;
    overflow: hidden;
    &::v-deep{
      .uploadInput {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
}
