@import "../../assets/scss/main";

[v-cloak] {
  display: none;
}

.uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $gray10;
  border: 1px dashed $gray30;
  border-radius: $borderRadius;
  padding: 46px 24px;
  transition: 0.2s;
  width: 100%;
  position: relative;

  &:hover {
    border-color: $gray50;
    transition: 0.2s;
  }

  &__wrapper {

  }

  &__input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__text {
    position: relative;
    overflow: hidden;
    @include textTwo;
    color: $gray700;
    text-align: center;

    span {
      cursor: pointer;
      color: $blue300;
    }
  }

  &__mimetypes {
    @include textTwo;
    color: $gray100;

    @include small-block {
      word-break: break-word;
    }
  }

  &__icon {
    margin-bottom: 16px;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background: $gray10;
    border: 1px solid $gray20;
    transition: 0.2s;
    border-radius: $borderRadius;
    width: 100%;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &:hover {
      box-shadow: $elevation;
      transition: 0.2s;
    }

    &__text {
      @include headline;
      color: $gray1000;
      margin: 0 6px;
    }

    &__remove {
      cursor: pointer;
      margin-left: auto;
    }
  }

  &.withError {
    border-color: $red400;
  }
}
