<template>
    <div class="uploader__wrapper" @dragover="dragover">
        <div :class="['uploader', {withError: hasError}]" @dragover="dragover" @dragleave="dragleave" @drop="drop">
            <input
                type="file"
                :multiple="multiple"
                class="uploader__input"
                @change="onChange"
                ref="file"
                :accept="accept"/>
            <div class="uploader__content">
                <div class="uploader__icon">
                    <AddFileIcon/>
                </div>
                <div class="uploader__text">
                    {{ texts.title }}<br/>
                    {{ texts.divider }}
                    <span>
                    {{ texts.button }}
                    </span>
                </div>
                <div class="uploader__mimetypes" v-if="accept.length > 0">
                    {{ fileFormatText }}
                </div>
            </div>
        </div>
        <div class="input__bottomLine input__error" v-if="hasError">
            <ErrorIcon noHover :iconColor="themeVariables.red300"/>
            {{ errorMessage }}
        </div>
        <ul class="uploader__list" v-if="this.fileList.length" v-cloak>
            <li class="uploader__item" v-for="(file,index) in fileList" :key="index">
                <div class="uploader__item__icon">
                    <DocumentIcon/>
                </div>
                <div class="uploader__item__text">
                    {{ file.name }}
                </div>
                <div class="uploader__item__remove" @click="remove(fileList.indexOf(file))">
                    <DeleteIcon/>
                </div>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import AddFileIcon from '../../components/icons/32/AddFileIcon.vue';
    import DocumentIcon from '../../components/icons/DocumentIcon.vue';
    import DeleteIcon from '../../components/icons/DeleteIcon.vue';
    import _ from 'lodash';
    import {DEFAULT_TEXTS, DEFAULT_UPLOAD_FILE_SIZE, DefaultTexts, File, MIME_REGEX} from './constants';
    import ErrorIcon from '../../components/icons/formIcons/ErrorIcon.vue';
    // @ts-ignore
    import themeVariables from '../../assets/scss/colors.module.scss';

    export default Vue.extend({
        delimiters: ['${', '}'],
        components: {ErrorIcon, DeleteIcon, DocumentIcon, AddFileIcon},
        props: {
            multiple: {
                type: Boolean,
                default: false,
            },
            accept: {
                type: Array as () => string[],
                default: () => [],
                validator(value: string[]): boolean {
                    return value.every((mime) => MIME_REGEX.test(mime));
                },
            },
            maxSize: {
                type: Number,
                default: DEFAULT_UPLOAD_FILE_SIZE,
            },
            texts: {
                type: Object as () => DefaultTexts,
                default() {
                    return DEFAULT_TEXTS;
                },
                validator(value: DefaultTexts): boolean {
                    return !!value.title && !!value.divider && !!value.button;
                },
            },
            value: {
                type: Array as () => File[],
                default() {
                    return [] as File[];
                },
            },
            sizeErrorMessage: {
                type: String,
                required: true,
            },
            typeErrorMessage: {
                type: String,
                required: true,
            },
        },
        data() {
            return {
                DEFAULT_TEXTS: DEFAULT_TEXTS,
                hasSizeError: false,
                hasTypeError: false,
                themeVariables: themeVariables,
            };
        },
        computed: {
            hasError(): boolean {
                return this.hasSizeError || this.hasTypeError;
            },
            errorMessages(): any {
                return {
                    size: `${this.sizeErrorMessage} ${this.byteToMb(this.maxSize)} MB`,
                    type: this.typeErrorMessage,
                };
            },
            errorMessage(): string {
                if (this.hasSizeError) {
                    return this.errorMessages.size;
                }
                if (this.hasTypeError) {
                    return this.errorMessages.type;
                }
                return '';
            },
            fileList: {
                get(): File[] {
                    return this.value;
                },
                set(uploadedFiles: File[]): void {
                    this.$emit('input', uploadedFiles);
                },
            },
            fileFormatText(): string {
                let formattedArray = _.map(this.accept, (mime: string): any => {
                    return mime.substring(mime.indexOf('/') + 1);
                });

                return `(${formattedArray.toString().replace(/,/g, ' / ')})`;
            },
        },
        methods: {
            onChange(): void {
                // @ts-ignore
                let uploadedFiles = [...this.$refs.file.files];
                this.clearErrors();

                uploadedFiles = _.filter(uploadedFiles, (file: File) => {
                    if (this.accept.length > 0 && !_.includes(this.accept, file.type)) {
                        this.hasTypeError = true;
                    }
                    if (file.size > this.maxSize) {
                        this.hasSizeError = true;
                    }
                    return !this.hasTypeError && !this.hasSizeError;
                });

                // @ts-ignore
                if (uploadedFiles.length === [...this.$refs.file.files].length) {
                    this.fileList = uploadedFiles;
                } else {
                    this.fileList = [];
                }
            },
            clearErrors(): void {
                this.hasTypeError = false;
                this.hasSizeError = false;
            },
            remove(fileIndex: number): void {
                let fileList = _.clone(this.fileList);
                fileList.splice(fileIndex, 1);

                this.$set(this, 'fileList', fileList);
            },
            dragover(): void {
                // add classes if need
            },
            dragleave(): void {
                // add classes if need
            },
            drop(event: any): void {
                event.preventDefault();
                // @ts-ignore
                this.$refs.file.files = event.dataTransfer.files;
                this.onChange();
            },
            byteToMb(size: number): number {
                return +(size / 1000000).toFixed(2);
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "uploadDropzone";
    @import "../forms/inputTemplate/inputBottomLine/inputBottomLine";
</style>
