@import "../../../assets/scss/main";
@import "../assets/dropdown";
@import "../assets/input";

.input {
  &__upperElements {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    position: relative;
    max-width: 100%;
    width: 100%;
    @include inputBoxMixin;
    @include classicInput;

    input {
      @include inputMixin;
    }
  }

  &__wrapper {
    &.large {
      &::v-deep {
        .input {
          &__content {
            @include largeInput;

            input {
              padding-left: 16px;
            }
          }

          &__error, &__hint {
            margin-top: 12px;
          }
        }
      }

      &.input__wrapper__withPrepend {
        &::v-deep {
          .input {
            &__inner {
              position: static;

              &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                height: 100%;
                background-color: $borderColor;
                width: 1px;
              }
            }

            &__prepend {
              margin-right: 18px;
            }
          }
        }
      }
    }

    &.small {
      &::v-deep {
        .input {
          &__content {
            @include smallInput;
          }
        }

        &.input__wrapper__withPrepend {
          .input {
            &__content {
              padding: 8px;
            }
          }
        }
      }
    }

    &__withPrepend {
      .input {
        &__content {
          input {
            padding-left: 6px;
          }
        }

        &__prepend {
          display: flex;
          color: $textColorPrepend;

          &::v-deep {
            svg {
              * {
                &[stroke] {
                  stroke: $textColorPrepend !important;
                }

                &[fill] {
                  fill: $textColorPrepend !important;
                }
              }
            }
          }
        }
      }
    }

    &__withError {
      &::v-deep {
        .input {
          &__content {
            border-color: $textColorError;
          }

          &__inner {
            &:before {
              background-color: $backgroundColorError !important;
            }
          }
        }
      }
    }

    &__disabled {
      pointer-events: none;

      &::v-deep {
        .input {
          &__content {
            border-color: $borderColorDisabled !important;

            input, textarea {
              background: inherit;
              color: $textColorDisabled;

              &::-webkit-input-placeholder {
                color: $placeholderColorDisabled;
              }

              &:-ms-input-placeholder {
                color: $placeholderColorDisabled;
              }

              &::placeholder {
                color: $placeholderColorDisabled;
              }
            }
          }

          &__password {
            svg {
              * {
                &[stroke] {
                  stroke: $textColorDisabled !important;
                }

                &[fill] {
                  fill: $textColorDisabled !important;
                }
              }
            }
          }

          &__inner {
            &:before {
              background-color: $backgroundColorDisabled;
            }
          }
        }
      }

      &.input__wrapper__withPrepend {
        .input {
          &__prepend {
            color: $textColorDisabled;

            &::v-deep {
              svg {
                * {
                  &[stroke] {
                    stroke: $textColorDisabled !important;
                  }

                  &[fill] {
                    fill: $textColorDisabled !important;
                  }
                }
              }
            }
          }
        }
      }
    }

    &__focused {
      &:not(.input__wrapper__withError) {
        &::v-deep {
          .input {
            &__content {
              border-color: $borderColorFocus;
            }

            &__inner {
              &:before {
                background-color: $backgroundColorFocus !important;
              }
            }
          }
        }
      }
    }

    &__hovered {
      &:not(.input__wrapper__focused) {
        &:not(.input__wrapper__withError) {
          &::v-deep {
            .input {
              &__content {
                border-color: $borderColorHover;
              }

              &__inner {
                &:before {
                  background-color: $backgroundColorHover;
                }
              }
            }
          }
        }
      }
    }

    &.readonly {
      pointer-events: none;
    }
  }

  &__option {
    display: flex;
    width: 100%;
    align-items: center;

    &__text {
      display: flex;
      width: 100%;
    }

    &__icon {
      display: flex;
    }
  }

  &__noResult {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    @include headline;
    @include classicInput;
    padding: $inputSmallPadding;
    color: $textColorNoResult;
  }

  &__password {
    cursor: pointer;
  }

  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
