<template>
    <div class="colorPicker__wrapper" v-click-outside="closePicker">
        <LabelComponent
            v-if="label"
            :label="label"
            :labelWithoutColon="labelWithoutColon"/>
        <div class="colorPicker__activator" :style="activatorColor" @click="showPicker"></div>
        <div class="colorPicker">
            <ColorPicker
                :gradient="gradient"
                :isGradient="true"
                v-if="pickerIsVisible"
                :onChange="onChange"
                :onStartChange="onChange"
                :onEndChange="onChange"
            />
        </div>
    </div>
</template>

<script lang="ts">
    import {DEFAULT_GRADIENT} from './constants';
    import {Gradient} from '../../../../components/utils/colors/types/Gradient';
    import colorPickerMixin from '../../../../components/pickers/color/mixins/colorPickerMixin';
    import mixins from 'vue-typed-mixins';
    import GradientParser from '../../../../utils/colors/GradientParser';
    import LabelComponent from '../../../../components/forms/inputTemplate/labelComponent/LabelComponent.vue';

    export default mixins(colorPickerMixin).extend({
        components: {LabelComponent},
        props: {
            value: {
                type: Object as () => Gradient,
                default: () => DEFAULT_GRADIENT,
            },
        },
        mixins: [colorPickerMixin],
        data() {
            return {
                gradientParser: new GradientParser(),
            };
        },
        computed: {
            gradient(): Gradient {
                let gradient = Object.assign({}, this.value);
                //@ts-ignore
                gradient.degree = parseInt(gradient.degree);
                gradient.points = gradient.points.map((point) => {
                    Object.keys(point).forEach((key) => {
                        //@ts-ignore
                        point[key] = key === 'alpha' ? parseFloat(point[key]) : parseInt(point[key]);
                    });
                    return point;
                });
                return gradient;
            },

            activatorColor(): string {
                return `background:${this.gradientParser.parse(this.gradient) || 'transparent'}`;
            },
        },
        methods: {
            onChange(gradient: Gradient): void {
                this.$emit('input', {
                    type: gradient.type,
                    degree: gradient.degree,
                    points: gradient.points,
                });
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "../colorPicker";
</style>
