<template>
    <div class="default">
        <Tabs v-model="tabsValue">
            <TabItem>
                <template slot="title">First title</template>
                First content
            </TabItem>
            <TabItem>
                <template slot="title">Second title</template>
                Second content
            </TabItem>
        </Tabs>
    </div>
</template>

<script>
    import Tabs from '../../../../src/components/tabs/Tabs';
    import TabItem from '../../../../src/components/tabs/TabItem';

    export default {
        components: {
            TabItem,
            Tabs,
        },
        data() {
            return {
                tabsValue: 1,
            };
        },
    };
</script>

<style scoped>

</style>
