<template>
    <div class="banner__preview__wrapper">
        <vue-plyr v-if="isEmbed" :options="options">
            <div :data-plyr-provider="videoEmbedInfo.type"
                 :data-plyr-embed-hash="videoEmbedInfo.hash"
                 :data-plyr-embed-id="videoEmbedInfo.id">
            </div>
        </vue-plyr>
        <video v-else :src="videoUrl"></video>
        <div class="banner__playButton" :style="playButtonStyle" @click="$emit('click')">
            <PlayButton/>
        </div>
    </div>
</template>

<script lang="ts">

    import Vue from 'vue';
    import {VideoEmbedInfo} from '../../utils/videos/VideoEmbedInfo';
    import PlayButton from './icons/PlayButton.vue';
    import {DEFAULT_PLYR_OPTIONS} from '../../components/banner/constants';

    export default Vue.extend({
        components: {
            PlayButton,
        },
        props: {
            videoUrl: {
                type: String,
                required: true,
            },
            primaryColor: {
                type: String,
            },
            secondaryColor: {
                type: String,
            },
            options: {
                type: Object,
                default: () => DEFAULT_PLYR_OPTIONS,
            },
        },
        data() {
            return {
                videoEmbedInfo: VideoEmbedInfo.isSupportedEmbedVideoUrl(this.videoUrl) ? new VideoEmbedInfo(this.videoUrl) : null,
            };
        },
        computed: {
            isEmbed(): boolean {
                return VideoEmbedInfo.isSupportedEmbedVideoUrl(this.videoUrl);
            },
            playButtonStyle(): any {
                return {
                    '--circle-color': this.primaryColor,
                    '--triangle-color': this.secondaryColor,
                };
            },
        },
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">
    @import "bannerVideo";
</style>
