@import "../../assets/scss/main.scss";
@import "banner";

.slide {
  height: $sliderHeight;
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
  width: 100%;
  @include large-block {
    @include row-flex;
    width: calc(100% + 20px);
  }
  @include medium-block {
    height: 280px;
  }
  @include small-block {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    width: 100%;
    flex-direction: column;
    padding-bottom: 100px;
  }

  &__wrapper {
    overflow: hidden;
    @include small-block {
      width: 100%;
      height: 100%;
    }

    &::v-deep {
      .plyr {
        &__poster {
          left: -1px;
          right: -1px;
          top: -1px;
          bottom: -1px;
        }
      }
    }
  }

  &__text {
    width: 600px;
    flex: 1 0 auto;

    @include large-block {
      @include col();
      flex: 0 1 auto;
    }
    @include size-large(5);
    @include size-medium(5);
    @include size-small(12);
    @include small-block {
      order: 1;
    }
  }

  &__heading {
    color: $gray1000;
    //todo: add new font const when ready
    @include titleOne;
    font-size: 36px;
    font-weight: $bold;

    @include large-block {
      font-size: 24px;
      line-height: 28px;
    }
    @include medium-block {
      font-size: 18px;
      line-height: 22px;
    }
    @include small-block {
      font-size: 20px;
      line-height: 24px;
      margin-top: 24px;
    }

  }

  &__description {
    color: $gray700;
    @include titleFour_one;
    font-weight: $regular;
    margin-top: 16px;
    @include medium-block {
      margin-top: 8px;
    }
    @include large-block {
      font-size: 16px;
      line-height: 20px;
    }
    @include medium-block {
      font-size: 14px;
      line-height: 16px;
    }
    @include small-block {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__button {
    margin-top: 40px;
    display: inline-flex;
    @include medium-block {
      margin-top: 32px;
    }
    @include small-block {
      margin-top: 24px;
      width: 100%;
      a {
        width: 100%;
      }
      &::v-deep {
        .buttonComponent__wrapper {
          width: 100%;

          .buttonComponent {
            width: 100%;
          }
        }
      }
    }
  }

  &__img {
    height: 100%;
    position: relative;
    width: 100%;

    img {
      position: absolute;
      left: 0;
      display: flex;
      top: 0;
      max-height: 100%;
    }
  }
}

.slide__img__container {
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  padding-left: 280px;
  z-index: 1;
  @include extraLarge-block {
    padding-left: 0;
  }
  @include large-block {
    @include col();
    margin-left: -10px !important;
  }
  @include size-large(7);
  @include size-medium(7);
  @include size-small(12);
  @include small-block {
    order: 0;
    margin-left: -16px !important;
    margin-right: -16px !important;
    width: calc(100% + 32px);
    height: auto;
  }
}

.slide__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include small-block {
    left: 0;
  }
}

.slide__img__wrapper {
  position: relative;
  width: 720px;
  height: 380px;
  @include medium-block {
    width: 530px;
    height: 280px;
  }
  @include small-block {
    height: 0;
    overflow: hidden;
    padding-top: 380px / 720px * 100%;
    background: transparent;
    width: auto;
  }
}
