<template>
    <div class="banner__preview__wrapper">
        <div class="banner__preview__small" v-if="isEmbed" :style="previewStyle">
        </div>
        <video v-else :src="videoUrl"></video>
    </div>
</template>

<script lang="ts">
    import BannerVideoPreview from '../../components/banner/BannerVideoPreview.vue';
    import mixins from 'vue-typed-mixins';

    export default mixins(BannerVideoPreview).extend({
        data() {
            return {};
        },
        computed: {
            previewStyle(): any {
                return {
                    backgroundImage: `url(${this.videoEmbedInfo ? this.videoEmbedInfo.thumbnail : ''})`,
                };
            },
        },
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">
    @import "bannerVideo";
</style>
