<template>
    <div class="slide__wrapper" :style="slideStyle">
        <div class="container">
            <div class="slide">
                <div class="slide__text">
                    <div class="slide__heading" :style="{color:titleColor}">
                        {{ slide.title }}
                    </div>
                    <div class="slide__description" :style="{color:descriptionColor}">
                        {{ slide.description }}
                    </div>
                    <div class="slide__button" v-if="slide.button_text">
                        <a :href="slide.button_url" :target="slide.button_target">
                            <ButtonComponent :background="buttonBackgroundColor"
                                             :color="buttonTextColor"
                                             wide>
                                {{ slide.button_text }}
                            </ButtonComponent>
                        </a>
                    </div>
                </div>
                <div class="slide__img__container">
                    <div class="slide__img__wrapper">
                        <ImageMask :mask="slide.mask" :color="backgroundColor"
                                   v-if="!withGradientBackground && slide.mask"/>
                        <div class="slide__img" :style="imageBackground" v-if="isImageMedia">
                        </div>
                        <div class="slide__img" v-else>
                            <BannerVideo :slide="slide"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Slide} from './types/Slide';
    import GradientParser from '../../utils/colors/GradientParser';
    import RGBAColorParser from '../../utils/colors/RGBAColorParser';
    import {Gradient} from '../../components/utils/colors/types/Gradient';
    import {RGBAColor} from '../../components/utils/colors/types/RGBAColor';
    import ButtonComponent from '../../components/buttonComponent/ButtonComponent.vue';

    import ImageMask from '../../components/utils/imageMask/ImageMask.vue';
    import BannerVideo from './BannerVideo.vue';
    import mixins from 'vue-typed-mixins';
    import bannerStylesMixin from '../../components/banner/mixins/bannerStylesMixin';

    import {hasImageExtension} from '../../utils/files';
    import {BACKGROUND_SCALE_MODE} from '../utils/image/constants';

    export default mixins(bannerStylesMixin).extend({
        components: {
            ImageMask,
            ButtonComponent,
            BannerVideo,
        },
        props: {
            slide: Object as () => Slide,
        },
        data() {
            return {
                colorParser: new RGBAColorParser(),
                gradientParser: new GradientParser(),
            };
        },
        computed: {
            isImageMedia(): boolean {
                if (this.slide.background_media) {
                    return hasImageExtension(this.slide.background_media);
                }
                return false;
            },
            slideStyle(): any {
                let backgroundStyle = this.withGradientBackground ? this.gradientParser.parse(this.slide.background_color as Gradient) : this.backgroundColor;
                return {
                    background: backgroundStyle,
                };
            },
            backgroundColor(): string {
                return this.colorParser.parse(this.slide.background_color as RGBAColor);
            },
            withGradientBackground(): boolean {
                return this.slide.background_color.hasOwnProperty('type');
            },
            imageBackground(): string {
                let scaleModel = 'cover';
                if (this.slide.background_scale_mode && this.slide.background_scale_mode === BACKGROUND_SCALE_MODE.FIT) {
                    scaleModel = 'contain';
                }
                return `background:center / ${scaleModel} no-repeat url(${this.slide.background_media})`;
            },
        },
    });
</script>

<style scoped lang="scss">
    @import "bannerSlide";
</style>
