@import "../../assets/scss/main.scss";

@mixin absoluteBlock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  &__video {
    @include absoluteBlock;

    video {
      max-height: 100%;
      min-width: 100%;
      height: auto;
      pointer-events: none !important;
      background-color: #000000;
      position: sticky;
      position: -webkit-sticky;
      overflow: hidden;
      z-index: -1;
    }
  }

  &__playButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: pulse 2s infinite;
    border-radius: 200px;
    z-index: 3;

    svg {

      &::v-deep {
        circle {
          fill: var(--circle-color, $primary);
        }

        path {
          fill: var(--triangle-color, $secondary);
        }
      }
    }
  }

  &__preview {
    @include absoluteBlock;

    &__wrapper {
      @include absoluteBlock;
      max-height: 100%;

      video {
        max-height: 100%;
        min-width: 100%;
        height: auto;
        pointer-events: none !important;
        background-color: #000000;
      }

      & > div {
        &:not(.banner__playButton) {
          width: 100%;
          height: 100%;
        }
      }

      &::v-deep {
        .plyr {
          width: 100%;
          pointer-events: none !important;

          &__captions {
            display: none;
          }

          &__control {
            display: none;
          }

          &__controls {
            display: none;
          }
        }
      }
    }

    &__small {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #000000;
    }
  }


}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--circle-color, $primary);
  }

  70% {
    box-shadow: 0 0 0 32px hsla(0, 0%, 100%, 0)
  }

  to {
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0)
  }
}
