<template>
    <div class="banner__video" v-if="videoIsReady">
        <BannerVideoPreview
            :videoUrl="videoUrl"
            :primaryColor="buttonBackgroundColor"
            :secondaryColor="buttonTextColor"
            :options="options"
            @click="showDialog = true"
        />
        <VideoDialog v-model="showDialog">
            <div>
                <vue-plyr v-if="isEmbed" :options="options">
                    <div :data-plyr-provider="videoEmbedInfo.type"
                         :data-plyr-embed-hash="videoEmbedInfo.hash"
                         :data-plyr-embed-id="videoEmbedInfo.id">
                    </div>
                </vue-plyr>
                <vue-plyr
                    v-else
                    :options="options"
                    ref="plyr">
                    <video ref="videoTag" :src="videoUrl"></video>
                </vue-plyr>
            </div>
        </VideoDialog>
    </div>
</template>

<script lang="ts">
    import PlayButton from './icons/PlayButton.vue';
    import mixins from 'vue-typed-mixins';
    import bannerStylesMixin from '../../components/banner/mixins/bannerStylesMixin';
    import {DIALOG_SIZE_EXTRA_LARGE} from '../../components/popupElements/dialogWrapper/constants';
    import VideoDialog from '../../components/popupElements/dialogWrapper/VideoDialog.vue';
    import BannerVideoPreview from '../../components/banner/BannerVideoPreview.vue';
    import {VideoEmbedInfo} from '../../utils/videos/VideoEmbedInfo';
    import {DEFAULT_PLYR_OPTIONS, DEFAULT_RATIO} from '../../components/banner/constants';

    export default mixins(bannerStylesMixin).extend({
        components: {
            BannerVideoPreview,
            VideoDialog,
            PlayButton,
        },
        data() {
            return {
                showDialog: false,
                DIALOG_SIZE_EXTRA_LARGE: DIALOG_SIZE_EXTRA_LARGE,
                videoEmbedInfo: null as VideoEmbedInfo | null,
                videoIsReady: true,
            };
        },
        computed: {
            isEmbed(): boolean {
                return !!this.slide.embed_video_url;
            },
            videoUrl(): string | null {
                if (this.isEmbed) {
                    return this.slide.embed_video_url;
                }
                return this.slide.background_media;
            },
            playButtonStyle(): any {
                return {
                    '--circle-color': this.buttonBackgroundColor,
                    '--triangle-color': this.buttonTextColor,
                };
            },
            options(): any {
                return {
                    ...DEFAULT_PLYR_OPTIONS,
                    ratio: this.isEmbed ? null : DEFAULT_RATIO,
                };
            },
        },
        watch: {
            videoUrl(): void {
                this.videoIsReady = false;
                this.$nextTick(() => {
                    this.setVideoEmbedInfo();
                    this.videoIsReady = true;
                });
            },
        },
        methods: {
            setVideoEmbedInfo(): void {
                this.videoEmbedInfo = VideoEmbedInfo.isSupportedEmbedVideoUrl(this.slide.embed_video_url!) ? new VideoEmbedInfo(this.slide.embed_video_url!) : null;
            },
        },
        beforeMount() {
            this.setVideoEmbedInfo();
        },
    });

</script>

<style scoped lang="scss">
    @import "bannerVideo";
</style>
