@import "../../assets/scss/main.scss";

$sliderHeight: 380px;
@mixin buttonsMinusMargin {
  margin-top: calc(-48px - 40px * 2);
  @include medium-block {
    margin-top: calc(-40px - 20px * 2);
  }
}

.slider {
  width: 100%;
  position: relative;

  &__wrapper {
    height: $sliderHeight;
    position: relative;
    @include medium-block {
      height: 280px;
    }
    @include small-block {
      height: auto;
    }
    overflow: hidden;
  }

  &::v-deep {
    .agile {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &__slide {
        height: 100%;
      }

      &__dots {
        display: none;
        @include small-block {
          display: flex;
        }
      }

      &__actions {
        @include container;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        top: 100%;
        @include small-block {
          top: inherit;
        }

        button {
          &.agile {
            &__nav {
              &-button {
                padding: 0;
                margin: 0;
                border: none;
                border-radius: $borderRadius;
                background: none;
                z-index: 1;
                @include buttonsMinusMargin;
                @include small-block {
                  display: none;
                }

                &--prev {
                  margin-right: 16px;
                }
              }
            }
          }
        }

        @include small-block {
          display: flex;
          position: absolute;
          bottom: 16px;
          justify-content: center;
          width: 100%;
          z-index: 2;
          align-items: center;
        }

        .agile {
          &__dot {
            outline: none;

            button {
              outline: none;
              width: 6px;
              height: 6px;
              background: $white;
              opacity: 0.4;
              border-radius: 100px;
              cursor: pointer;
              position: relative;
              border: none;
              padding: 0;
            }

            &--current {
              button {
                height: 8px;
                width: 8px;
                opacity: 0.9;

                &::before {
                  content: '';
                  position: absolute;
                  width: 4px;
                  height: 4px;
                  border-radius: 100px;
                  background: $gray1000;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  margin: 2px;
                  z-index: 3;
                }
              }
            }

            &:not(:last-child) {
              button {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}
