<template>
    <div class="slider__wrapper" v-if="slides && bannerIsReady">
        <div class="slider">
            <VueAgile
                ref="slider"
                :navButtons="showNavigation"
                :infinite="loop"
                :autoplay="shouldApplyAutoplay"
                :speed="animationDelay"
                :initialSlide="initialSlide"
                :autoplaySpeed="autoplayDelay">
                <div v-for="(slide, index) in orderedSlides"
                     :key="slide.order">
                    <BannerSlide
                        :slide="slide"/>
                </div>
                <div class="slider__prev" slot="prevButton">
                    <ButtonComponent fab white wide>
                        <ArrowLeftIcon/>
                    </ButtonComponent>
                </div>
                <div class="slider__next" slot="nextButton">
                    <ButtonComponent fab white wide>
                        <ArrowRightIcon/>
                    </ButtonComponent>
                </div>
            </VueAgile>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import BannerSlide from './BannerSlide.vue';
    import ArrowLeftIcon from '../icons/ArrowLeftIcon.vue';
    import ArrowRightIcon from '../icons/ArrowRightIcon.vue';
    import ButtonComponent from '../../components/buttonComponent/ButtonComponent.vue';
    import {VueAgile} from 'vue-agile';
    import {Slide} from '../../components/banner/types/Slide';
    import _ from 'lodash';

    export const SLIDER_OPTIONS = {
        pagination: {
            el: '.slider__pagination',
            clickable: true,
        },
    };

    export const SLIDER_AUTOPLAY_OPTIONS = {
        stopOnLastSlide: false,
        disableOnInteraction: false,
    };

    export default Vue.extend({
        components: {
            BannerSlide,
            ArrowLeftIcon,
            ArrowRightIcon,
            ButtonComponent,
            VueAgile,
        },
        props: {
            slides: Array as () => Slide[],
            loop: {
                type: Boolean,
                default: true,
            },
            autoplay: {
                type: Boolean,
                default: true,
            },
            autoplayDelay: {
                type: Number,
                default: 5000,
            },
            animationDelay: {
                type: Number,
                default: 1000,
            },
            initialSlide: {
                type: Number,
                default: 0,
            },
        },
        data() {
            return {
                swiperOptions: {},
                bannerIsReady: false,
            };
        },
        computed: {
            slider(): any {
                // @ts-ignoreshowNavigation
                return this.$refs.slider;
            },
            showNavigation(): boolean {
                return this.slides.length > 1;
            },
            orderedSlides(): Slide[] {
                return _.orderBy(this.slides, ['order']);
            },
            shouldApplyAutoplay(): boolean {
                return this.slides.length > 1 ? this.autoplay : false;
            },
        },
        watch: {
            slides: {
                handler(): void {
                    this.refreshBanner();
                },
                deep: true,
            },
            loop() {
                this.refreshBanner();
            },
            autoplay() {
                this.refreshBanner();
            },
            autoplayDelay() {
                this.refreshBanner();
            },
            animationDelay() {
                this.refreshBanner();
            },
            initialSlide() {
                this.refreshBanner();
            },

        },
        methods: {
            goToNextSlide() {
                this.slider.goToNext();
            },
            goToPrevSlide() {
                this.slider.goToPrev();
            },
            refreshBanner(): void {
                this.bannerIsReady = false;
                this.$nextTick(() => {
                    this.bannerIsReady = true;
                });
            },
        },
        mounted() {
            this.bannerIsReady = true;
        },
    });
</script>

<style lang="scss" scoped>
    @import "banner";

</style>
