<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" fill="none">
        <circle cx="44" cy="44" r="44" fill="#fff"></circle>
        <path d="M62 40.535c2.667 1.54 2.667 5.389 0 6.928L38 61.32c-2.667 1.54-6-.385-6-3.465V30.143c0-3.08 3.333-5.004 6-3.464l24 13.856z" fill="#615DEC"></path>
    </svg>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        data() {
            return {};
        },
        computed: {},
        watch: {},
        methods: {},
    });

</script>

<style scoped lang="scss">

</style>
