@import "../../../../assets/scss/main";

.labelComponent {
  animation: none;
  @include textTwo;
  font-weight: $medium;
  color: $gray1000;
  max-width: 100%;
  transform: none;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 8px;
  text-overflow: ellipsis;

  &__disabled {
    color: $gray60;
  }

}
